html,body,.container{height:100%}.mainvisual{background-image:url(../images/background-photo.jpg);background-position:center center;background-repeat:no-repeat;background-attachment:fixed;background-size:cover}.about{background-image:url(../images/about_bg.jpg);background-size:cover;padding:100px 0}
