footer{padding:30px 0;color:#FFF;text-align:center;background-color:#002a31}.sosmed{margin:0 0 20px 0}.sosmed li{display:inline-block;padding:0 6px}.sosmed li i{display:block;width:22px;padding:10px;color:#fff;font-size:20px;border-radius:50%}.sosmed li i:hover{opacity:.7}.sosmed li i.fa-facebook{background-color:#4867AA}.sosmed li i.fa-twitter{background-color:#00aced}.sosmed li i.fa-instagram{background-color:#527ea6}.sosmed li i.fa-youtube{background-color:#dc4b3e}
