@charset 'utf-8';
/* ==========================================================================
Author        :  Arif Lutfhansah
Create        :  21 Agustus 2017
Last Update   :  21 Agustus 2017

Contents  :
  1: Body Section
  
========================================================================== */

/*
  Color
-------------------------------------*/
$color : #D3A039;
$primary-bg : #D3A039;
$secondary-bg : #7D726E;
$third-bg : #A4721F;


/*
  Slider
-------------------------------------*/
.my-slider {
	position: relative;
	box-shadow: inset 0 0 0 1000px rgba(0,0,0,.4);
	.slide {
	 	color: #FFF;
	 	height: 800px;
	 	&.slide_1 {
	 		background: url('../images/slider_01.jpg') no-repeat center center;
	 		background-size: 100% auto;
	 	}
	 	&.slide_2 {
	 		background: url('../images/slider_01.jpg') no-repeat center center;
	 		background-size: 100% auto;
	 	}
	}
}
.as-wrap {
	display:none;
 	position: relative;
 	width: 100%;
 	opacity: 0;
 	overflow: hidden;
 	transition: opacity 1s ease-out;
 	&.loaded {
 		opacity: 1;
 	}
 	&.hovering-marker {
 		.as-nav {
 			a {
 				opacity: 1;
 			}
 		}
 	}
 	.as-view {
 		position: relative;
	 	width:100%;
	 	height: 630px;
	 	overflow: hidden;
	 	.as-slider {
	 		position: absolute;
	 		padding: 0;
	 		margin: 0;
		 	list-style: none;
		 	transition: left 1s ease-in-out;
		 	&.no-transition {
		 		transition: none;
		 	}
		 	.as-item {
		 		float: left;
		 		position: relative;
			 	padding: 0;
			 	margin: 0;
			 	overflow: hidden;
		 	}
	 	}
 	}
 	.as-progress {
 		position: relative;
	 	width: 100%;
	 	min-height:5px;
	 	margin-top:-5px;
	 	background: transparent;
	 	overflow: hidden;
	 	z-index:2;
	 	.as-progress-value {
	 		position: absolute;
		 	top:0;
		 	left:0;
		 	min-width: 0;
		 	width:0;
		 	max-width: 100%;
		 	min-height: 5px;
		 	background: #e95095;
	 	}
 	}
 	.as-nav {
 		a {
		 	position: absolute;
		 	top: 0;
		 	width: 50px;
		 	height: 100%;
		 	color: #FFF;
		 	text-align: center;
		 	opacity: 0;
		 	z-index:2;
		 	transition: opacity .4s ease-out;
		 	&:hover {
		 		color: #000;
 				opacity: 1;
		 	}
		 	span {
		 		display:block;
		 		position: absolute;
			 	top: 50%;
			 	left: 0;
			 	margin-top: -40px;
			 	width: 50px;
			 	height: 80px;
			 	background: #2979FF;
			 	font-size: 2em;
			 	line-height: 80px;
		 	}
 		}
 		.dir-prev {
 			left: 0;
 		}
 		.dir-next {
 			right: 0;
 		}
 	}
 	.as-markers {
 		display: none;
 		padding: 0;
 		margin: 0;
 		list-style: none;
 		text-align: center;
 		.as-mark {
 			display:inline-block;
 			margin:10px 5px 0 5px;
 			&.active {
				a {
					color: #2979FF;
				}
			}
 			a {
 				display: block;
 				color: #ccc;
 				text-decoration: none;
 				&:hover {
 					color: #2979FF;
 				}
 				span {
 					display:block;
				 	width: 10px;
				 	height: 10px;
				 	font-size: 40px;
				 	line-height: 10px;
 				}
 			}
 		}
 	}
}



/*
  Profile
-------------------------------------*/
.profile {
	padding: 6rem 0;
	background-image: url('../images/back_01.png');
	background-size: cover;
	.col-md-6 {
		padding: 0 1.5rem;
		.heading {
			font-family: open sans,sans-serif;
			margin: 0 0 1.5rem;
			color: #333;
			font-size: 38px;
		    font-weight: 400;
		    letter-spacing: 0;
		    line-height: 1.4;
		}
		.paragraph {
			color: #666;
			font-size: 16px;
			font-weight: 400;
    		line-height: 28px;
		}
		.list {
			margin: 0 0 1.8rem 0;
			ol {
				list-style-type: decimal;
				li {
					display: list-item;
  					list-style-position: outside;
					color: #666;
					font-size: 16px;
					font-weight: 400;
		    		line-height: 28px;
		    		span {
		    			color: #2979FF;
		    			font-size: 16px;
		    			font-weight: 700;
		    		}
		    		ol {
		    			margin: 0 0 0 20px;
		    			list-style-type: disc;
		    		}		
		    	}
			}
		}
		.button {
			li {
				display: inline-block;
				margin-right: 1rem;
				a {
				    font-size: 16px;
				    font-weight: 600;
				    line-height: 2.8;
				    padding: .5em 1.8em;
				    border-radius: .3em;
				    letter-spacing: 0;
				    text-transform: uppercase;
				    box-shadow: 0 0 0 rgba(0,0,0,.18);
					&.email {
						color: #FFF;
						background-color: #2979FF;
					}
					&.whatsapp {
						color: #FFF;
						background-color: #00796B;
					}
					&.call {
						color: #666;
						background-color: #e8e8e8;
					}
					&:hover {
						opacity: .7;
					}
				}
			}
		}
	}
	.picture {
		margin-top: 80px;
	}
}

/*
  Registration
-------------------------------------*/
.registration {
	padding: 18rem 0;
	background-image: url('../images/back_02.png');
	background-size: cover;
	.column {
		width: 544px;
		margin: 0 auto;
		.choice {
			display: inline-block;
			padding: 0 50px;
			text-align: center;
		}
		img {
			margin: 30px 0 20px 0;
			zoom: .6;
		}
		.category {
			width: 170px;
			margin: 0 auto;
			color: #272F56;
			font-size: 20px;
			font-weight: 700;
		}
		.button {
			a {
				color: #2979FF;
			    font-size: 14px;
			    font-weight: 600;
			    line-height: 2.8;
			    padding: .5em 1.8em;
			    border-radius: 30px;
			    letter-spacing: 0;
			    text-transform: uppercase;
			    border: 1px solid #2979FF;
			    box-shadow: 0 0 0 rgba(0,0,0,.18);
			    &:hover {
					opacity: .7;
				}
			}
		}
	}
}

/*
  Sidebar
-------------------------------------*/
.sidebar {
	width: 270px;
	div {
		margin: 0 0 25px;
		.title-widget {
			display: block;
			padding: 3px 10px;
			color: #FFF;
			font-size: 17px;
			font-weight: 700;
			text-shadow: 2px 3px 3px rgba(0,0,0,0.1);
			text-transform: uppercase;
			background-image: url(../images/widget-bg.jpg);
	    	background-repeat: no-repeat;
	    	background-position: -30px 0; 
		}
	}
}

@media screen and (max-width: 1290px) {
	.picture img {
		zoom: .8;
	}
}
@media screen and (max-width: 1082px) {
	.picture img {
		zoom: .6;
	}
}

@media screen and (max-width: 992px) {
	/*
	  Pimpinan
	-------------------------------------*/
	.pimpinan {
		background: $primary-bg; 
	    background: -webkit-linear-gradient($primary-bg, $third-bg);
	    background: -o-linear-gradient($primary-bg, $third-bg);
	    background: -moz-linear-gradient($primary-bg, $third-bg);
	    background: linear-gradient($primary-bg, $third-bg);
	    .title {
	    	padding: 2px 0;
	    	color: #FFF;
	    	font-size: 18px;
	    	letter-spacing: .5px;
	    	text-align: center;
	    	text-transform: uppercase;
	    	background-image: url(../images/title-bg.png);
	    	background-repeat: no-repeat;
	    	background-position: center;
	    	text-shadow: 2px 3px 3px rgba(0,0,0,0.3);
	    }
	    .picture {
	    	padding: 25px 0;
	    	ul {
	    		column-count: 1;
			    -webkit-column-count: 1;
			    -moz-column-count: 1;
			    li {
			    	margin: 0 0 20px;
			    	img {
			    		zoom: 1;
			    	}
			    }
	    	}
	    }
	}

	/*
	  Block
	-------------------------------------*/
	.block {
		width: 100%;
	}

	/*
	  Berita
	-------------------------------------*/
	.berita {
		float: none;
		width: 93%;
		margin: 0 auto 65px;
		background-color: #F4F4F4;
		border: 1px solid #E0E0E0;
		.list-news {
		  	padding: 15px 15px 20px;
		  	border-bottom: 1px dotted $color;
		  	clear: both;
		  	&:last-of-type {
		  		border: none;
		  	}
		  	&.big {
		  		padding: 0;
		  		.col-md-4 {
		  			width: 100%;
		  			margin: 0;
		  			.title {
		  				position: relative;
					    top: 33px;
					    margin-top: -33px;
		  				padding: 2px 10px 4px;
		  				color: #FFF;
		  				font-size: 18px;
		  				font-weight: 700;
		  				text-transform: uppercase;
		  				text-shadow: 2px 3px 3px rgba(0,0,0,0.1);
		  				background-image: url(../images/title2-bg.png);
				    	background-repeat: no-repeat;
				    	z-index: 9;
		  			}
		  			img {
		  				width: 100%;
		  			}
		  		}
		  		.col-md-8 {
		  			width: 100%;
		  			padding: 15px 15px 20px;
		  		}
		  	}
		  	.col-md-4 {
		  		width: 24%;
		  		float: left;
		  		margin-right: 20px;
		  		img {
		  			padding: 6px 0 0;
		  		}
		  	}
			.col-md-8 {
				width: 72%;
				float: left;
				.field-news {
				  	display: inline-block;
				  	margin: 0;
				  	.caption {
				  		display: block;
						padding: 0 0 4px;
					  	font-size: 18px;
					  	font-weight: 700;
					  	line-height: 26px;
					}
					time {
						display: block;
						padding: 0 0 5px;
						color: $color;
					}
					.detail {
						height: 64px;
					  	padding-top: 0;
					  	color: #656565;
					  	font-size: 14px;
					  	line-height: 22px;
					  	overflow: hidden;
					}
				}
			}
		}
		.more {
			display: block;
			padding: 5px 0;
			color: #FFF;
			font-size: 16px;
			font-weight: 700;
			text-align: center;
			text-transform: uppercase;
			border: 1px solid $secondary-bg;
			background-color: $secondary-bg;
			&:hover {
				color: #757575;
				border-color: #E0E0E0;
				border-left: none;
				border-right: none;
				background-color: #FFF;
			}
		}
	}
	/*
	  Sidebar
	-------------------------------------*/
	.sidebar {
		float: none;
		display: block;
		width: 270px;
		margin: 0 auto;
		div {
			margin: 0 0 25px;
			.title-widget {
				display: block;
				padding: 3px 10px;
				color: #FFF;
				font-size: 17px;
				font-weight: 700;
				text-shadow: 2px 3px 3px rgba(0,0,0,0.1);
				text-transform: uppercase;
				background-image: url(../images/widget-bg.jpg);
		    	background-repeat: no-repeat;
		    	background-position: -30px 0; 
			}
		}
	}

	/*
	  Mosaic
	-------------------------------------*/
	.mosaic img {
		width: 100%;
	}
}

@media screen and (max-width: 1078px) {
	.my-slider {
		.slide {
			height: 400px;
		}
	}
	.as-wrap .as-view {
	    height: 400px;
	}
}

@media screen and (max-width: 768px) {
	.my-slider {
		.slide {
			height: 400px;
		}
	}
	.as-wrap .as-view {
	    height: 400px;
	}
	.block {
		.container {
			padding: 0 20px;
			.picture {
				margin-top: 40px;
				img {
					width: 100%;
					zoom: 1;
				}
			}
		}
	}
	.registration {
		padding: 2rem 0;
		.column {
			width: 100%;
			.choice {
				display: block;
				padding: 0;
				margin: 60px 0;
			}
		}
	}
	.profile .col-md-6 .heading {
    	font-size: 30px;
	}
}
@media screen and (max-width: 430px) {
	.my-slider {
		.slide {
			height: 240px;
		}
	}
	.as-wrap .as-view {
	    height: 240px;
	}
	.profile {
		padding: 4rem 0;
	}
}
@media screen and (max-width: 380px) {
	.my-slider {
		.slide {
			height: 210px;
		}
	}
	.as-wrap .as-view {
	    height: 210px;
	}
}
@media screen and (max-width: 320px) {
	.my-slider {
		.slide {
			height: 180px;
		}
	}
	.as-wrap .as-view {
	    height: 180px;
	}
	.profile {
		padding: 3rem 0;
	}
}