@charset 'utf-8';
/* ==========================================================================
Author        :  Arif Lutfhansah
Create        :  21 Agustus 2017
Last Update   :  21 Agustus 2017

Contents  :
  1: Header Section
  
========================================================================== */

/*
  Color
-------------------------------------*/
$color : #D3A039;
$primary-bg : #D3A039;
$secondary-bg : #7D726E;

/*
  Header
-------------------------------------*/
header {
	position: absolute;
	right: 0;
    left: 0;
    padding: 15px 50px;
    z-index: 99;
    background-color: rgba(0,0,0,0);
    /*box-shadow: 0 1px 3px rgba(0,0,0,.3);*/
    transition: background-color 0.5s ease, padding 0.5s ease;
}

/* --- Navigation --- */
nav li {
	display: inline-block;
	&:hover {
		a {
			border-radius: 40px;
			border: 1px solid #ffffff;
		}
	}
	a {
		font-family: 'Roboto', sans-serif;
		display: block;
		padding: 5px 10px;
		margin: 5px;
		color: #FFF;
		font-size: 14px;
		letter-spacing: 1px;
		border: 1px solid transparent;
		-webkit-transition:all 0.3s ease;
		-moz-transition:all 0.3s ease;
		-o-transition:all 0.3s ease;
		transition: all 0.3s ease;
	}
}

/* --- Social Media Header --- */
.sosmed-header li {
	display: inline-block;
	&:hover {
		a {
			color: $primary-bg;
		}
	}
	a {
		display: block;
		padding: 6.5px 8px;
		color: #FFF;
		font-size: 18px;
		-webkit-transition:all 0.3s ease;
		-moz-transition:all 0.3s ease;
		-o-transition:all 0.3s ease;
		transition: all 0.3s ease;
	}
}

/*
  Header Mobile
-------------------------------------*/
.header-mobile {
	.logo-mobile {
		display: none;
	}
	.navbar {
		display: none;
		.navbar-toggle {
		    position: relative;
		    float: right;
		    padding: 9px 10px;
		    margin: 15px 15px 15px 0;
		    background-color: rgba(0, 0, 0, 0);
		    background-image: none;
		    border: 1px solid rgba(0, 0, 0, 0);
		    border-radius: 4px;
		    border-color: #ddd;
		    .sr-only {
			    position: absolute;
			    width: 1px;
			    height: 1px;
			    margin: -1px;
			    padding: 0;
			    overflow: hidden;
			    clip: rect(0, 0, 0, 0);
			    border: 0;
			}
			.icon-bar {
			    display: block;
			    width: 22px;
			    height: 2px;
			    border-radius: 1px;
			    background-color: #888;
			    + .icon-bar {
				    margin-top: 4px;
				}
			}
		}
	}
}

/*
  Menu Mobile
-------------------------------------*/
.menu-mobile {
	display: none;
}


@media screen and (max-width: 768px) {
	.logo {
		img {
			zoom: .5;
		}
	}
}
@media screen and (max-width: 380px) {
	.logo {
		img {
			zoom: .4;
		}
	}
}
@media screen and (max-width: 320px) {
	.logo {
		img {
			zoom: .35;
		}
	}
}