@charset 'utf-8';
/* ==========================================================================
Author        :  Arif Lutfhansah
Create        :  20 April 2018
Last Update   :  20 April 2018

Contents  :
  1: Body Section
  
========================================================================== */
main {
	position: relative;
	top: 112px;
}

/*
  Color
-------------------------------------*/
section {
	padding: 200px 0;
}

/* --- Main Visual --- */
.mainvisual {
	padding: 0;
	img {
		width: 100%;
		object-fit: cover;
	}
}

/* --- About --- */
.about {
	background-image: url('../images/bg01.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}
.row {
	.image {
		width: 377px;
		margin: 80px 70px 0;
	}
	.description {
		width: 730px;
		.title {
			margin-bottom: 30px;
			color: $color;
			font-size: 40px;
			font-weight: 700;
			text-transform: uppercase;
		}
		.caption {
			color: #2F565F;
			font-size: 20px;
		}
	}
}

/* --- Competition --- */
.competition {
	padding: 0;
	img {
		width: 100%;
		object-fit: cover;
	}
}

/* --- Article --- */
.article {
	padding: 80px 0;
	text-align: center;
	.item {
		float: left;
		width: 300px;
		margin: 20px 60px;
		&:nth-child(2) {
    		@include animation-delay(.2s);
    	}
    	&:nth-child(3) {
    		@include animation-delay(.4s);
    	}
    	&:nth-child(4) {
    		@include animation-delay(.6s);
    	}
    	&:nth-child(5) {
    		@include animation-delay(.8s);
    	}
    	&:nth-child(6) {
    		@include animation-delay(1s);
    	}
	}
	.title {
		margin-bottom: 20px;
		color: $color;
		font-size: 40px;
		font-weight: 700;
		text-transform: uppercase;
	}
	.caption {
		margin-top: 5px;
		color: #2F565F;
		font-size: 18px;
		font-weight: 700;
	}
}

/* --- Video --- */
.video {
	padding: 80px 0;
	text-align: center;
	background-image: url('../images/bg02.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	.title {
		margin-bottom: 20px;
		color: $color;
		font-size: 40px;
		font-weight: 700;
		text-transform: uppercase;
	}
	.item {
		.caption {
			margin-top: 10px;
			color: #2F565F;
			font-size: 24px;
			font-weight: 700;
		}
	}
}

/* --- Registration --- */
.registration {
	padding: 120px 0;
	.image {
		margin: -90px 70px 0;
	}
}

/* --- Sponsor --- */
.sponsor {
	padding: 60px 0 80px;
	background-color: #F5F5F5;
	text-align: center;
	.title {
		padding-bottom: 20px;
		color: #022A30;
		font-size: 18px;
	}
	img {
		display: inline-block;
		width: 250px;
		padding: 0 30px;
		margin: 0 auto;
	}
}

/* --- Button --- */
.btn {
	position: relative;
    top: 30px;
	padding: 5px 25px 8px;
	color: #FFF;
	font-size: 20px;
	font-weight: 700;
	background-color: #EE6163;
	border-radius: 7px;
}