@charset 'utf-8';
/* ==========================================================================
Author        :  Arif Lutfhansah
Create        :  20 April 2018
Last Update   :  20 April 2018

Source  :
  1: Arif Framework The MIT License (MIT) Copyright (c) Arif Lutfhansah
  2: Bootstrap Framework The MIT License (MIT) Copyright (c) Bootstrap
  3: Materialize Framework The MIT License (MIT) Copyright (c) 2014-2017 Materialize

Contents  :
  1: Header Section

  Copyright (c) 2018 Arif Lutfhansah
  
========================================================================== */

/*
  Color
-------------------------------------*/
$color : #DE1F83;
$color2 : #5B8EB5;
$primary-bg : #D3A039;
$secondary-bg : #7D726E;
$background: #F4F4F4;

/*
  Header
-------------------------------------*/
header {
	position: fixed;
	width: 100%;
	height: 112px;
	z-index: 99;
	background-color: $background;
	@include transition(.4s);
}
/* --- Logo --- */
.logo img {
	display: block;
	margin: 31.5px auto;
	cursor: pointer;
	@include transition(.4s);
	&:hover {
		opacity: .8;
	}
}
/* --- Navigation --- */
nav {
	position: relative;
    top: 40px;
    li {
    	display: inline-block;
    	&:nth-child(2) {
    		@include animation-delay(.2s);
    	}
    	&:nth-child(3) {
    		@include animation-delay(.4s);
    	}
    	&:nth-child(4) {
    		@include animation-delay(.6s);
    	}
    	&:nth-child(5) {
    		@include animation-delay(.8s);
    	}
		&:hover {
			a {
				color: $color;
			}
		}
    }
    a {
		display: block;
		padding: 0 12px;
		color: $color2;
		font-size: 20px;
		font-weight: 700;
		text-transform: uppercase;
		@include transition(.4s);
	}
}

/*
  Header Mobile
-------------------------------------*/
.logo-mobile, .navbar {
	display: none;
}
.header-mobile {
	.navbar {
		display: none;
		.navbar-toggle {
		    position: relative;
		    float: right;
		    padding: 9px 10px;
		    margin: 15px 15px 15px 0;
		    background-color: rgba(0, 0, 0, 0);
		    background-image: none;
		    border: 1px solid rgba(0, 0, 0, 0);
		    border-radius: 4px;
		    border-color: #ddd;
		    .sr-only {
			    position: absolute;
			    width: 1px;
			    height: 1px;
			    margin: -1px;
			    padding: 0;
			    overflow: hidden;
			    clip: rect(0, 0, 0, 0);
			    border: 0;
			}
			.icon-bar {
			    display: block;
			    width: 22px;
			    height: 2px;
			    border-radius: 1px;
			    background-color: #888;
			    + .icon-bar {
				    margin-top: 4px;
				}
			}
		}
	}
}

/*
  Menu Mobile
-------------------------------------*/
.navbar {
	display: none;
}