@charset 'utf-8';
/* ==========================================================================
Author        :  Arif Lutfhansah
Create        :  20 April 2018
Last Update   :  20 April 2018

Source  :
  1: Arif Framework The MIT License (MIT) Copyright (c) Arif Lutfhansah
  2: Bootstrap Framework The MIT License (MIT) Copyright (c) Bootstrap
  3: Materialize Framework The MIT License (MIT) Copyright (c) 2014-2017 Materialize

Contents  :
  1: Media Query for MDPI (width 993px-1082px) Section

  Copyright (c) 2018 Arif Lutfhansah
  
========================================================================== */

@media screen and (min-width: 993px) and (max-width: 1082px) {
	/* --- Navigation ---- */
	nav {
		display: none;
	}
	.navbar {
		display: block;
		.navbar-toggle {
		    position: relative;
		    top: 35px;
		    float: right;
		    padding: 9px 10px;
		    background-color: rgba(0, 0, 0, 0);
		    background-image: none;
		    border: 1px solid rgba(0, 0, 0, 0);
		    border-radius: 4px;
		    border-color: #ddd;
		    .sr-only {
			    position: absolute;
			    width: 1px;
			    height: 1px;
			    margin: -1px;
			    padding: 0;
			    overflow: hidden;
			    clip: rect(0, 0, 0, 0);
			    border: 0;
			}
			.icon-bar {
			    display: block;
			    width: 22px;
			    height: 2px;
			    border-radius: 1px;
			    background-color: #888;
			    + .icon-bar {
				    margin-top: 4px;
				}
			}
		}
	}
}