@charset 'utf-8';
/* ==========================================================================
Author        :  Arif Lutfhansah
Create        :  21 Agustus 2017
Last Update   :  21 Agustus 2017

Source  :
  1: Arif Framework The MIT License (MIT) Copyright (c) Arif Lutfhansah
  2: Bootstrap Framework The MIT License (MIT) Copyright (c) Bootstrap
  3: Materialize Framework The MIT License (MIT) Copyright (c) 2014-2017 Materialize

Contents  :
  1: Body Section

  Copyright (c) 2017 Arif Lutfhansah
  
========================================================================== */

/*
  Color
-------------------------------------*/
$color : #D3A039;
$primary-bg : #D3A039;
$secondary-bg : #7D726E;
$third-bg : #A4721F;

