/*
Error: Invalid US-ASCII character "\xC2"
        on line 133 of /Applications/XAMPP/xamppfiles/htdocs/sindonews/portofolio/resources/views/index.blade.php

128: 						</div>
129: 					</div>
130: 				</section>
131: 				<section id="copyright">
132: 					<div class="column clearfix">
133: 						<div class="copyright pull-left">© 2016-2017 Arif Lutfhansah, All rights reserved.</div>
134: 						<div class="lisence pull-right">MIT License</div>
135: 					</div>
136: 				</section>
137: 			</div>
138: 		</div>

Backtrace:
/Applications/XAMPP/xamppfiles/htdocs/sindonews/portofolio/resources/views/index.blade.php:133
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.3/lib/sass/util.rb:1048:in `rescue in block in find_encoding_error'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.3/lib/sass/util.rb:1045:in `block in find_encoding_error'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.3/lib/sass/util.rb:1044:in `each'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.3/lib/sass/util.rb:1044:in `each_with_index'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.3/lib/sass/util.rb:1044:in `find_encoding_error'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.3/lib/sass/util.rb:772:in `check_sass_encoding'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.3/lib/sass/engine.rb:444:in `check_encoding!'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.3/lib/sass/engine.rb:400:in `_to_tree'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.3/lib/sass/engine.rb:290:in `render'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.3/lib/sass/plugin/compiler.rb:464:in `update_stylesheet'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.3/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.3/lib/sass/plugin/compiler.rb:209:in `each'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.3/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.3/lib/sass/plugin.rb:82:in `update_stylesheets'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.3/lib/sass/exec/sass_scss.rb:340:in `watch_or_update'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.3/lib/sass/exec/sass_scss.rb:51:in `process_result'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.3/lib/sass/exec/base.rb:52:in `parse'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.3/lib/sass/exec/base.rb:19:in `parse!'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.3/bin/sass:13:in `<top (required)>'
/usr/local/bin/sass:22:in `load'
/usr/local/bin/sass:22:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid US-ASCII character \"\xC2\"\A         on line 133 of /Applications/XAMPP/xamppfiles/htdocs/sindonews/portofolio/resources/views/index.blade.php\A \A 128: 						</div>\A 129: 					</div>\A 130: 				</section>\A 131: 				<section id=\"copyright\">\A 132: 					<div class=\"column clearfix\">\A 133: 						<div class=\"copyright pull-left\">© 2016-2017 Arif Lutfhansah, All rights reserved.</div>\A 134: 						<div class=\"lisence pull-right\">MIT License</div>\A 135: 					</div>\A 136: 				</section>\A 137: 			</div>\A 138: 		</div>"; }
