@import "compass/css3";

@import url(https://fonts.googleapis.com/css?family=Roboto:300);

$silver: #808080;

body {
  font-family: 'Roboto';
  background: white;
  overflow: hidden;
}

h1 {
  font-weight: 300;
  text-align: center;  
}

.pen {
  cursor: pointer;
  width: 500px;
  height: 50px;
  background: #111;
  position: absolute; 
  top: 100px;
  left: 225px;
  left: calc(50% - 250px);
  border-radius: 40% 30% 30% 40%;
  z-index: 1;
  
  &::before {
    content: "";
    position: absolute;
    height: 48px;
    width: 5px;
    top: 1px;
    background: $silver;
    left: 100px;
    z-index: 5;
    border-radius: 100% 0 0 100%;
  }
  
  &::after {
    content: "";
    position: absolute;
    z-index: 2;
    height: 10px;
    width: 150px;
    background: $silver;
    right: 15px;
    top: 20px;
    border-radius: 20% 40% 40% 20%; 
  }
  
  .sheen {
    position: absolute;
    height: 7px;
    width: 350px;
    z-index: 4;
    background: white;
    top: 10px;
    left: 80px;
    border-radius: 90% 70% 70% 90%;
    opacity:0.2;
  }
  
  .spinner {
    width:200px;
    height:40px;
    position:absolute;
    left:120px;
    top:5px;
    border-radius: 5% 0 0 5%;
    overflow:hidden;
   
    background: -moz-linear-gradient(top, rgba(246,248,249,0.35) 0%, rgba(229,235,238,0.35) 37%, rgba(215,222,227,0.3) 48%, rgba(245,247,249,0.3) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(246,248,249,0.35)), color-stop(37%,rgba(229,235,238,0.35)), color-stop(48%,rgba(215,222,227,0.3)), color-stop(100%,rgba(245,247,249,0.3))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(246,248,249,0.35) 0%,rgba(229,235,238,0.35) 37%,rgba(215,222,227,0.3) 48%,rgba(245,247,249,0.3) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(246,248,249,0.35) 0%,rgba(229,235,238,0.35) 37%,rgba(215,222,227,0.3) 48%,rgba(245,247,249,0.3) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(246,248,249,0.35) 0%,rgba(229,235,238,0.35) 37%,rgba(215,222,227,0.3) 48%,rgba(245,247,249,0.3) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(246,248,249,0.35) 0%,rgba(229,235,238,0.35) 37%,rgba(215,222,227,0.3) 48%,rgba(245,247,249,0.3) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4df6f8f9', endColorstr='#4df5f7f9',GradientType=0 ); /* IE6-9 */
  }
  
.spinner img {
  z-index: 2;
  position: absolute;
  display: inline-block;
  width: 150px;
  height:auto;
  left: 0;
  bottom:22px;
  margin:0 25px;
 
}
  
  .clicker {
    position: absolute;
    height: 20px;
    width: 30px;
    background: $silver;
    top: 15px;
    left: 500px;
    border-radius: 0 20px 20px 0;
  }
  
  .point {
    position: absolute;
    z-index: 0;
    height: 10px;
    width: 0px;
    background: $silver;
    top: 20px;
    right: 500px;
    border-radius: 50% 0 0 50%;
  }
  
  &.move {
    animation: rotate 2s ease 1 normal 1s forwards;
  }
  
  .drop {
    position: absolute;
    width: 0px;
    height: 0px;
    background: black;
    border-radius: 50%;
    right: 508px;
    top: 25px;
    z-index: -1;
    
    .center {
      position: absolute;
      width: 160px;
      height: 160px;
      border-radius: 50%;
      left: 15px;
      top: 15px;
      background: white;
      z-index: 0;
      display: none;
    }
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg); 
  }
  
  to {
    transform: rotate(270deg);
    top: -150px;
  }
}

