@charset 'utf-8';
/* ==========================================================================
Author        :  Arif Lutfhansah
Create        :  21 Agustus 2017
Last Update   :  21 Agustus 2017

Source  :
  1: Arif Framework The MIT License (MIT) Copyright (c) Arif Lutfhansah
  2: Bootstrap Framework The MIT License (MIT) Copyright (c) Bootstrap
  3: Materialize Framework The MIT License (MIT) Copyright (c) 2014-2017 Materialize

Contents  :
  1: Body Section

  Copyright (c) 2017 Arif Lutfhansah
  
========================================================================== */

/*
  Color
-------------------------------------*/
$color : #D3A039;
$primary : #262626;
$secondary : #1FC697;
$third : #232323;

/*
  Leftbar
-------------------------------------*/
.leftbar {
	display: flex;
	position: fixed;
	width: 100vh;
	height: 5vw;
	transform-origin: top;
    transform: rotateZ(-90deg) translate3d(-50vh, -50vh, 0);
    align-items: center;
    justify-content: center;
	z-index: 2;
	li {
		display: inline-block;
		margin: 0 15px;
		&.active {
			a {
				opacity: 1;
				border-bottom: 1px solid #000;
			}
		}
		&:hover {
			a {
				opacity: 1;
				border-bottom: 1px solid #000;
			}
		}
		a {
			padding-bottom: 8px;
			line-height: 0.9em;
			font-size: 12px;
			font-weight: 700;
			letter-spacing: 0.12em;
			opacity: 0.3;
			text-transform: uppercase;
			border-bottom: 1px solid #FFF;
			@include transition(.4s);
		}
	}
}


/*
  Content
-------------------------------------*/
.content {
	position: relative;
	top: 6vw;
	width: 100%;
	height: calc(100vh - 6vw);
	.inner {
		width: 90%;
		margin: 0 auto;
	}
}

/* ----- Section Title ----- */
section {
	margin: 0 0 100px;
	.section-title {
		font-size: 24px;
		font-weight: 500;
		text-align: center;
		&:after {
		    display:block;
		    clear:both;
		    content : "";
		    position: relative;
		    left    : 0;
		    bottom  : 0;
		    width   : 50px;
		    margin: 0 auto;
		    padding: 2px 0px;
		    border-bottom: 2px solid #000;
		}
	}
	&#sitemap {
		margin: 0 0 80px;
	}
	&:last-of-type {
		margin: 0;
	}
}

/* ----- Profile ----- */
#profile {
	.profile-inner {
		width: 935px;
		margin: 80px auto 0;
	}
	.photo {
		img {
			display: block;
			width: 150px;
			margin: 30px auto;
			border-radius: 50%;
		}
	}
	.caption {
		div {
			margin: 0 0 15px 0;
		}
		.name {
			h2 {
				display: inline-block;
				font-size: 30px;
				font-weight: 500;
			}
			ul {
				display: inline-block;
				li {
					display: inline-block;
					a {
						position: relative;
    					top: -5px;
    					left: 10px;
					}
				}
			}
		}
		.count {
			li {
				display: inline-block;
				margin: 0 20px 0 0;
				font-size: 18px;
				font-weight: 500;
				span {
					padding: 0 0 0 5px;
					font-size: 14px;
				}
			}
		}
		.bio {
			font-size: 14px;
		}
		.web {
			a {
				display: block;
				color: #26A69A;
				font-size: 16px;
				font-weight: 700;
			}
		}
	}
}

/* ----- Project ----- */
.project {
	position: relative;
	top: calc(14% + 4vw);
	padding: 80px 0;
	border-bottom: 1px solid #eee;
	@include transition(.4s);
	&.left {
		.image {
			float: right;
		}
	}
	&.right {
		.caption {
			left: 0vw;
			padding-left: 6vw;
		}
	}
	&.column {
		float: left;
		width: 33.33333333%;
		padding: 80px 0 0px;
		border-bottom: none;
		.col-md-6 {
			width: 90%;
		}
		.image {
			float: none;
			margin: 0 auto;
		}
		.caption {
			float: none;
			left: 0;
			margin: 0 auto;
			.title {
				font-size: 3.5vw;
			}
			.text {
				margin-left: 0;
			}
			.more {
				margin-left: 0;
			}
		}
		&.left {
			.image {
				float: none;
			}
		}
		&.right {
			.caption {
				padding-left: 0;
			}
		}
	}
	.caption {
		position: relative;
		left: 6vw;
		.subtitle {
			margin: 5px 0;
			font-size: 12px;
			font-weight: 500;
			letter-spacing: 0.18em;
		    text-transform: uppercase;
		    opacity: .4;
		}
		.date {
			letter-spacing: 0.1em;
		    opacity: .4;
		}
		.title {
			margin: 0 0 20px;
			font-size: 8.5vw;
			font-weight: 700;
			letter-spacing: -0.04em;
			line-height: 120%;
		}
		.text {
			width: 380px;
			margin-top: 20px;
			margin-left: 8vw;
		    line-height: 1.9em;
		    font-size: 14px;
		    font-weight: 500;
			opacity: 0.6;
		}
		.more {
			display: block;
			width: 300px;
			margin-top: 50px;
			margin-left: 8vw;
			padding-right: 100px;
			font-size: 12px;
			font-weight: 700;
			line-height: 30px;
			text-transform: uppercase;
			letter-spacing: 0.18em;
			@include transition(.4s);
			&::after {
				display: inline-block;
			    content: "";
			    border-top: .1rem solid black;
			    width: 9rem;
			    margin: 0 2rem;
			    opacity: 0.1;
			    @include transition(.4s);
			    transform: translateY(-4px);
			}
			&:hover {
				margin-left: 6vw;
				&::after {
				    width: 12rem;
				    opacity: 1;
				}
			}
		}
	}
	.image {
		img {
			width: 100%;
		    height: 100%;
		    background-size: cover;
		    background-position: center;
		}
	}
}

/* ----- Contact ----- */
#contact {
	.about {
		padding: 80px 0;
		.col-md-4 {
			padding: 0 20px;
		}
		.about-me {
			padding: 0 20px;
			p {
				font-size: 13px;
			}
		}
	}
}

/* ----- Button ----- */
.btn {
	display: inline-block;
	padding: 0 2rem;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
    letter-spacing: .5px;
    border-radius: 2px;   
    background-color: #26A69A;
    outline: 0;
    cursor: pointer;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
	-webkit-transition: .2s ease-out;
    transition: .2s ease-out;
}


/*
  Media Query
------------------------------------- */
@media screen and (max-width: 768px) {
	/* ----- Leftbar ----- */
	.leftbar {
		display: none;
	}

	/*
	  Content
	-------------------------------------*/
	.content {
		top: 0;
	}
	.no-mobile {
		display: none;
	}
	/* ----- Section Title ----- */
	section {
		padding: 0 20px;
		margin: 0 0 60px;
		&#sitemap {
			margin: 0 0 30px;
		}
	}
	/* ----- Profile ----- */
	#profile {
		.profile-inner {
			width: 100%;
			.photo {
				width: 100%;
			}
			.caption {
				.count {
					li {
						margin: 0 15px 0 0;
					}
				}
			}
		}
	}
	/* ----- Project ----- */
	.project {
		padding: 50px 0 70px;
		&.left {
			.image {
				float: none;
			}
		}
		&.right {
			.caption {
				padding-left: 0;
			}
		}
		.caption {
			width: 100%;
			top: 15px;
			left: 0;
			.title {
				margin: 0 0 5px;
			}
			.text {
				width: 100%;
				margin-left: 0;
				margin-top: 5px;
			}
			.more {
				display: none;
				padding-right: 0;
				margin-top: 30px;
    			margin-left: 0vw;
			}
		}
	}
}