@charset 'utf-8';
/* ==========================================================================
Author        :  Arif Lutfhansah
Create        :  21 Agustus 2017
Last Update   :  21 Agustus 2017

Source  :
  1: Arif Framework The MIT License (MIT) Copyright (c) Arif Lutfhansah
  2: Bootstrap Framework The MIT License (MIT) Copyright (c) Bootstrap
  3: Materialize Framework The MIT License (MIT) Copyright (c) 2014-2017 Materialize

Contents  :
  1: Body Section

  Copyright (c) 2017 Arif Lutfhansah
  
========================================================================== */

#js-countdown {
	position: relative;
	top: -126px;
  left: 48px;
	width: 300px;
	margin-bottom: 52px;
	text-align: center;
}
.countdown__item {
	display: inline-block;
	width: 42px;
	margin-bottom: 1rem;
	color: #FFF;
}
.countdown__item--large {
	flex: auto;
	width: 100%;
	font-size: 2.75em;
}
.countdown__timer {
	font-weight: 700;
	font-size: 28px;
}
.countdown__label {
	color: #FFEB3B;
	font-size: 10px;
	font-weight: 700;
	.countdown__item--large & {
		&:before,
		&:after {
			content: '';
			display: block;
			height: 1px;
			background-image: linear-gradient(
				left,
				rgba(0, 0, 0, 0), 
				rgba(0, 0, 0, .4),
				rgba(0, 0, 0, 0));
		}
	}
}