@charset 'utf-8';
/* ==========================================================================
Author        :  Arif Lutfhansah
Create        :  15 May 2017
Last Update   :  22 May 2017

Contents  :
  1: Body Section
  
========================================================================== */

.feeds {
  background: #000;
}

/*
  Tabs
-------------------------------------*/
.tabs {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 7px 0 5px;
  background: #FAFAFA;
  z-index: 999;
  -webkit-box-shadow: 1px 0 4px 3px rgba(0,0,0,0.14);
  -moz-box-shadow: 1px 0 4px 3px rgba(0,0,0,0.14);
  box-shadow: 1px 0 4px 3px rgba(0,0,0,0.14);
}
.tabs ul {
  text-align: center;
  -webkit-column-count: 4;
  -moz-column-count: 4;
  column-count: 4;
}
.tabs .active > a {
  color: #F44336;
}
.tabs a {
  display: block;
  position: relative;
  top: 2px;
  color: #616161;
  outline-width: 0;
}
.tabs i {
  display: block;
  font-size: 16px;
  line-height: 20px;
}

/*
  Kurs
-------------------------------------*/
.kurs {
  position: absolute;
  top: 67px;
  left: 2.5%;
  width: 95%;
  color: #fff;
  z-index: 99;
}
.kurs .inner {
  padding: 12px 15px 20px;
  background: rgba(0,0,0, 0.3);
  border-radius: 2px;
  -webkit-box-shadow: 1px 2px 4px 1.5px rgba(0,0,0,0.14);
  -moz-box-shadow: 1px 2px 4px 1.5px rgba(0,0,0,0.14);
  box-shadow: 1px 2px 4px 1.5px rgba(0,0,0,0.14);
}
/* --- Greetings ---- */
.greetings {
  font-size: 15px;
  font-weight: 700;
}
/* --- Elements ---- */
.elements {
  width: 98px;
}
/* --- Caret ---- */
.caret {
  margin: -2px 0 0 4px;
  border-top-style: solid;
  border-right-style: solid;
  border-left-style: solid;
  border-bottom-style: solid;
  border-right-color: transparent;
  border-left-color: transparent;
  -webkit-transition: 200ms ease;
  transition: 200ms ease;
}
.caret.rotate.open {
  border-width: 10px 10px 0 10px;
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
}
.caret.rotate.small.open {
  border-width: 4px 4px 0 4px;
}
.caret.up.large {
  height: 10px;
  margin: 0 6px 0 0;
  border-top-width: 0;
  border-right-width: 15px;
  border-left-width: 15px;
  border-bottom-width: 15px;
  border-top-color: #76FF03;
  border-bottom-color: #76FF03;
}
.caret.up.small {
  border-top-width: 0;
  border-right-width: 6px;
  border-left-width: 6px;
  border-bottom-width: 6px;
  border-top-color: #76FF03;
  border-bottom-color: #76FF03;
}
.caret.down.large {
  height: 10px;
  margin: 11px 6px 0 0;
  border-top-width: 15px;
  border-right-width: 15px;
  border-left-width: 15px;
  border-bottom-width: 0;
  border-top-color: #E53935;
  border-bottom-color: #E53935;
}
.caret.down.small {
  border-top-width: 6px;
  border-right-width: 6px;
  border-left-width: 6px;
  border-bottom-width: 0;
  border-top-color: #E53935;
  border-bottom-color: #E53935;
}
.financial {
  display: none;
  padding: 20px 0 5px;
}
.financial ul {
  text-align: center;
  -webkit-column-count: 4;
  -moz-column-count: 4;
  column-count: 4;
}
.financial span {
  display: block;
}

/*
  Slider
-------------------------------------*/
.bx-wrapper {
  height: 0;
  margin: 0;
  box-shadow: none;
  border: none;
  z-index: 1;
}
.bx-wrapper img {
  object-fit: cover;
  width: 100%;
  height: 330px;
}
.img-gradient {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(bottom, rgba(0,0,0,0), rgba(0,0,0,1)); 
  background: -o-linear-gradient(bottom, rgba(0,0,0,0), rgba(0,0,0,1));
  background: -moz-linear-gradient(bottom, rgba(0,0,0,0), rgba(0,0,0,1));
  background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1));
  z-index: 99;
}

/*
  Headline
-------------------------------------*/
/* --- Headline ---- */
.headline {
  position: relative;
  top: 225px;
  z-index: 99;
}
.headline .list {
  width: 95%;
  margin: 12px auto 0;
  background: #fff;
  border-radius: 2px;
}
.headline .news {
  padding: 12px 15px;
  border-bottom: 1px solid #eee;
}
.headline .news:last-of-type {
  border: none;
}
.headline .image img {
  width: 95px;
  height: 85px;
  object-fit: cover;
}
.headline .caption {
  width: 70%;
}
.headline .icon {
  margin: 10px 0 0 0;
}
.headline .icon span {
  background: #FFF;
}
/* --- Subcaption ---- */
.subcaption {
  display: block;
  margin: 6px 0 0 0;
  color: #424242;
  border-top: 1px solid #EEE;
}
.card .subcaption {
  padding: 5px 20px;
  margin: 0;
  background: #F5F5F5;
}
/* --- Option ---- */
.option {
  margin: 4px 0 0 0;
  text-align: center;
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
}
.option i {
  width: 20px;
  height: 16px;
  margin: 0 auto;
  zoom: .8;
}
.bookmark {
  background-position: -122px 0;
}
.share {
  background-position: -48px 0;
}
.more {
  background-position: -90px 0;
}
/* --- Icon ---- */
.icon {
  display: inline-block;
  position: relative;
  width: 14px;
  min-width: 14px;
  max-width: 14px;
  max-height: 14px;
}
.icon span {
  position: absolute;
}
.-plus {
  height: 60px;
  transition: transform 0.3s cubic-bezier(0.5, 0, 0, 1);
}
.-plus span:nth-of-type(1) {
  top: 0;
  bottom: 0;
  width: 4px;
  left: calc(50% - (4px / 2));
}
.-plus span:nth-of-type(2) {
  top: calc(50% - (4px / 2));
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  transform-origin: left;
  transition: transform 0.3s cubic-bezier(0.5, 0, 0, 1) 0.2s;
}

/* --- Title Line---- */
.title-line {
  padding: 0 25px;
  color: #fff;
  font-size: 20px;
}
.title-line .left {
  font-size: 20px;
}
.title-line span {
  display: block;
  padding-top: 2px;
  font-size: 14px;
  font-weight: 400;
}
.title-line hr {
  float: left;
  width: 55px;
  height: 1px;
  background: #fff;
}
/* --- Title Category ---- */
.title-category {
  background: #e0e0e0;
}
/* --- Category ---- */
.category {
  margin: 15px 0 0;
}
.category img {
  width: 30px;
  margin-right: 12px;
}
.category span {
  display: block;
  line-height: 14px;
}
.category time {
  color: #616161;
}
.category .option{
  width: 85px;
}

/*
  Card
-------------------------------------*/
/* --- Card ---- */
.card {
  position: relative;
  top: 235px;
  padding: 0 0 39px 0;
  background: #e0e0e0;
}
.card .news {
  margin-bottom: 15px;
  background: #fff;
}
.card .img-news {
  width: 100%;
  height: 170px;
  object-fit: cover;
}
.card .caption {
  padding: 12px 20px 15px;
}
/* --- Title Line---- */
.card .title-line {
  padding: 16px 22px 0;
  color: #424242;
  font-size: 16px;
  font-weight: 700;
  background: #fff;
}
.card .title-line span {
  padding-top: 0;
  line-height: 16px;
}
.card .title-line hr {
  margin: 10px 0 15px;
  background: #9c27b0;
}
/*
  News
-------------------------------------*/
/* --- Box White ---- */
.box-white {
  width: 95%;
  margin: 0 auto;
  background: #fff;
  border-radius: 2px;
}
.box-white .inner {
  padding: 0 15px;
}
.news .title {
  height: 180px;
  color: #424242;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
}
/*
  Related
-------------------------------------*/
.related {
  position: relative;
}

/*
  List Category
-------------------------------------*/
.listcategory {
  position: relative;
  top: 40px;
  padding: 25px 0 30px;
}
.listcategory ul {
  -webkit-column-count: 4;
  -moz-column-count: 4;
  column-count: 4;
}
.listcategory li {
  margin: 0 0 20px 0;
}
.listcategory img {
  display: block;
  width: 70px;
  margin: 0 auto;
}
.listcategory span {
  display: block;
  padding: 10px 0 0 0;
  font-weight: 700;
  text-align: center;
}


/*
  Tab Slide
-------------------------------------*/
.tab-slide {
  position: relative;
  top: 47px;
}
.swipe-tabs {
  -webkit-box-shadow: 1px 2px 4px 1.5px rgba(0,0,0,0.14);
  -moz-box-shadow: 1px 2px 4px 1.5px rgba(0,0,0,0.14);
  -o-box-shadow: 1px 2px 4px 1.5px rgba(0,0,0,0.14);
  box-shadow: 1px 2px 4px 1.5px rgba(0,0,0,0.14);
}
.slick-list {
    overflow: hidden;
}
.slick-list:focus {
    outline: none;
}
.slick-list.draggable .slick-track {
  width: 100% !important;
}
.slick-slide {
    float: left;
}
.slick-initialized .swipe-tab-content {
  min-height: 80vh;
}
.slick-initialized .swipe-tab {
  width: 50% !important;
  height: 50px;
  color: #616161;
  font-size: 14px;
  font-weight: 700;
  border-bottom: 2px solid transparent;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
    -ms-flex-align: center;
      align-items: center;
  -webkit-box-pack: center;
    -ms-flex-pack: center;
      justify-content: center;
}
.slick-initialized .swipe-tab:hover {
  color: #757575;
}
.slick-initialized .swipe-tab.active-tab {
  border-bottom-color: #F44336;
  color: #212121;
  font-weight: bold;
}
.swipe-tab-content {
  padding: 15px 20px;
}


/*
  About Page
-------------------------------------*/
.about {
  display: block;
  position: relative;
  top: 80px;
}
.logo-info {
  width: 96px;
  margin: 0 auto;
}
.product-info {
  display: block;
  margin: 10px 0 0 0;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}
.product-version {
  display: block;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
}
.options {
  display: block;
  padding: 0 15px;
  margin: 25px 0 0 0;
}
.options li {
  padding: 15px 0;
  border-bottom: 1px solid #eee;
}
.options li:last-of-type {
  border-bottom: none;
}
.options li a {
  font-size: 14px;
}
.options li i {
  padding: 0 20px 0 0;
  font-size: 18px;
}
.options li .fa-plus-circle {
  color: #03A9F4;
}
.options li .fa-volume-control-phone {
  color: #F44336;
}
.options li .fa-users {
  color: #4CAF50;
}
.options li .fa-thumbs-up {
  color: #FF9800;
}
.copyright {
  padding: 20px 0 60px 0;
  text-align: center;
}
.copyright span {
  display: block;
}
.copyright small {
  font-size: 10px;
  text-decoration: underline;
}


/*
  Media Query
-------------------------------------*/
@media (max-width: 400px) {
  /* --- Headline ---- */
  .headline .caption {
    width: 62%;
  }
}
@media only screen and (min-width: 401px) and (max-width: 857px) {
}
@media only screen and (min-width: 858px) and (max-width: 1081px) {
}
@media only screen and (min-width: 1082px) and (max-width: 1289px) {
}
@media (min-width: 1290px) {
}
@media (max-height: 500px) {
  /*
    Tab Slide
  -------------------------------------*/
  .slick-initialized .swipe-tab-content {
    min-height: 70vh;
  }
}