@charset 'utf-8';
/* ==========================================================================
Author        :  Arif Lutfhansah
Create        :  15 May 2017
Last Update   :  22 May 2017

Contents  :
  1: Body Section
  
========================================================================== */

/*
  Home
-------------------------------------*/
$primary-home : #01579B;
$secondary-home : #D50000;
/* --- Primary ---- */
.hom {
  background: $primary-home;
}
.b-hom {
  border-color: $primary-home;
}
.b2-hom {
  border-color: $secondary-home;
}
.f-hom {
  color: $primary-home;
}
/* --- Navigation ---- */
.navigation.hom .navbar .active {
  background: $secondary-home;
}
.navigation.hom li:hover {
  background: $secondary-home;
}

/*
  Kanal Nasional
-------------------------------------*/
$primary-nasional : #D32F2F;
$secondary-nasional : #E57373;
/* --- Primary ---- */
.nsl {
  background: $primary-nasional;
}
.b-nsl {
  border-color: $primary-nasional;
}
.b2-nsl {
  border-color: $secondary-nasional;
}
.f-nsl {
  color: $primary-nasional;
}
/* --- Navigation ---- */
.nasional .navbar .active {
  background: $primary-nasional;
}
.nasional .navbar li:hover {
  background: $primary-nasional;
}

/*
  Kanal Daerah
-------------------------------------*/
$primary-daerah : #388E3C;
$secondary-daerah : #81C784;
/* --- Primary ---- */
.drh {
  background: $primary-daerah;
}
.b-drh {
  border-color: $primary-daerah;
}
.b2-drh {
  border-color: $secondary-daerah;
}
.f-drh {
  color: $primary-daerah;
}
/* --- Navigation ---- */
.daerah .navbar .active {
  background: $primary-daerah;
}
.daerah .navbar li:hover {
  background: $primary-daerah;
}

/*
  Kanal Ramadan
-------------------------------------*/
.ramadan {
  background: url(../images/ramadan_background.png) no-repeat;
  background-size: cover;
}
.rmd {
  background: #E7BF2B;
}
.b-rmd {
  border-color: #E7BF2B;
}
.n-rmd {
  background: #04325B;
}
.f-rmd {
  color: #ffd42b;
}
.g-rmd {
  background-color: #2F2727;
  background: -webkit-gradient(radial, center center, 0, center center, 460, from(#245E90), to(#04345E));
  background: -webkit-radial-gradient(circle, #245E90, #04345E);
  background: -moz-radial-gradient(circle, #245E90, #04345E);
  background: -ms-radial-gradient(circle, #245E90, #04345E);
}
/* --- Alternative Style ---- */
.ramadan .reporter-news .title, .ramadan .reporter-news .title a {
  color: #E7BF2B;
}
/* --- Breadcrumb ---- */
.ramadan .breadcrumb li:hover > a {
  color: #E7BF2B;
}
/* --- Pagination ---- */
.ramadan .pagination .active > a {
  color: #E7BF2B;
  background: #fff;
  border-color: #E7BF2B;;
}
/* --- Hover ---- */
.ramadan .caption:hover { 
  color: #E7BF2B;
}
.ramadan .box .caption span a:hover {
  color: #E7BF2B;
}
.ramadan .btn-more:hover {
  color: #E7BF2B;
}
.ramadan .leftbar li a:hover {
  color: #E7BF2B;
}
.ramadan .list-more a:hover {
  color: #E7BF2B;
}
.ramadan .tag a:hover {
  background: #E7BF2B;
}
/* --- Pagination ---- */
.ramadan .pagination li:hover > a {
  color: #E7BF2B;
  background: #fff;
  border-color: #E7BF2B;
}