/* ==========================================================================
Author        :  Arif Lutfhansah
Create        :  15 May 2017
Last Update   :  4 July 2017

Contents  :
  1: Header Section
  
========================================================================== */
/*
  Header
-------------------------------------*/
header {
    position: absolute;
}
header .inner {
	position: fixed;
	top: 10px;
	left: 0;
	right: 0;
    width: 95%;
    margin: auto;
    padding: 11px 0;
    background: #fff;
    border-radius: 2px;
    z-index: 9999;
    -webkit-box-shadow: 1px 2px 4px 1.5px rgba(0,0,0,0.14);
    -moz-box-shadow: 1px 2px 4px 1.5px rgba(0,0,0,0.14);
    -o-box-shadow: 1px 2px 4px 1.5px rgba(0,0,0,0.14);
    box-shadow: 1px 2px 4px 1.5px rgba(0,0,0,0.14);
    -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
            -o-transition: all .3s ease;
                transition: all .3s ease;
}
.header-full .inner {
    width: 100% !important;
    border-radius: 0px !important;
    top: 0px !important;
}
.header-full.no-border .inner {
    box-shadow: none;
}

/* --- Logo ---- */
.logo i {
	position: relative;
	left: 15px;
    width: 224px;
    height: 25px;
    zoom: .8;
}
.sindonews {
	background-position: 0px -16px;
}
/* --- Tribar ---- */
.tribar {
    position: absolute;
    right: 15px;
    width: 26px;
    height: 26px;
    font-weight: bold;
    font-size: 11px;
    line-height: 26px;
    z-index: 10;
}
.tribar .bar {
    float: left;
    width: 21px;
    margin: 0 6px 6px 6px;
    position: relative;
}
.tribar .bar span {
    display: block;
    height: 3px;
    background: #212121;
    width: 100%;
    margin-top: 3px;
    border-radius: 3px;
}