@charset 'utf-8';
/* ==========================================================================
Author        :  Arif Lutfhansah
Create        :  15 May 2017
Last Update   :  22 May 2017

Contents  :
  1: Body Section
  
========================================================================== */

/*
  Square Title
-------------------------------------*/
.title-square {
  border-bottom-width: 2px;
  border-bottom-style: solid;
}
.title-square span {
  padding: 3px 10px 0;
  color: #FFF;
  font-size: 16px;
  font-weight: 700;
}
.title-square a {
  color: #1976D2;
  font-size: 16px;
  font-weight: 700;
}

/*
  Block Title
-------------------------------------*/
.title-block {
  display: block;
  padding: 10px 12px;
  color: #FFF;
  font-size: 14px;
  line-height: 14px;
  background-color: #354A5D;
}


/*
  Thumb Title
-------------------------------------*/
.title-thumb {
  display: block;
  padding: 2px 0;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  border-bottom-width: 2px;
  border-bottom-style: solid;
}
.title-thumb:before {
  content:'';
  float: left;
  width: 10px;
  height: 10px;
  background-color: #D32F2F;
  margin: 6px 8px 0px 0px;
}