header{position:relative;top:22px;z-index:9999}.sosmed li{display:inline-block;padding:0 6px}.sosmed i{color:#fff;font-size:20px}.sosmed .fa-facebook{padding:11px 15px;background-color:#4867AA}.sosmed .fa-twitter{padding:11px 10.5px;background-color:#00aced}.sosmed .fa-google-plus{padding:11px 7.7px;background-color:#dc4b3e}@media screen and (max-width: 550px){.logo{float:none !important;width:262px;margin:0 auto}.sosmed{display:none}}
