/* --- Laptop HDPI ---- */
@media screen and (min-width: 1082px) and (max-width: 1290px)  {
  /*
    Ramadan
  -------------------------------------*/
  /* --- Box ---- */
  .berita-terkini .box .image img {
    width: 253px;
    height: 149px;
  }
  /* --- Thumb News ---- */
  .berita-terkini .thumb-news {
    width: 253px;
    height: 145px;
    margin: 0 13px 15px 0;
  }
  /* --- List News ---- */
  .sub-kanal .list-news {
    width: 243px;
    margin-right: 13px;
  }
  .sub-kanal .list-news.last {
    margin-right: 0;
  }
  /* --- Terpopuler ---- */
  .terpopuler .link {
    float: left;
    width: 195px;
    padding: 15px 0 15px 10px;
    font-size: 14px;
  }
  /* --- Main Image ---- */
  .main-image {
    width: 530px;
  }
  .main-image .image {
    width: 530px;
    height: 345px;
  }
  .main-image .image img {
    width: 524px;
  }
  .main-image .img-gradient {
    width: 524px;
  }
  .main-image .caption {
    width: 504px;
  }
  /* --- Foreign Image ---- */
  .foreign-image .image img {
    width: 255px;
  }
  .foreign-image .image {
    width: 300px;
    height: 165px;
  }
  .foreign-image .img-gradient {
    width: 255px;
  }
  .foreign-image .caption {
    width: 235px;
  }
  /*
    Widget
  -------------------------------------*/
  /* Imsakiyah */
  .sprite-o.imsakiyah {
    width: 100px;
    height: 45px;
    margin: 14px 25px 10px;
  }
  .title-imsak {
    width: 128px;
  }
  .date-imsak {
    width: 620px;
  }
  .date-imsak .inner {
    padding: 14px 0;
  }
  .date-imsak li {
    padding: 0 8px 0 13px;
  }
  .parameter-setting {
    width: 200px;
  }
  .parameter {
    width: 128px;
  }
}

/* --- Laptop MDPI ---- */
@media screen and (width: 1280px) and (height: 800px) {
  /*
    Ramadan
  -------------------------------------*/
  /* --- Box ---- */
  .berita-terkini .box .image img {
    width: 253px;
    height: 149px;
  }
  /* --- Thumb News ---- */
  .berita-terkini .thumb-news {
    width: 253px;
    height: 145px;
    margin: 0 13px 15px 0;
  }
  /* --- List News ---- */
  .sub-kanal .list-news {
    width: 243px;
    margin-right: 13px;
  }
  .sub-kanal .list-news.last {
    margin-right: 0;
  }
  /* --- Terpopuler ---- */
  .terpopuler .link {
    float: left;
    width: 195px;
    padding: 15px 0 15px 10px;
    font-size: 14px;
  }
  /* --- Main Image ---- */
  .main-image {
    width: 530px;
  }
  .main-image .image {
    width: 530px;
    height: 345px;
  }
  .main-image .image img {
    width: 524px;
  }
  .main-image .img-gradient {
    width: 524px;
  }
  .main-image .caption {
    width: 504px;
  }
  /* --- Foreign Image ---- */
  .foreign-image .image img {
    width: 255px;
  }
  .foreign-image .image {
    width: 300px;
    height: 165px;
  }
  .foreign-image .img-gradient {
    width: 255px;
  }
  .foreign-image .caption {
    width: 235px;
  }
  /*
    Leftbar
  -------------------------------------*/
  .leftbar {
    margin-right: 16px;
  }
  /*
    Widget
  -------------------------------------*/
  /* Imsakiyah */
  .sprite-o.imsakiyah {
    width: 100px;
    height: 45px;
    margin: 14px 25px 10px;
  }
  .title-imsak {
    width: 128px;
  }
  .date-imsak {
    width: 620px;
  }
  .date-imsak .inner {
    padding: 14px 0;
  }
  .date-imsak li {
    padding: 0 8px 0 13px;
  }
  .parameter-setting {
    width: 200px;
  }
  .parameter {
    width: 128px;
  }
}
*/