@charset 'utf-8';
/* ==========================================================================
Author        :  Arif Lutfhansah
Create        :  15 May 2017
Last Update   :  22 May 2017

Contents  :
  1: Body Section
  
========================================================================== */

/*
  Content
-------------------------------------*/
.content {
  margin-bottom: 30px;
}
.news {
  width: 620px;
}
.news-list {
  width: 75%;
}
.news-list .list-news .detail {
  font-size: 14px;
}
/*
  R Big
-------------------------------------*/
.ra {
  display: block;
  width: 970px;
  margin: 0 auto 20px;
}
.open-btn, .close-btn {
  float: right;
  padding: 3px 12px 5px;
  color: #fff;
  background-color: #333;
}
.close-btn, .ra-big {
  display: none;
}
.ra-small {
  -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
            -o-transition: all .3s ease;
                transition: all .3s ease;
}
/*
  Breadcrumb
-------------------------------------*/
.breadcrumb {
  padding: 0 0 15px;
}
.breadcrumb h1 {
  display: inline-block;
  padding: 0 20px 0 8px;
  font-size: 30px;
  font-weight: 700;
  line-height: 23px;
  text-transform: uppercase;
  border-left-width: 10px;
  border-left-style: solid;
}
.breadcrumb time {
  position: relative;
  bottom: 4px;
  font-size: 18px;
}
.breadcrumb ul {
  margin-bottom: 5px;
  padding: 0 15px 8px 0;
  border-bottom-width: 1px;
  border-style: solid;
}
.breadcrumb li {
  display: inline-block;
  padding-right: 8px;
  font-size: 16px;
}
.breadcrumb li a {
  font-family: Tahoma, Geneva, sans-serif;
  color: #282828;
  font-size: 14px;
  font-weight: 700;
}

@import 'title';

@import 'mainvisual';

/* --- Line Title ---- */
.line-title .title {
  position: relative;
  top: -1px;
  padding: 4px 10px 1px;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  border-top-width: 2px;
  border-style: solid;
}
.line-title .title-more {
  top: 13px;
  right: 10px;
}
/* --- Box Title ---- */
.box-title {
  display: block;
  padding: 5px 10px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  background-color: #084D8D;
  text-transform: uppercase;
}
/* --- Title More ---- */
.title-more {
  position: relative;
  right: 0;
  padding: 4px 10px 5px;
  color: #fff;
  font-size: 14px;
  border-radius: 8px;
  background-color: #2196F3;
  line-height: 16px;
  border-left: 3px solid #fff;
}
.title-more:hover {
  opacity: .9;
  text-decoration: underline;
}
/* --- Border ---- */
.border {
  position: relative;
  top: -17px;
  padding: 20px 15px;
  border: 1px solid #D0D0D0;
  border-top: none;
}
/* --- Subkanal ---- */
.subkanal {
  margin-bottom: 20px;
  border-top-width: 1px;
  border-top-style: solid;
}
.subkanal .big {
  width: 460px;
}
.subkanal .small {
  width: 220px;
  margin-right: 22px;
}
.subkanal .col-md-3:last-of-type {
  margin: 0;
}
/* --- List Terkait ---- */
.list-terkait {
  margin: 30px 0 0 0;
}
.list-terkait a {
  display: block;
  padding: 7px 0 0;
  font-size: 14px;
  font-weight: 700;
}
/* --- Overlay Media ---- */
.overlay {
  position: relative;
}
.overlay .thumbnail {
  display: block;
}
.overlay .time {
  position: absolute; 
  right: 3px; 
  bottom: 3px;
  padding: 2px 5px;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2;
}
.overlay .playWrapper {
  position: absolute;
  top: 0; 
  width: 460px; 
  height: 306px;
  background: rgba(0,0,0,0.6) url("../images/play-button.png") no-repeat scroll center center / 50px 50px;
  opacity: 0;
  z-index: 1;
}
.playWrapper .playBtn {
  position: absolute; 
  left: 0; right: 0; top: 0; bottom: 0; 
  width: 50px; 
  height: 50px;
  margin: auto;
  z-index: 2;
}
.overlay:hover .playWrapper {
  opacity: 1;
}
/* --- Row News ---- */
.field-news {
  display: inline-block;
  margin: 0;
}
.field-news.small .caption {
  font-size: 16px;
}
.field-news.last {
  margin-right: 0;
}
.field-news img:hover {
  opacity: .7;
}
.field-news .caption {
  display: block;
  max-height: 70px;
  padding: 3px 0 2px;
  color: #282828;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  overflow: hidden;
}
.field-news time {
  color: #808080;
}
.field-news time span {
  display: inline-block;
  padding-right: 5px;
  margin-right: 5px;
  color: #D32F2F;
  font-weight: 700;
  line-height: 10px;
  border-right: 1px solid #757575;
}
.subtitle {
  display: block;
  padding: 4px 0 2px;
  color: #388E3C;
  font-size: 14px;
}
.field-news .detail {
  height: 65px;
  margin-top: 10px;
  font-size: 14px;
  overflow: hidden;
}
.field-news .caption {
  max-height: 62px;
  padding: 5px 0 2px;
  font-size: 15px;
  line-height: 140%;
}
.side .field-news .detail {
  height: 60px;
  margin-top: 5px;
  font-size: 14px;
  line-height: 150%;
}
/* --- Reporter News ---- */
.reporter-news li {
  padding: 5px 0;
  border-top: 1px dotted #BDBDBD;
}
.reporter-news li:first-of-type {
  border-top: none;
  font-size: 18px;
}
.reporter-news li:first-of-type > a {
  font-size: 18px;
}
.reporter-news li:last-of-type {
  border-bottom: 1px dotted #BDBDBD;
}
.reporter-news a {
  font-size: 14px;
  font-weight: 700;
}
.reporter-news .more {
  width: 85px;
  margin: 20px auto 30px;
  padding: 3px 0;
}
/* --- List News ---- */
.list-news {
  padding: 10px 0;
  border-top-width: 1px;
  border-top-style: dotted;
  clear: both;
}
.list-news:last-of-type {
  border-bottom-width: 1px;
  border-bottom-style: dotted;
}
.list-news .caption {
  padding-top: 0;
  font-size: 16px;
}
.list-news .caption {
  padding-top: 0;
  font-size: 16px;
}
.list-news .detail {
  padding-top: 0;
  color: #656565;
  font-size: 16px;
}
.list-news.big .caption {
  padding-top: 0;
  font-size: 20px;
  -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
      -o-transition: all .3s ease;
        transition: all .3s ease;
}
.list-news.big .caption:hover {
  color: #D32F2F;
}
.list-news.big img:hover {
  opacity: .7;
  -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
      -o-transition: all .3s ease;
        transition: all .3s ease;
}
.list .list-news .col-md-3 {
  width: 180px;
  margin-right: 20px;
}
.list .list-news {
  padding: 20px 0;
}
.list .list-news:first-of-type {
  border-top: none;
  padding: 10px 0 20px;
}
.list .list-news:first-of-type .caption {
  font-size: 24px;
  line-height: 28px;
}
.side .list-news {
  border: none;
}
.side .list-news .caption {
  margin: 0 0 10px 0;
  font-size: 15px;
  font-weight: 700;
  line-height: 140%;
}
.side .caption:hover {
  color: #D32F2F;
  -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
      -o-transition: all .3s ease;
        transition: all .3s ease;
}
.side .list-news img {
  width: 65px;
  height: 65px;
  object-fit: cover;
}
.side .list-news .clearfix {
  margin-top: 10px;
}
.news .field-news {
  margin: 0 0px 10px 15px;
}
.news .list-news {
  padding: 30px 20px 0;
  border: none;
  background-color: #F0F0F0;
}
.news .list-news:last-of-type {
  padding: 30px 20px 50px;
}
.news .list-news img {
  width: 138px;
  height: 138px;
  object-fit: cover;
}
.news .list-news .detail {
  padding-top: 0;
  color: #656565;
  font-size: 14px;
}
.news .more {
  display: block;
  width: 100%;
  margin: 0 auto 30px;
  border-radius: 0;
  font-size: 18px;
  text-align: center;
  background-color: #084D8D;
  border: 1px solid #084D8D;
}
.news .more:hover {
  color: #084D8D;
  background-color: #FFF;
  border: 1px solid #084D8D;
}

/* --- More ---- */
.more {
  display: block;
  width: 125px;
  padding: 8px 0;
  margin: 30px auto;
  color: #fff;
  font-size: 16px;
  border-radius: 8px;
  text-align: center;
}
.side .more {
  width: 80px;
  padding: 2px 0;
  margin: 20px auto;
}

/* --- Article Pagination ---- */
.main-img-kanal{
  width: 450px; 
  object-fit: cover
}
.more-kanal{ 
  display: block; 
  width: 60px;
  margin: 30px auto;
  padding: 2px 15px;   
  color: white;
  font-size: 16px; 
  font-weight: 100;
  text-align: center;
  background-color: #2687e5; 
  border: 1px solid #2687e5;
  border-radius: 6px;
}
a.more-kanal:hover {
  background: 0;
  border: 1px solid #2687e5;
  color: #2687e5;
}
.follow-me{
  padding:10px;
  margin: 20px 0 50px;
  box-shadow:0 2px 8px 0 rgba(0,0,0,.2);
  -moz-box-shadow:0 2px 8px 0 rgba(0,0,0,.2);
  -webkit-box-shadow:0 2px 8px 0 rgba(0,0,0,.2);
}
.follow-me:after{
  display:table;
  clear:both;
  content:""
}
.follow-title{
  float:left;
  padding:10px;
  margin-left:5px;
  font-size:14px;
  font-weight:700;
  vertical-align:middle;
}
.fb-me{
  float:left;
  padding:10px 18px 0 0;
}
.twit-me{
  float:left;
  padding:10px 18px 0 0;
}
.google-me{
  padding:10px 0 0;
  float:left
}
.article-comment-title {
  color: #e30000;
  font-size: 18px;
  font-family: Arial,Helvetica,sans-serif;
  padding: 0 0 10px;
  border-bottom: 2px solid #e30000;
}
.article-comment-title span {
  font-size: 14px!important;
}
.article-comment {
  margin-left: 20px;
}
.article-comment ul {
  margin: 0 0 10px -20px;
}
.article-comment li {
  display: inline-block;
  padding: 8px 16px;
  margin: 0;
  color: #282828;
  font-weight: 700;
  cursor: pointer;
}
.ac-active {
  color: #fff!important; 
  background-color: #e30000;
}
.note-paging {
  margin: 20px 0 10px;
  color: #999999;
  font-size: 12px;
  text-align: center;
}
.article-paging {
  margin: 10px 0 20px;
  text-align: center;
}
.article-paging li.active {
  padding: 8px 16px;
  color: #004b8f !important;
  background-color: #ffffff;
  border: 1px solid #2687e5;
}
.article-paging li {
  display: inline-block;
  margin: 0 4px;
}
.article-paging li a {
  display: block;
  padding: 8px 16px;
  color: #ffffff !important;
  text-decoration: none !important;
  background-color: #2687e5;
  border: 1px solid #2687e5;
}
/* --- Pagination ---- */
.pagination {
  margin-bottom: 50px;
  text-align: center;
}
.pagination li {
  display: inline;
  padding: 0 2px;
}
.pagination a {
  padding: 7px 13px;
  color: #fff;
  font-size: 16px;
  text-align: center;
  background: #3D82D1;
  border: 1px solid #3D82D1;
}
.pagination a:hover {
  color: #3D82D1;
  background: #FFF;
  border: 1px solid #3D82D1;
}
/* --- R Center ---- */
.r_center {
  display: block;
  margin: 15px auto 30px;
}
.r_center.small {
  width: 468px;
}
.r_center.big {
  width: 728px;
}


/*
  Leftbar
-------------------------------------*/
.leftbar {
  width: 300px;
  margin-right: 20px;
}
.leftbar section {
  margin: 0 0 25px 0;
}
.leftbar-article {
  margin-right: 17px;
}
.leftbar-article section {
  margin: 20px 0 0 0;
}

/*
  Sidebar
-------------------------------------*/
.sidebar {
  width: 315px;
}
.sidebar .inner {
  padding-left: 15px;
}
.sidebar section {
  margin-bottom: 20px;
}
/* --- R Side ---- */
.r-side {
  margin-bottom: 20px;
}
/* --- Terpopuler ---- */
.terpopuler li {
  font-weight: 600;
  background: #eeeeee;
  border-bottom: 1px dotted #c6c6c6;
}
.terpopuler li:hover {
  background: #fff;
}
.terpopuler .rank {
  float: left;
  padding: 15px 5px 15px 15px;
  color: #a8a8a8;
  font-size: 26px;
  font-style: italic;
  text-shadow: 1px 1px 0 rgba(255,255,255,1);
}
.terpopuler .link {
  float: left;
  width: 255px;
  padding: 15px 0 15px 10px;
  font-size: 14px;
}
/* --- Terpopuler V2 ---- */
.terpopulerv2 li {
  font-weight: 600;
  border-bottom: 1px dotted #c6c6c6;
}
.terpopulerv2 li:hover {
  background-color: #F5F5F5;
}
.terpopulerv2 .rank {
  float: left;
  position: relative;
  top: 19px;
  left: 10px;
  padding: 1px 9px;
  color: #FFF;
  font-size: 18px;
  background-color: #35495F;
  border-radius: 50%;
}
.terpopulerv2 .link {
  float: left;
  width: 220px;
  padding: 15px 0 15px 25px;
  font-size: 14px;
}
/* --- Hot Topic ---- */
.hot-topic li:hover > a:before {
  border-color: transparent #BDBDBD;
}
.hot-topic li a {
  display: block;
  padding: 8px 30px 15px;
  color: #000;
  font-size: 14px;
  font-weight: 600;
  border-bottom: 1px dotted #c6c6c6;
}
.hot-topic li a:before {
  content: "";
  display: block;
  position: relative;
  top: 1.1em;
  left: -1.5em;
  width: 0;
  height: 0;
  border-color: transparent #D32F2F;
  border-style: solid;
  border-width: 0.45em 0 0.45em 0.55em;
  -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
      -o-transition: all .3s ease;
        transition: all .3s ease;
}
/* --- Widget Berita Terkini --- */
.berita-terkini.widget li {
  padding: 10px;
  background: #1a1a1a;
  border-bottom: 1px dotted #414141;
  cursor: pointer;
}
.berita-terkini.widget li:hover {
  background: #2d2d2d;
}
.berita-terkini.widget li:last-of-type {
  border: none;
  background-color: #084D8D;
  text-align: center;
}
.berita-terkini.widget a {
  font-family: Tahoma, Geneva, sans-serif;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
}
.more-list {
  display: block;
  padding: 12px 0;
  text-align: center;
}
/* --- Widget Video Photo ---- */
.widget .overlay .thumbnail, .widget .overlay .playWrapper { 
  width: 280px;
  height: 199px;
}
.widget .field-news .caption {
  width: 100%;
  font-size: 14px;
}
.widget .list-news .caption {
  height: 36px;
  line-height: 18px;
}
.widget .list-news .field-news {
  margin: 0 22px 0px 0;
}
.widget .list-news img {
  height: auto;
}
.widget .list-news time {
  display: block;
  font-size: 11px;
}


/* -------------------------------------------------
------------------------------------------------- */


/*
  Article
-------------------------------------*/
.article {
  padding-right: 20px;
}
.article h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 46px;
}
.author {
  display: block;
  padding-top: 20px;
  font-size: 18px;
  font-weight: 700;
}
.article time {
  color: #777;
  font-size: 14px;
}
.article-img {
  width: 100%;
  margin: 20px 0 0;
}
.font-size {
  margin-bottom: 20px;
  text-align: right;
}
.article figcaption {
  margin-bottom: 15px;
  text-align: center;
}
.article p, .article p b {
  line-height: 25px;
  font-size: 17px;
}
/* --- Float Sosmed ---- */
.float-sosmed li {
  margin-bottom: 20px;
}
.float-sosmed i {
  width: 46px;
  padding: 14px 0;
  color: #fff;
  font-size: 22px;
  text-align: center;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
}
.float-sosmed i:hover {
  background: #fff;
}
.float-sosmed .fa-facebook {
  padding: 13px 0;
  font-size: 24px;
  background: #4867AA;
  border-color: #4867AA;
}
.float-sosmed .fa-facebook:hover {
  color: #4867AA;
}
.float-sosmed .fa-twitter {
  background: #1DA1F2;
  border-color: #1DA1F2;
}
.float-sosmed .fa-twitter:hover {
  color: #1DA1F2;
}
.float-sosmed .fa-google-plus {
  background: #E04A39;
  border-color: #E04A39;
}
.float-sosmed .fa-google-plus:hover {
  color: #E04A39;
}
.sosmed-fixed {
  position: fixed;
  top: 80px;
}
.fixed-stop {
  position: relative;
  top: 1533px;
}
/* --- Follow Us ---- */
.follow-us {
  margin: 20px 0 50px;
  padding: 0 15px;
  -moz-box-shadow: 0 2px 8px 0 rgba(0,0,0,.2);
  -webkit-box-shadow: 0 2px 8px 0 rgba(0,0,0,.2);
  box-shadow: 0 2px 8px 0 rgba(0,0,0,.2);
}
.follow-us li:first-of-type {
  padding-right: 5px;
}
.follow-us li {
  display: inline-block;
  padding: 20px 8px;
  vertical-align: middle;
  font-size: 14px;
  font-weight: 700;
  line-height: 12px;
}
/* --- Berita Terkait ---- */
.berita-terkait .title {
  font-family: "Arial Black", Gadget ,sans-serif;
  font-size: 18px;
}
.tag li {
  display: inline-block;
  padding: 10px 5px 20px 0;
}
.tag a {
  padding: 5px 10px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  background: #888;
}
.list-more {
  margin: 10px 0 40px;
  border-top-width: 2px;
  border-style: solid;
}
.list-more li {
  padding: 10px 0;
  border-bottom: 1px dotted #c6c6c6;
}
.list-more a {
  font-family: "Arial Black", Gadget ,sans-serif;
  font-size: 18px;
  -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
      transition: all .5s ease;
}
/* --- Oke Zone ---- */
.oke-zone img {
  width: 120px;
}
.oke-zone .list-more {
  border-top: 3px #007c9e solid;
}
.oke-zone a {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}

@import 'animation';

/*
  Media Query
-------------------------------------*/
@media screen and (max-width: 1290px) {
  /*
    Leftbar
  -------------------------------------*/
  .leftbar {
    width: 256px;
  }
  .leftbar .list-news .detail {
    width: 180px;
    padding-left: 10px;
  }
  .news {
    width: 515px;
  }
  .sidebar {
    width: 248px;
  }
  .terpopulerv2 .link {
    width: 180px;
  }
  /* --- Main Image ---- */
  .main-image {
    width: 515px;
  }
  .main-image .image {
    width: 515px;
    height: 349px;
  }
  .main-image .image img {
    width: 515px;
  }
  .main-image .img-gradient {
    width: 515px;
  }
  .main-image .caption {
    width: 496px;
  }
  /* --- Foreign Image ---- */
  .foreign-image {
    width: 256px;
    margin-left: 5px;
  }
  .foreign-image:first-of-type {
    margin-bottom: 20px;
  }
  .foreign-image .image {
    width: 256px;
    height: 159px;
  }
  .foreign-image .image img {
    width: 256px;
  }
  .foreign-image .img-gradient {
    width: 256px;
  }
  .foreign-image .caption {
    width: 236px;
    bottom: -11px;
  }
  /* --- Box ---- */
  .box .subcategory {
    font-size: 12px;
  }
  /* --- Subkanal ---- */
  .subkanal .big {
    width: 415px;
  }
  .subkanal .small {
    width: 175px;
    margin-right: 12px;
  }
  /* --- Subkanal Media ---- */
  .subkanal-media .col-md-6 {
    width: 386px;
    min-height: 344px;
  }
  .subkanal-media .list-news img {
    height: 70px;
  }
  .subkanal-media .field-news {
    margin: 0 12px 0 0;
  }
  .subkanal-media .list-news .caption {
    height: 50px;
  }
  /* --- List News ---- */
  .list .list-news .col-md-6:first-of-type {
    width: 370px;
    margin-right: 20px;
  }
  .list .list-news .col-md-9 {
    width: 590px;
  }
  .terpopulerv2 .link {
    width: 174px;
  }

  /*
    Article
  -------------------------------------*/
  .article .news {
    width: 595px;
  }

  /*
    Sidebar
  -------------------------------------*/
  .sidebar {
    width: 250px;
  }
  /* --- Google Ads ---- */
  .sidebar .r-side {
    zoom: .832;
  }
  /* --- Terpopuler ---- */
  .terpopuler .link {
    width: 200px;
  }
  /* --- Widget Video Photo ---- */
  .widget .overlay .thumbnail, .widget .overlay .playWrapper { 
    width: 233px;
    height: 167px;
  }
  .widget .list-news .caption {
    height: 36px;
  }
  .sidebar .col-md-9 .field-news .detail {
    margin-top: 0;
    padding-left: 10px;
  }
}

@media screen and (max-width: 1082px) {
  .news-list {
    width: 100%;
  }
}
