@charset 'utf-8';
/* ==========================================================================
Author        :  Arif Lutfhansah
Create        :  15 May 2017
Last Update   :  23 May 2017

Contents  :
  1: Footer Section
  
========================================================================== */

/*
  Kanal Ramadan
-------------------------------------*/
/* --- Footer Top ---- */
.ramadan .footer-top {
  background: #02305A;
  border-top: 5px solid #02305A;
  border-bottom: 5px solid #E7BF2B;
}
/* --- Ornamen ---- */
.sprite-o.land-masjid {
  width: 100%;
  height: 175px;
  background-position: -5px -154px;
  background-repeat: repeat;
}
/* --- Social Media Footer ---- */
.ramadan .social-footer i:hover {
  background: #E7BF2B;
  border-color: #E7BF2B;
}


/*
  Transition
-------------------------------------*/
.sitemap a,.sitemap a,.mnc-media {
  -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
      -o-transition: all .3s ease;
        transition: all .3s ease;
}

/*
  Footer Top
-------------------------------------*/
.footer-top {
  padding: 20px 0 50px;
  background: #363636;
  border-top-width: 5px;
  border-top-style: solid;
}
/* --- Logo Footer ---- */
.logo-footer {
  width: 323px;
  height: 31px;
  margin-bottom: 7px;
  background-position: -2px -130px;
}
/* --- Social Media Footer ---- */
.social.social-footer i {
  background: #282828;
}
/* --- MNC Media ---- */
.mnc-media {
  width: 114px;
  height: 58px;
  background-position: 6px 2px;
  background-color: #fff;
  border-radius: 8px;
}
/* --- Sitemap ---- */
.site-column {
  float: left;
  margin-left: 80px;
}
.sitemap span {
  display: block;
  color: #f3bb32;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 10px;
}
.sitemap li {
  padding: 2px 0px;
}
.sitemap a {
  color: #fff;
  font-size: 14px;
}
.sitemap a:hover {
  color: #f3bb32;
}
/* --- Copyright ---- */
.copyright {
  padding: 11px 0;
  color: #fff;
  font-size: 15px;
  line-height: 18px;
  background: #282828;
  text-align: center;
}
.copyright small {
  font-size: 10px;
  opacity: .7;
}


/*
  Media Query
-------------------------------------*/
@media screen and (max-width: 1082px) {
  /*
    Footer Top
  -------------------------------------*/
  /* --- Logo Footer ---- */
  .logo-footer {
    zoom: .8;
  }
  /* --- Sitemap ---- */
  .site-column {
    margin-left: 70px;
  }
  /* --- MNC Media ---- */
  .mnc-media {
    zoom: .8;
  }
  /* --- Copyright ---- */
  .copyright {
    font-size: 12px;
  }
}
@media screen and (max-width: 992px) {
  /*
    Footer Top
  -------------------------------------*/
  .left-footer, .media, .sitemap span, .management li {
    display: none;
  }
  .footer-top, .copyright {
    background: #001120;
    border-color: #001120;
  }
  /* --- Button To Top ---- */
  .totop a {
    display: block;
    width: 101.14px;
    margin: 0 auto 20px;
    padding: 5px;
    color: #FFF;
    font-size: 14px;
    text-align: center;
    background: #D32F2F;
    border-radius: 5px;
  }
  .totop i {
    padding-right: 5px;
  }
  /* --- Sitemap ---- */
  .site-column, .right-footer {
    float: none;
  }
  .site-column {
    margin: 0 auto 20px;
    text-align: center;
  }
  /* --- Channel ---- */
  .channel ul {
    -webkit-column-count: 3;
      -moz-column-count: 3;
        column-count: 3;
  }
  .channel li {
    padding: 4px 0px;
  }
  /* --- Management ---- */
  .management ul {
    padding: 0 25px;
    -webkit-column-count: 4;
      -moz-column-count: 4;
        column-count: 4;
  }
  .management li a {
    font-size: 12px;
  }
}


/*
  Footer V2
-------------------------------------*/
.footerv2 .footer-main {
  background-color:#024a90;
  border-top:5px solid #d21524;
}
.footerv2 .footer-main .container {
  padding:25px 0;
}
.footerv2 .site-column {
  float: none;
  margin: 0 0 10px 0;
}
.footerv2 .sitemap h3 {
  min-width:130px;
  color:#f3bb32;
  font-size:16px;
  font-weight:600;
  line-height:18px;
}
.footerv2 .sitemap li {
  display:inline-block;
  line-height:8px;
  border-right:1px solid #fff;
  padding:2px 10px 2px 6px;
}
.footerv2 .management-sitemap li,.sitemap li:last-of-type {
  border-right:none;
}
.footerv2 .sitemap .header-sitemap {
  padding-right:10px;
  color:#f3bb32;
  font-size:16px;
  font-weight:700;
}
.footerv2 .sitemap a:hover {
  color:#f3bb32;
}
.footerv2 .sitemap a {
  color:#fff;
  font-size:14px;
}
.footerv2 .partner {
  position: relative;
  right: 15px;
}
.footerv2 .copyright {
  color:#fff;
  background-color:#00356a;
  text-align:center;
}
.footerv2 .copyright p {
  padding:10px 0;
}
.footerv2 .sitemap .hidden-sitemap,.native-app {
  display:none;
}
@media screen and (max-width:1200px) {
  .sitemap li {
    padding:2px 6px 2px 2px;
  }
  .sitemap h3 {
    min-width:120px;
  }
  .footer-main .col-md-11 {
    float:none!important;
    width:890px;
    margin:0 auto 30px;
  }
  .footer-main .col-md-1 {
    float:none!important;
    width:119px;
    margin:0 auto;
  }
}

@media screen and (max-width: 992px) {
  .footer-main .col-md-11 {
    width:100%;
  }
  .sitemap h3 {
    float:none!important;
    width:120px;
    text-align:center;
    clear:both;
    margin:0 auto;
  }
  .sitemap ul {
    width:100%;
    text-align:center;
    margin:5px auto 20px;
  }
  .sitemap li {
    margin-top:10px;
  }
}