@charset 'utf-8';
/* ==========================================================================
Author        :  Arif Lutfhansah
Create        :  15 May 2017
Last Update   :  4 July 2017

Contents  :
  1: Header Section
  
========================================================================== */

.sprite {
	background-image: url(../images/spritesheet.png);
	background-repeat: no-repeat;
	display: block;
}
.sprite-o {
	background-image: url(../images/ramadan_sprites.png);
	background-repeat: no-repeat;
	display: block;
}
.tahoma {
	font-family: Tahoma, Geneva, sans-serif;
}
header {
	margin-bottom: 20px;
}
header a {
	font-family: Tahoma, Geneva, sans-serif;
}

/*
  Transition
-------------------------------------*/
.language i,.nav-kanal li,.sosmed-header a, .navigation li {
	-webkit-transition: all .3s ease;
		-moz-transition: all .3s ease;
			-o-transition: all .3s ease;
				transition: all .3s ease;
}

/*
  Header Top
-------------------------------------*/
.header-top {
	background: #004b8f;
}
.home .header-top{
	background: #eeeeee;
}
/* --- Language ---- */
.language {
	padding: 11px 0 7px;
	margin-right: 45px;
}
.language i {
	display: inline-block;
	width: 30px;
	height: 20px;
	margin: 0 8px 0 0;
}
.language i:hover {
	opacity: .8;
}
.en {
	background-position: -110px -24px;
}
.id {
	background-position: -110px -3px;
}
/* --- Navigation Kanal ---- */
.nav-kanal li {
	display: inline-block;
	padding: 9px 8px 10px;
	cursor: pointer;
}
.nav-kanal li:hover {
	background: #C62828;
}
.nav-kanal li a {
	font-family: Tahoma, Geneva, sans-serif;
	color: #fff;
	font-size: 16px;
}
/* --- MNC Group Navigation ---- */
.mnc-group {
	position: relative;
	left: 480px;
}
.mnc-group li {
	display: inline-block;
	padding: 12px 8px 10px 3px;
	cursor: pointer;
}
.mnc-group li a {
	padding-right: 10px;
	color: #1976D2;
	font-size: 13px;
	font-weight: 700;
	border-right: 2px solid #1976D2;
}
.mnc-group li a:hover {
	color: #D32F2F;
}
/* --- Social Media ---- */
.social li {
  display: inline-block;
  padding: 0 3px;
  margin: 20px 0 50px 0;
  color: #f3bb32;
  font-size: 16px;
}
.social i {
  width: 45px;
  padding: 12px 0;
  color: #fff;
  background: #282828;
  font-size: 20px;
  text-align: center;
}
/* --- Social Media Header [Home] ---- */
.social.social-header li {
  margin: 9px 0;
}
.social.social-header i {
  width: 25px;
  padding: 5px 0;
  font-size: 14px;
  border-radius: 4px;
}
.social.social-header .fa-facebook {
  background: #01579B;
}
.social.social-header .fa-twitter {
  background: #40C4FF;
}
.social.social-header .fa-google-plus {
  background: #F44336;
}
.social.social-header .fa-rss {
  background: #FB8C00;
}
/* --- Sosial Media Header[Kanal] ---- */
.sosmed-header li {
	display: inline-block;
	padding: 8px;
}
.sosmed-header li:hover > a {
	color: #fff;
}
.sosmed-header li a {
	color: #51aafc;
	font-size: 18px;
}

/*
  Header Bottom
-------------------------------------*/
/* --- Logo ---- */
.logo {
	padding: 31px 0 27px;
}
.logo .sindonews {
	width: 400px;
	height: 63px;
	background-position: -5px -56px;
}
.makassar .logo {	
	padding: 19px 0 16px;
}
.makassar .logo .sindonews {	
	height: 86px;
}
/* --- R Header ---- */
.r_header {
	padding: 16px 0 10px;
}
/* --- Ornamen ---- */
.ornamen {
	position: relative;
	top: 1px;
}
.sprite-o.sindonews {
	position: relative;
	top: 6px;
	width: 358px;
	height: 69px;
	background-position: 0 -5px;
}
.sprite-o.masjid {
	width: 416px;
	height: 139px;
	background-position: -368px -6px;
}
/*
  Navigation
-------------------------------------*/
.home .navigation .container {
	background: #084D8D;
	border: none;
}
.home .navigation li:hover {
	background: #D50000;
}
.daerah .navigation .container {
	background: #282828;
}
.navigation .container {
	border-bottom-width: 3px;
	border-bottom-style: solid;
}
/* --- Navbar ---- */
.navbar-fixed {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	z-index: 9999;
}
.navbar li {
	display: inline-block;
	cursor: pointer;
}
.navbar li.active {
	background: #E7BF2B;
}
.navbar li:hover {
	background: #E7BF2B;
}
.navbar li a {
	display: block;
	padding: 9px 19px;
	color: #fff;
	font-size: 16px;
	font-weight: 700;
}
.navbar .hide {
	display: none;
	padding: 10px 19px 8px 19px;
	color: #fff;
	font-size: 16px;
	font-weight: 700;
}
.navbar .show {
	display: inline-block;
}
.kanal-extra {
	display: none;
	position: absolute;
	top: 42px;
	left: 0px;
}
.kanal-extra li {
	display: block;
	padding: 9px 70px 9px 40px;
	color: #fff;
	background: #084D8D;
}
/* --- Search ---- */
.search-btn {
	position: relative;
	padding: 11px 10px;
	color: #fff;
	font-size: 16px;
	border-width: 1px;
	border-style: solid;
	cursor: pointer;
	outline: none;
	z-index: 99;
}
.search input {
	position: absolute;
	width: 0px;
	height: 30px;
	padding: 5px 15px;
	color: #fff;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: .4px;
	border-width: 1px;
	border-style: solid;
	-webkit-transition: all 0.7s ease-in-out;
		-moz-transition: all 0.7s ease-in-out;
			-o-transition: all 0.7s ease-in-out;
				transition: all 0.7s ease-in-out;
}
.search:hover input,.search input:focus {
	width: 230px;
	margin-left: -230px;
}
.search ::-webkit-input-placeholder {
	color: #fff;
}
.search ::-moz-placeholder {
	color: #fff;
}
.search :-ms-input-placeholder {
	color: #fff;
}
.search :-moz-placeholder {
	color: #fff;
}
/* Search v2 */
.searchv2 {
	position: relative;
    right: 10px;
	padding: 5px 0;
}
#search {
	width:200px;
	height:27px;
	padding-left:10px;
	color:#212121;
	font-size:12px;
	border:1px solid #fff;
	border-top-left-radius:4px;
	border-bottom-left-radius:4px;
}
.searchv2 .btn-search {
	font-size:16px;
	background:#fff;
	border:none;
	border-top-right-radius:4px;
	border-bottom-right-radius:4px;
}
.searchv2 .btn-search i {
	color:#004b8f;
	padding:5px 0 5px 2px;
}
/*
  Slicknav
-------------------------------------*/
.slicknav {
	display: none;
}


/*
  Media Query
-------------------------------------*/
@media screen and (max-width: 1290px) {
	/*
	  Header Top
	-------------------------------------*/
	/* --- Language ---- */
	.language {
	    margin-right: 15px;
	}
  	.language i {
    	zoom: 0.9;
	}
	/* --- Navigation Kanal ---- */
	.nav-kanal li {
		padding: 10px 6px;
	}
	.nav-kanal li a {
		font-size: 14px;
	}
	/* --- Sosial Media Header ---- */
	.sosmed-header li {
		padding: 9px 8px 8px;
	}
	.sosmed-header li a {
		font-size: 16px;
	}
	/* --- MNC Group Navigation ---- */
	.mnc-group {
		left: 290px;
	}

	/*
	  Header Bottom
	-------------------------------------*/
	/* --- Logo ---- */
	.logo .sindonews {
	    zoom: 0.9;
	}
	/* --- Navigation ---- */
	.navbar li a {
	    padding: 9px 15px;
	}
	/* --- R Header ---- */
	.r_header {
		padding: 23px 0 21px;
	}
	.r_header div {
		width: 640px !important;
		object-fit: cover;
	}
	.r_header iframe {
		float: right;
		width: 640px;
		object-fit: cover;
	}
	.r_header img {
		width: 580px;
	}
}

@media screen and (max-width: 1082px) {
	/*
	  Header Top
	-------------------------------------*/
	/* --- Language ---- */
	.language {
	    margin-right: 5px;
	    padding: 12px 0 8px;
	}
  	.language i {
    	zoom: 0.6;
	}
	/* --- Navigation Kanal ---- */
	.nav-kanal li {
		padding: 10px 4px;
	}
	.nav-kanal li a {
		font-size: 12px;
	}
	/* --- Sosial Media Header ---- */
	.sosmed-header li {
		padding: 10px 5px;
	}
	.sosmed-header li a {
		font-size: 13px;
	}
	/* --- MNC Group Navigation ---- */
	.mnc-group {
		left: 70px;
	}

	/*
	  Header Bottom
	-------------------------------------*/
	/* --- Logo ---- */
	.logo {
		padding: 23px 0 19px;
	}
	.logo .sindonews {
	    zoom: 0.8;
	}
	/* --- R Header ---- */
	.r_header {
		padding: 17px 0 11px;
	}
	.r_header img {
		width: 480px;
	}
	/*
	  Navigation
	-------------------------------------*/
	/* --- Navbar ---- */
	.navbar li {
	    padding: 11px 17px 10px;
	}
	.navbar li a {
		font-size: 14px;
	}
}

@media screen and (max-width: 992px) {
	.header-top, .header-bottom, .navigation {
		display: none;
	}

	/*
	  Slicknav
	-------------------------------------*/
	.slicknav {
		border-bottom: 1px solid #eee;
    	-webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,.6);
    		-moz-box-shadow: 0 0 5px 0 rgba(0,0,0,.6);
    			box-shadow: 0 0 5px 0 rgba(0,0,0,.6);
	}
	.navmobile {
		position: absolute;
		left: 25px;
		color: #0D47A1;
		font-size: 36px;
	}
	.logomobile {
		width: 220px;
		margin: 0 auto;
		padding: 11px 0;
	}
	.logomobile span {
		display: block;
		line-height: 12px;
		text-align: center;
	}
	.sindonewsmobile {
		display: inline-block;
		width: 220px;
		height: 22px;
		background-position: -6px -167px;
	}
	.searchmobile {
		position: absolute;
		top: 3px;
		right: 25px;
		color: #B71C1C;
		font-size: 32px;
	}
}

@media screen and (max-width: 425px) {
	/*
	  Slicknav
	-------------------------------------*/
	.navmobile {
		top: 5px;
	    font-size: 30px;
	}
	.logomobile {
	    width: 165px;
	    padding: 12px 0;
	}
	.logomobile span {
	    font-size: 11px;
	    line-height: 9px;
	}
	.sindonewsmobile {
	    zoom: 0.75;
	}
	.searchmobile {
		top: 6px;
		font-size: 27px;
	}
}