@charset 'utf-8';
/* ==========================================================================
Author        :  Arif Lutfhansah
Create        :  15 May 2017
Last Update   :  22 May 2017

Contents  :
  1: Body Section
  
========================================================================== */

.main-visual {
  margin-bottom: 20px;
}

/* --- Box ---- */
.box {
  position: relative;
}
.box img {
  position: relative;
  display: block;
  cursor: pointer;
  z-index: 99;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  transition: all .5s ease;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1.0, 1.0);
}
.box img:hover {
    opacity: .7;
}
.box .caption {
  position: absolute;
  bottom: 0;
  padding: 10px;
  background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 100%);
  text-shadow: 1px 1px 1px rgba(0,0,0,.4);
  z-index: 999;
}
.box .caption span a {
  display: block;
  margin: 0 0 5px;
  color: #fff;
  font-weight: 700;
}
.box .subcategory {
  display: inline;
  padding: 2px 5px;
  color: #fff;
  font-size: 14px;
  line-height: 32px;
  letter-spacing: 1px;
  margin-bottom: 5px;
  text-shadow: none;
}
/* --- Gradient ---- */
.img-gradient {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60%;
  z-index: 2;
  background: linear-gradient(to bottom,#fff 0,#000 48%,#000 100%,#000 100%);
}

/* --- Main News ---- */
.main-news {
  margin-bottom: 10px;
}
/* --- Main Image ---- */
.main-image {
  width: 620px;
}
.main-image .image {
  width: 620px;
  height: 413px;
}
.main-image .image img {
  width: 620px;
}
.main-image .img-gradient {
  width: 620px;
}
.main-image .caption {
    width: 600px;
}
.main-image .caption span a {
  font-size: 30px;
  line-height: 34px;
}
/* --- Foreign Image ---- */
.foreign-image {
  width: 300px;
  margin-left: 10px;
}
.foreign-image:first-of-type {
  margin-bottom: 15px;
}
.foreign-image .image {
  width: 300px;
  height: 199px;
}
.foreign-image .image img {
    width: 300px;
}
.foreign-image .img-gradient {
  width: 300px;
}
.foreign-image .caption {
    width: 280px;
}
.foreign-image .caption span a {
  font-size: 16px;
  line-height: 22px;
}
.makassar .foreign-image {
  margin-left: 0;
}