@charset 'utf-8';
/* ==========================================================================
Author        :  Arif Lutfhansah
Create        :  15 May 2017
Last Update   :  22 May 2017

Contents  :
  1: Body Section
  
========================================================================== */

/*
  Square Title
-------------------------------------*/
.title-square {
  border-bottom-width: 2px;
  border-bottom-style: solid;
}
.title-square span {
  padding: 3px 10px 0;
  color: #FFF;
  font-size: 16px;
  font-weight: 700;
}
.title-square a {
  color: #1976D2;
  font-size: 16px;
  font-weight: 700;
}

/*
  Block Title
-------------------------------------*/
.title-block {
  display: block;
  padding: 10px 12px;
  color: #FFF;
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  background-color: #354A5D;
}


/*
  Underline Title
-------------------------------------*/
.title-underline {
  display: block;
  padding: 0 0 7px 0;
  font-size: 14px;
  font-weight: 700;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}


/*
  Thumb Title
-------------------------------------*/
.title-thumb {
  display: block;
  padding: 2px 0;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  border-bottom-width: 2px;
  border-bottom-style: solid;
}
.title-thumb:before {
  content:'';
  float: left;
  width: 10px;
  height: 10px;
  background-color: #D32F2F;
  margin: 6px 8px 0px 0px;
}


/*
  Fold Title
-------------------------------------*/
.fold-title {
  background: url(../images/strip.png) center center repeat-x;
  position: relative;
  margin: 0 0 5px;
  line-height: 16px;
  z-index: 9;
}
.fold-title .title {
  position: relative;
  padding: 12px 20px;
  color: #fff;
  font-size: 20px;
  text-shadow: 1px 1px #000;
}
.fold-title .title::after {
  position: absolute;
  top: 0;
  right: -7px;
  content: '';
  border-right: 7px solid rgba(0, 0, 0, 0);
  border-bottom: 11px solid #141e28;
}
.fold-title .title-more {
  top: 6px;
}
.widget .fold-title {
  top: 45px;
  margin-top: -45px;
  background: none;
}
.widget .fold-title .w-title {
  position: relative;
  right: -7px;
  padding: 12px 20px;
  color: #fff;
  font-size: 20px;
  text-shadow: 1px 1px #000;
}
.widget .fold-title .w-title::after {
  position: absolute;
  top: 40px;
  right: 0;
  content: '';
  border-right: 7px solid rgba(0, 0, 0, 0);
  border-top: 11px solid #141e28;
}