@charset 'utf-8';
/* ==========================================================================
Author        :  Arif Lutfhansah
Create        :  20 April 2018
Last Update   :  20 April 2018

Source  :
  1: Arif Framework The MIT License (MIT) Copyright (c) Arif Lutfhansah
  2: Bootstrap Framework The MIT License (MIT) Copyright (c) Bootstrap
  3: Materialize Framework The MIT License (MIT) Copyright (c) 2014-2017 Materialize

Contents  :
  1: Media Query for HDPI (width 1083px-1290px) Section

  Copyright (c) 2018 Arif Lutfhansah
  
========================================================================== */

/*
  Header
-------------------------------------*/
/* --- MNC Group ---- */
.mnc-group {
  left: 180px;
}
/* --- Navigation Kanal ---- */
.nav-kanal {
  li {
    &:nth-child(9), &:nth-child(10), &:nth-child(11) {
      display: none;
    }
  }
  &.secondary {
    position: relative;
    left: 123px;
    li {
      &:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4), &:nth-child(5) {
        display: none;
      }
    }
  }
}
/* --- Logo --- */
.logo {
  .sindonews {
    zoom: .9;
  }
}
/* --- R Header --- */
.r_header {
  padding: 19px 0 14px;
  zoom: .9;
}

/*
  Navigation
-------------------------------------*/
/* --- Navigation ---- */
.navigation {
  a {
    padding: 11px 14px;
    font-size: 15px;
  }
}