.mnc-group{left:180px}.nav-kanal li:nth-child(9),.nav-kanal li:nth-child(10),.nav-kanal li:nth-child(11){display:none}.nav-kanal.secondary{position:relative;left:123px}.nav-kanal.secondary li:nth-child(1),.nav-kanal.secondary li:nth-child(2),.nav-kanal.secondary li:nth-child(3),.nav-kanal.secondary li:nth-child(4),.nav-kanal.secondary li:nth-child(5){display:none}.logo .sindonews{zoom:.9}.r_header{padding:19px 0 14px;zoom:.9}.navigation a{padding:11px 14px;font-size:15px}
