@import url(https://fonts.googleapis.com/css?family=Bitter:400,400italic|Open+Sans:400);
@color--main: #ee1d25;
@color--black: #231a16;

body {
  font-family: open sans, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: @color--main;
  background: radial-gradient(ellipse at center, 
              lighten(@color--main, 4%) 0%, @color--main 100%);
}

h1 {
  font-family: bitter, serif;
  font-weight: normal;
  font-size: 15vw;
  line-height: .8;
  letter-spacing: -.045em;
  color: white;
  
  em {
    display: block;
    font-size: 9vw;
    letter-spacing: -.035em;
  }
}

h2 {
  margin: 0;
  line-height: 1;
}

#pop-up {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50vh - 50/2vh;
  left: 50vw - 75/2vw;
  width: 75vw;
  height: 50vh;
  background: white;
  border: solid .125em lightgrey;
  box-shadow: 0 0 32px rgba(0, 0, 0, .5);
  
  transform: scale(0);
  animation: pop-up .2s 2s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(1, .3, .5, 1.3);
  
  &:target {
    animation: pop-down .075s;
    animation-fill-mode: forwards;
  }
}

a[href="#pop-up"] {
  text-decoration: none;
  display: inline-block;
  box-sizing: border-box;
  padding: .75em 1.5em;
  font-size: 2em;
  color: white;
  background: @color--main;
  border-radius: 5px;
  transition: background .35s;
  
  &:hover, &:focus {
    background: lighten(@color--main, 5%);
  }
  
  &:active {
    transition: background .075s;
    background: darken(@color--main, 10%);
  }
  
  &:after {
    content: '×';
    position: absolute;
    top: .125em;
    right: .125em;
    font-size: 2em;
    line-height: .45;
    color: @color--black;
    transition: color .35s;
  }
}

@keyframes pop-up {
  to {
    transform: scale(1);
  }
}

@keyframes pop-down {
  from {
    transform: scale(1);
  }
  
  to {
    transform: scale(0);
  }
}