@charset 'utf-8';
/* ==========================================================================
Author        :  Arif Lutfhansah
Create        :  15 May 2017
Last Update   :  22 May 2017

Contents  :
  1: Body Section
  
========================================================================== */

/*
  Content
-------------------------------------*/
html, body, .container {
  height: 100%;
}

/*
  Main Visual
-------------------------------------*/
.mainvisual {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.5), 
      rgba(0, 0, 0, 0.5)
    ),
    url(../images/background-photo.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/*
  Video Player
-------------------------------------*/
.video-player {
  width: 1180px;
  margin: 30px auto 50px;
}

/*
  Navigation
-------------------------------------*/
.navbar {
  width: 100%;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9999;
}
.navbar.black {
  background-color: rgba(0, 0, 0, 0.9);
}
.navbar .inner {
  position: relative;
  top: 20px;
  margin: 0 auto;
  text-align: center;
}

/*
  Slider
-------------------------------------*/
.container {
  display: table;
  width: 100%;
}
.content {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.content .title {
  font-family: 'Libre Baskerville', serif;
  max-height: 165px;
  color: #fff;
  font-size: 60px;
  line-height: 85px;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}
.content .sub-title {
  font-family: Arial, Helvetica, sans-serif;
  width: 40%;
  max-height: 140px;
  margin: 50px auto;
  color: #FFFDF7;
  font-size: 20px;
  font-weight: 300;
  line-height: 35px;
  text-transform: uppercase;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}
.button {
  display: inline-block;
  padding: 9px 40px;
  color: #111111;
  background-color: #f1c40f;
  border: 1px solid #f1c40f;
  border-radius: 20px;
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
}

/*
  List Infografis
-------------------------------------*/
.main {
  padding: 15px 0 0 0;
  background-color: #111111;
}
.list-title {
  padding: 3px 0;
  border-bottom: 3px solid #EEC13C;
}
.title-line {
  width: 1170px;
  margin: 0 auto;
  padding: 3px 0 5px;
  color: #fff;
  font-size: 22px;
  font-weight: 300;
  border-bottom: 3px solid #EEC13C;
  text-transform: uppercase;
}
.list-infografis .inner {
  position: relative;
  width: 340px;
  height: 226px;
  overflow-y: hidden;
  margin: 0 auto;
  text-align: center;
  z-index: 9999;
  -webkit-transition:all 3.5s ease;
    -moz-transition:all 3.5s ease;
    -o-transition:all 3.5s ease;
    -ms-transition:all 3.5s ease;
    transition:all 3.5s ease;
}
.list-infografis .col-md-4 {
  margin-top: 40px;
}
.list-infografis .inner:hover {
  background: #e2bd2a;
  cursor: pointer;
}
.list-infografis .inner:hover > img {
  display: none;
}
.list-infografis .inner:hover > .caption-hide {
  top: 0;
}
.list-infografis .img {
  position: relative;
  z-index: 1;
}
.caption-hide {
  position: relative;
  top: 220px;
  -o-transition: 1s;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -webkit-transition: 1s;
    transition: 1s;
}
.caption-hide .title {
  display: block;
  max-height: 92px;
  padding: 20px 35px 12px;
  font-family: 'Libre Baskerville', serif;
  font-size: 24px;
  line-height: 33px;
  overflow-y: hidden;
}
.caption-hide .caption {
  display: block;
  height: 72px;
  padding: 5px 35px 53px;
  font-size: 16px;
  overflow-y: hidden;
}

/*
  Pagination
-------------------------------------*/
.pagination {
  text-align: center;
}
.pagination li {
  display: inline-block;
  padding: 90px 1px 100px;
}
.pagination li.active > a {
  background-color: #EEC13C;
}
.pagination li:hover > a {
  color: #363636;
  background-color: #f1c40f;
}
.pagination a {
  padding: 12px 17px;
  color: #fff;
  font-size: 18px;
  background-color: #363636;
  cursor: pointer;
  -webkit-transition:all 1s ease;
    -moz-transition:all 1s ease;
    -o-transition:all 1s ease;
    -ms-transition:all 1s ease;
    transition:all 1s ease;
}

/*
  Floating Social Media
-------------------------------------*/
.floating-button {
  position: fixed;
  top: 70px;
  right: 0;
  padding: 0;
  list-style: none;
  z-index: 9999;
  cursor: pointer;
  -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
            -o-transition: all .3s ease;
                transition: all .3s ease;
}
.floating-button li a {
  display: block;
}
.floating-button li a img {
  display: block;
  max-width: 30px;
  padding: 10px;
  -webkit-transition:  background .2s ease-in-out;
  -moz-transition:  background .2s ease-in-out;
  -o-transition:  background .2s ease-in-out;
  transition:  background .2s ease-in-out;
}
.floating-button li a:hover img {
  background: rgba(0, 0, 0, .2);
}
.float-sosmed {
  right: -150px;
}

/*
  Media Query
-------------------------------------*/
@media screen and (max-width: 1200px) {
  /*
    List Infografis
  -------------------------------------*/
  .title-line {
    width: 970px;
  }
  .list-infografis .inner img {
    width: 290px;
    margin: 0 auto;
  }

  /*
    Video Player
  -------------------------------------*/
  .video-player {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  /*
    List Infografis
  -------------------------------------*/
  .list-infografis .inner img {
    object-fit: cover;
    width: 340px;
    height: 226px;
  }
}
@media screen and (min-width: 993px) and (max-width: 1199px) {
  /*
    List Infografis
  -------------------------------------*/
  .list-infografis .inner img {
    object-fit: cover;
    width: 290px;
    height: 192.75px;
  }
}
@media screen and (max-width: 992px) {
  .main {
      padding-top: 28px;
  }

  /*
    Slider
  -------------------------------------*/
  .content-container {
    padding: 0;
  }
  .content .title {
      font-size: 30px;
      line-height: 45px;
  }
  .content .sub-title {
      width: 90%;
  }

  /*
    List Infografis
  -------------------------------------*/
  .title-line {
    width: 90%;
    padding-left: 10px;
  }
  .list-infografis .col-md-4 {
      padding-bottom: 30px;
      border-bottom: 2px dotted #6f6f6f;
  }
  .list-infografis .col-md-4:first-of-type {
      margin-top: 20px;
  }
  .list-infografis .inner {
    width: 100%;
    height: auto;
  }
  .list-infografis .inner:hover {
    background: #010B0D;
  }
  .list-infografis .inner img {
    width: 100%;
  }
  .list-infografis .inner:hover > img {
    display: block;
  }
  .list-infografis .inner:hover > .caption-hide {
    top: 15px;
  }
  .caption-hide {
    top: 20px;
    padding: 0 15px;
  }
  .caption-hide .title, .caption-hide .caption {
    padding: 0 0 12px;
    color: #fff;
    text-align: left;
  }
  .caption-hide .title {
    max-height: 68px;
    color: #fff;
    font-size: 20px;
    line-height: 28px;
  }
  .caption-hide .caption {
    height: 72px;
    max-height: 68px;
    color: #fff;
    font-size: 14px;
    line-height: 21px;
  }

  /*
    Floating Social Media
  -------------------------------------*/
  #social_side_links {
    position: absolute;
    top: 0;
    right: 0;
  }
  #social_side_links li {
    display: inline-block;
  }
  #social_side_links li a img {
    max-width: 20px;
  }
}
@media only screen and (max-width: 767px) {
  body {
    //background-image: url(../images/background-photo-mobile-devices.jpg);
    background-image: url(../images/backgroundexample.jpg);
  }
  html, body, .container {
    height: 700px;
  }
}
@media screen and (max-width: 550px) {
  .caption-hide h2 {
      height: 63px;
      max-height: 63px;
      padding-bottom: 18px;
      font-size: 26px;
  }
  .content .sub-title {
      height: 110px;
      margin: 30px auto;
      overflow-y: hidden;
      font-size: 14px;
    font-weight: 300;
    line-height: 23px;
  }
  .button {
      padding: 7px 29px;
      font-size: 14px;
  }
}
