@charset 'utf-8';
/* ==========================================================================
Author        :  Arif Lutfhansah
Create        :  15 May 2017
Last Update   :  23 May 2017

Contents  :
  1: Footer Section
  
========================================================================== */

.footer-main {
    height: 360px;
    background-color: #363636;
    border-top: 5px solid #EEC13C;
}
.footer-main .main-container {
    padding-top: 25px;
}
/*
  Social Media Footer
-------------------------------------*/
.social-footer li {
    display: inline-block;
    color: #f3bb32;
    padding: 0 2px;
    margin: 20px 0 25px 0;
    font-size: 16px;
    vertical-align: middle;
}
.social-footer li:nth-child(1) {
    background-color: #363636;
}
.social-footer li:nth-child(2) > a {
    padding: 10px 15px;
}
.social-footer li:nth-child(3) > a {
    padding: 10px 12px;
}
.social-footer li:nth-child(4) > a {
    padding: 10px 10px;
}
.social-footer a {
    padding: 10px 13px;
    background-color: #282828;
}
.social-footer li:nth-child(2):hover > a {
    background-color: #4867AA;
}
.social-footer li:nth-child(3):hover > a {
    background-color: #00aced;
}
.social-footer li:nth-child(4):hover > a {
    background-color: #dc4b3e;
}
.social-footer li:nth-child(5):hover > a {
    background-color: #F58432;
}
.social-footer i {
    color: #fff;
}

/*
  Partner
-------------------------------------*/
.partner a {
    display: block;
    width: 114px;
    height: 58px;
    background: url(../images/list_icon3.png);
    background-repeat: no-repeat;
    background-position: -349px -69px;
    background-color: #fff;
    border-radius: 8px;
    white-space: nowrap;
    text-indent: 100%;
    overflow: hidden;
    outline: 0;
    z-index: 99;
}

/*
  Sitemap
-------------------------------------*/
.site-column {
    float: left;
    margin-left: 60px;
}
.sitemap h3 {
    color: #f3bb32;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.sitemap li {
    padding: 2px 0px;
}
.sitemap a:hover {
    color: #f3bb32;
}
.sitemap .hidden-sitemap {
    display: none;
}
.sitemap a {
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}
.native-app {
    display: none;
}

/*
  Copyright
-------------------------------------*/
.copyright {
    color: #fff;
    height: 59px;
    background-color: #282828;
    text-align: center;
}
.copyright p {
    padding-top: 14px;
}
.connection {
    float: right;
    position: relative;
    right: 0;
    width:200px;
    margin-top: -38px;
}
.connection li {
    display: inline-block;
    vertical-align: middle;
    padding: 0 5px;
}
@media screen and (max-width: 992px) {
    /*
      Sitemap
    -------------------------------------*/
    .site-column {
        margin-left: 30px;
    }

    /*
      Copyright
    -------------------------------------*/
    .connection {
        display: none;
    }
}
@media screen and (max-width: 770px) {
    .footer-main {
        height: 300px;
        border-top: 2px solid #eed9db;
        background: url(../images/footer_background.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        background-color: #001120;
    }
    /*
      Sitemap
    -------------------------------------*/
    .site-column, .right-footer {
        float: none !important;
        margin-left: 0;
    }
    .sitemap a {
        font-weight: 400;
    }
    .channel-sitemap {
        width: 100%;
    }
    .channel-sitemap ul {
        width: 100%;
        column-count: 3;
        -webkit-column-count: 3;
        -moz-column-count: 3;
        text-align: center;
    }
    .channel-sitemap li {
        padding-bottom: 5px;
        font-weight: 400;
    }
    .sitemap .hidden-sitemap {
        display: inherit !important;
    }
    .management-sitemap {
        margin-top: 20px;
        text-align: center;
    }
    .footer-unhide {
        display: inline-block !important;
        margin-bottom: 12px;
        padding-right: 8px !important;
        padding-left: 6px !important;
        border-right: 2px solid #fff;
        line-height: 9px;
    }
    .footer-unhide:last-of-type {
        border-right: none;
    }
    .left-footer, .sitemap h3, .mnc-sitemap, .management-sitemap li {
        display: none;
    }
    .native-app {
        display: inherit;
        margin-top: 15px;
        text-align: center;
    }

    /*
      Copyright
    -------------------------------------*/
    .copyright {
        background-color: #001120;
    }
}