@charset 'utf-8';
/* ==========================================================================
Author        :  Arif Lutfhansah
Create        :  15 May 2017
Last Update   :  4 July 2017

Contents  :
  1: Header Section
  
========================================================================== */

header {
  position: relative;
  top: 22px;
  z-index: 9999;
}
/*
  Social Media
-------------------------------------*/
.sosmed li {
  display: inline-block;
  padding: 0 6px;
}
.sosmed i {
  color: #fff;
  font-size: 20px;
}
.sosmed .fa-facebook {
  padding: 11px 15px;
  background-color: #4867AA;
}
.sosmed .fa-twitter {
  padding: 11px 10.5px;
  background-color: #00aced;
}
.sosmed .fa-google-plus {
  padding: 11px 7.7px;
  background-color: #dc4b3e;
}
@media screen and (max-width: 550px) {
  /*
    Logo
  -------------------------------------*/
  .logo {
    float: none !important;
    width: 262px;
    margin: 0 auto;
  }
  
  /*
    Social Media
  -------------------------------------*/
  .sosmed {
    display: none;
  }
}