/* overwrite any style from portalPromo.css */
.portalPromo {
	font-family: 'Open Sans', sans-serif;
}
/* styles for tutorials. Can add more. */
 a{
 	color:#522583;
 	font-weight:bolder;
 	text-decoration:underline;
 }
.tut-page{
  overflow-y:auto;
  overflow-x:hidden;
  height:100%;
}
 .tut-page h5{
 	font-size: 16px;
 	line-height:1em;
 }
@media screen and (max-width: 540px) {
  .tut-page, .tut-page h1, .tut-page h2, .tut-page h3, .tut-page h4, .tut-page h5 {
    font-size:110% !important;
  }
}
.tut-page.one {
  background: #522583;
}
.tut-page.two {
  background: lavender;
  color:#522583;
  text-align:left;
}
.tut-page.three {
  background: lavender;
  color:#522583;
  text-align:left;
}
.tut-page.four {
  background: lavender;
  color:#522583;
  text-align:left;
}
/* styles for adverts. Can add more. */
.ad-page.one {

}
.ad-page.two {

}
.ad-page.three {

}
.ad-page.four {

}

.portalPromo {
  background: lavender;
  color: white;
  height: 80%;
  width: 80%;
  z-index: 99999;
  box-shadow: 1px 5px 20px black;
}
@media screen and (max-width: 540px) {
  .portalPromo {
    height: 95%;
    width: 95%;
  }
}
.portalPromo .close-btn {
  transition: all 0.1s linear;
  height: 35px;
  width: 35px;
  background: white;
  color: #522583;
  border: 2px solid #522583;
  position: absolute;
  right: 0;
  top: 0;
  margin: -18px;
  border-radius: 100%;
  z-index:1000;
}
.portalPromo .close-btn i {
  margin: 12% 0 0 21%;
  font-size: 25px;
}
.portalPromo .close-btn:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  cursor: pointer;
}
.portalPromo .allow-tut {
  position: absolute;
  left: 25px;
  top: 25px;
  width: 200px;
}
@media screen and (max-width: 540px) {
  .portalPromo .allow-tut {
    left: 0%;
    bottom: -300%;
    -webkit-transform: scale(.8);
    transform: scale(.8);
    z-index: 1000;
  }
}
.portalPromo .allow-tut input[type="checkbox"] {
  -webkit-transform: scale(2);
  transform: scale(2);
  cursor: pointer;
}
.portalPromo .allow-tut span {
  margin: 0 10px;
}
.portalPromo .content-div {
  text-align: center;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  height: 85%;
}
.portalPromo .bottom-nav {
  position: absolute;
  background: #6b30ab;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 15%;
}
@media screen and (max-width: 540px) {
  .portalPromo .bottom-nav {
    height: 25%;
    width: 100%;
  }
}
.portalPromo .bottom-nav .previous,
.portalPromo .bottom-nav .next {
  float: right;
  height: 100%;
  margin: 25px 0 0 10%;
  width: 100px;
  cursor: pointer;
  transition: all 0.1s linear;
}
.portalPromo .bottom-nav .previous:hover,
.portalPromo .bottom-nav .next:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  font-weight:bolder;
}
@media screen and (max-width: 540px) {
  .portalPromo .bottom-nav .previous,
  .portalPromo .bottom-nav .next {
    margin: 25px 3% 0 0;
  }
}
.portalPromo .bottom-nav .previous i,
.portalPromo .bottom-nav .next i {
  margin: 0 5%;
}
@media screen and (max-width: 540px) {
  .portalPromo .bottom-nav .previous {
    float: left;
    margin: 25px 0 0 5%;
  }
}

.perfect-center {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.darken {
  background: black;
  background: rgba(0, 0, 0, 0.4);
  height: 100%;
  width: 100%;
}
.hidden {
  display: none;
}