footer{padding:18px 0;color:#FFF;text-align:center;background-color:#F9F6F2}.sosmed li{display:inline-block;padding:0 2px 7px}.sosmed li i{position:relative;width:46px;height:41px;zoom:.7}.sosmed li i:hover{opacity:.7}.sosmed li i.facebook{background-position:-6px -3px}.sosmed li i.twitter{background-position:-54px -3px}.sosmed li i.instagram{background-position:-104px -3px}.sosmed li i.youtube{background-position:-155px -3px}.copyright{color:#616161}
