/*
Error: Illegal nesting: Nothing may be nested beneath variable declarations.
        on line 2 of /Applications/XAMPP/xamppfiles/htdocs/sindonews/project/infografis/tol/assets/js/javascript.js

1: $(document).ready(function() {
2:   /* --- Membuat Efek Animasi --- *\/
3:   new WOW().init();
4: 
5:   /* --- Membuat Efek Fade In Ketika Scroll --- *\/
6:   $(window).scroll(function() {
7:     var width = screen.width;

Backtrace:
/Applications/XAMPP/xamppfiles/htdocs/sindonews/project/infografis/tol/assets/js/javascript.js:2
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.3/lib/sass/engine.rb:769:in `parse_variable'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.3/lib/sass/engine.rb:651:in `parse_line'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.3/lib/sass/engine.rb:540:in `build_tree'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.3/lib/sass/engine.rb:559:in `block in append_children'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.3/lib/sass/engine.rb:558:in `each'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.3/lib/sass/engine.rb:558:in `append_children'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.3/lib/sass/engine.rb:417:in `_to_tree'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.3/lib/sass/engine.rb:290:in `render'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.3/lib/sass/plugin/compiler.rb:464:in `update_stylesheet'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.3/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.3/lib/sass/plugin/compiler.rb:209:in `each'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.3/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.3/lib/sass/plugin.rb:82:in `update_stylesheets'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.3/lib/sass/exec/sass_scss.rb:340:in `watch_or_update'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.3/lib/sass/exec/sass_scss.rb:51:in `process_result'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.3/lib/sass/exec/base.rb:52:in `parse'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.3/lib/sass/exec/base.rb:19:in `parse!'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.3/bin/sass:13:in `<top (required)>'
/usr/local/bin/sass:22:in `load'
/usr/local/bin/sass:22:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Illegal nesting: Nothing may be nested beneath variable declarations.\A         on line 2 of /Applications/XAMPP/xamppfiles/htdocs/sindonews/project/infografis/tol/assets/js/javascript.js\A \A 1: $(document).ready(function() {\A 2:   /* --- Membuat Efek Animasi --- */\A 3:   new WOW().init();\A 4: \A 5:   /* --- Membuat Efek Fade In Ketika Scroll --- */\A 6:   $(window).scroll(function() {\A 7:     var width = screen.width;"; }
