@charset 'utf-8';
/* ==========================================================================
Author        :  Arif Lutfhansah
Create        :  21 Agustus 2017
Last Update   :  21 Agustus 2017

Contents  :
  1: Body Section
  
========================================================================== */

/*
  Color
-------------------------------------*/
$color : #D3A039;
$primary-bg : #D3A039;
$secondary-bg : #7D726E;
$third-bg : #A4721F;

/*
  Logo
-------------------------------------*/
.logo img {
	display: block;
	margin: 30px auto;
	-webkit-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	transition: all 0.3s ease;
	&:hover {
		opacity: .8;
	}
}

/*
  Pimpinan
-------------------------------------*/
.pimpinan {
	background: $primary-bg; 
    background: -webkit-linear-gradient($primary-bg, $third-bg);
    background: -o-linear-gradient($primary-bg, $third-bg);
    background: -moz-linear-gradient($primary-bg, $third-bg);
    background: linear-gradient($primary-bg, $third-bg);
    .title {
    	padding: 2px 0;
    	color: #FFF;
    	font-size: 18px;
    	letter-spacing: .5px;
    	text-align: center;
    	text-transform: uppercase;
    	background-image: url(../images/title-bg.png);
    	background-repeat: no-repeat;
    	background-position: center;
    	text-shadow: 2px 3px 3px rgba(0,0,0,0.3);
    }
    .picture {
    	padding: 25px 0;
    	ul {
    		column-count: 5;
		    -webkit-column-count: 5;
		    -moz-column-count: 5;
		    li {
		    	text-align: center;
		    	img {
		    		-webkit-transition:all 0.4s ease;
					-moz-transition:all 0.4s ease;
					-o-transition:all 0.4s ease;
					transition: all 0.4s ease;
		    		&:hover {
		    			opacity: .7;
		    		}
		    	}
		    }
    	}
    }
}

/*
  Block
-------------------------------------*/
.block {
	width: 865px;
	margin: 27px auto 0;
}

/*
  Berita
-------------------------------------*/
.berita {
	width: 558px;
	margin: 0 35px 65px 0;
	background-color: #F4F4F4;
	border: 1px solid #E0E0E0;
	.list-news {
	  	padding: 15px 15px 20px;
	  	border-bottom: 1px dotted $color;
	  	clear: both;
	  	&:last-of-type {
	  		border: none;
	  	}
	  	&.big {
	  		padding: 0;
	  		.col-md-4 {
	  			width: 100%;
	  			margin: 0;
	  			.title {
	  				position: relative;
				    top: 33px;
				    margin-top: -33px;
	  				padding: 2px 10px 4px;
	  				color: #FFF;
	  				font-size: 18px;
	  				font-weight: 700;
	  				text-transform: uppercase;
	  				text-shadow: 2px 3px 3px rgba(0,0,0,0.1);
	  				background-image: url(../images/title2-bg.png);
			    	background-repeat: no-repeat;
			    	z-index: 9;
	  			}
	  			img {
	  				padding: 0;
	  			}
	  		}
	  		.col-md-8 {
	  			width: 100%;
	  			padding: 15px 15px 20px;
	  		}
	  	}
	  	.col-md-4 {
	  		margin-right: 20px;
	  		img {
	  			padding: 6px 0 0;
	  			-webkit-transition:all 0.3s ease;
				-moz-transition:all 0.3s ease;
				-o-transition:all 0.3s ease;
				transition: all 0.3s ease;
	  			&:hover {
					opacity: .8;
				}
	  		}
	  	}
		.col-md-8 {
			width: 62%;
			.field-news {
			  	display: inline-block;
			  	margin: 0;
			  	.caption {
			  		display: block;
					padding: 0 0 4px;
				  	font-size: 18px;
				  	font-weight: 700;
				  	line-height: 26px;
				  	-webkit-transition:all 0.3s ease;
					-moz-transition:all 0.3s ease;
					-o-transition:all 0.3s ease;
					transition: all 0.3s ease;
					&:hover {
						color: $color;
					}
				}
				time {
					display: block;
					padding: 0 0 5px;
					color: $color;
				}
				.detail {
				  	padding-top: 0;
				  	color: #656565;
				  	font-size: 14px;
				  	line-height: 22px;
				}
			}
		}
	}
	.pagination {
	  text-align: center;
	  li {
	  	display: inline-block;
	  	padding: 40px 1px;
	  	&.active {
	  		a {
	  			background-color: $color;
	  		}
	  	}
	  	&:hover {
	  		a {
	  			color: #fff;
	  			background-color: $color;
	  		}
	  	}
	  	a {
	  		padding: 8px 13px;
		  	color: #fff;
		  	font-size: 16px;
		  	background-color: #363636;
		  	cursor: pointer;
		  	-webkit-transition:all 0.3s ease;
			-moz-transition:all 0.3s ease;
			-o-transition:all 0.3s ease;
			transition: all 0.3s ease;
	  	}
	  }
	}
	.more {
		display: block;
		padding: 5px 0;
		color: #FFF;
		font-size: 16px;
		font-weight: 700;
		text-align: center;
		text-transform: uppercase;
		border: 1px solid $secondary-bg;
		background-color: $secondary-bg;
		-webkit-transition:all 0.3s ease;
		-moz-transition:all 0.3s ease;
		-o-transition:all 0.3s ease;
		transition: all 0.3s ease;
		&:hover {
			color: #757575;
			border-color: #E0E0E0;
			border-left: none;
			border-right: none;
			background-color: #FFF;
		}
	}
}

/*
  Mosaic
-------------------------------------*/
.mosaic {
	position: relative;
	top: 5px;
	text-align: center;
}

/*
  Sidebar
-------------------------------------*/
.sidebar {
	width: 270px;
	div {
		margin: 0 0 25px;
		.title-widget {
			display: block;
			padding: 3px 10px;
			color: #FFF;
			font-size: 17px;
			font-weight: 700;
			text-shadow: 2px 3px 3px rgba(0,0,0,0.1);
			text-transform: uppercase;
			background-image: url(../images/widget-bg.jpg);
	    	background-repeat: no-repeat;
	    	background-position: -30px 0; 
		}
	}
}

@media screen and (max-width: 1290px) {
	.picture img {
		zoom: .8;
	}
}
@media screen and (max-width: 1082px) {
	.picture img {
		zoom: .6;
	}
}

@media screen and (max-width: 992px) {
	/*
	  Pimpinan
	-------------------------------------*/
	.pimpinan {
		background: $primary-bg; 
	    background: -webkit-linear-gradient($primary-bg, $third-bg);
	    background: -o-linear-gradient($primary-bg, $third-bg);
	    background: -moz-linear-gradient($primary-bg, $third-bg);
	    background: linear-gradient($primary-bg, $third-bg);
	    .title {
	    	padding: 2px 0;
	    	color: #FFF;
	    	font-size: 18px;
	    	letter-spacing: .5px;
	    	text-align: center;
	    	text-transform: uppercase;
	    	background-image: url(../images/title-bg.png);
	    	background-repeat: no-repeat;
	    	background-position: center;
	    	text-shadow: 2px 3px 3px rgba(0,0,0,0.3);
	    }
	    .picture {
	    	padding: 25px 0;
	    	ul {
	    		column-count: 1;
			    -webkit-column-count: 1;
			    -moz-column-count: 1;
			    li {
			    	margin: 0 0 20px;
			    	img {
			    		zoom: 1;
			    	}
			    }
	    	}
	    }
	}

	/*
	  Block
	-------------------------------------*/
	.block {
		width: 100%;
	}

	/*
	  Berita
	-------------------------------------*/
	.berita {
		float: none;
		width: 93%;
		margin: 0 auto 65px;
		background-color: #F4F4F4;
		border: 1px solid #E0E0E0;
		.list-news {
		  	padding: 15px 15px 20px;
		  	border-bottom: 1px dotted $color;
		  	clear: both;
		  	&:last-of-type {
		  		border: none;
		  	}
		  	&.big {
		  		padding: 0;
		  		.col-md-4 {
		  			width: 100%;
		  			margin: 0;
		  			.title {
		  				position: relative;
					    top: 33px;
					    margin-top: -33px;
		  				padding: 2px 10px 4px;
		  				color: #FFF;
		  				font-size: 18px;
		  				font-weight: 700;
		  				text-transform: uppercase;
		  				text-shadow: 2px 3px 3px rgba(0,0,0,0.1);
		  				background-image: url(../images/title2-bg.png);
				    	background-repeat: no-repeat;
				    	z-index: 9;
		  			}
		  			img {
		  				width: 100%;
		  			}
		  		}
		  		.col-md-8 {
		  			width: 100%;
		  			padding: 15px 15px 20px;
		  		}
		  	}
		  	.col-md-4 {
		  		width: 24%;
		  		float: left;
		  		margin-right: 20px;
		  		img {
		  			padding: 6px 0 0;
		  		}
		  	}
			.col-md-8 {
				width: 72%;
				float: left;
				.field-news {
				  	display: inline-block;
				  	margin: 0;
				  	.caption {
				  		display: block;
						padding: 0 0 4px;
					  	font-size: 18px;
					  	font-weight: 700;
					  	line-height: 26px;
					}
					time {
						display: block;
						padding: 0 0 5px;
						color: $color;
					}
					.detail {
						height: 64px;
					  	padding-top: 0;
					  	color: #656565;
					  	font-size: 14px;
					  	line-height: 22px;
					  	overflow: hidden;
					}
				}
			}
		}
		.more {
			display: block;
			padding: 5px 0;
			color: #FFF;
			font-size: 16px;
			font-weight: 700;
			text-align: center;
			text-transform: uppercase;
			border: 1px solid $secondary-bg;
			background-color: $secondary-bg;
			&:hover {
				color: #757575;
				border-color: #E0E0E0;
				border-left: none;
				border-right: none;
				background-color: #FFF;
			}
		}
	}
	/*
	  Sidebar
	-------------------------------------*/
	.sidebar {
		float: none;
		display: block;
		width: 270px;
		margin: 0 auto;
		div {
			margin: 0 0 25px;
			.title-widget {
				display: block;
				padding: 3px 10px;
				color: #FFF;
				font-size: 17px;
				font-weight: 700;
				text-shadow: 2px 3px 3px rgba(0,0,0,0.1);
				text-transform: uppercase;
				background-image: url(../images/widget-bg.jpg);
		    	background-repeat: no-repeat;
		    	background-position: -30px 0; 
			}
		}
	}

	/*
	  Mosaic
	-------------------------------------*/
	.mosaic img {
		width: 100%;
	}
}

@media screen and (max-width: 768px) {
	/*
	  Logo
	-------------------------------------*/
	.logo {
		display: none;
	}
	/*
	  Pimpinan
	-------------------------------------*/
	.pimpinan {
	    .picture {
	    	ul {
	    		li {
	    			img {
			    		zoom: .8;
			    	}
	    		}
	    	}
	    }
	}
}
@media screen and (max-width: 570px) {
	/*
	  Berita
	-------------------------------------*/
	.berita {
		float: none;
		width: 93%;
		margin: 0 auto 65px;
		.list-news {
		  	padding: 15px 15px 20px;
		  	border-bottom: 1px dotted $color;
		  	clear: both;
			.col-md-8 {
				width: 70%;
				float: left;
			}
		}
	}
}
@media screen and (max-width: 392px) {
	/*
	  Berita
	-------------------------------------*/
	.berita {
		.list-news {
		  	padding: 15px 15px 10px;
		  	&.big {
		  		.col-md-4 {
		  			.title {
		  				padding: 2px 10px 4px;
		  			}
		  		}
		  		.col-md-8 {
		  			width: 100%;
		  			padding: 15px 15px 10px;
		  		}
		  	}
		  	.col-md-4 {
		  		width: 100px;
		  		margin-right: 15px;
		  	}
			.col-md-8 {
				width: 60%;
				.field-news {
				  	.caption {
					  	font-size: 16px;
					  	line-height: 22px;
					}
					.detail {
					  	display: none;
					}
				}
			}
		}
	}
}
@media screen and (max-width: 342px) {
	/*
	  Berita
	-------------------------------------*/
	.berita {
		.list-news {
			.col-md-8 {
				width: 57%;
			}
		}
	}
}