@charset 'utf-8';
/* ==========================================================================
Author        :  Arif Lutfhansah
Create        :  21 Agustus 2017
Last Update   :  21 Agustus 2017

Contents  :
  1: Footer Section
  
========================================================================== */

/*
  Footer
-------------------------------------*/
footer {
	padding: 30px 0;
	color: #FFF;
	text-align: center;
	background-color: #F1F0EC;
	.logo-footer {
		zoom: .6;
		-webkit-transition:all 0.3s ease;
		-moz-transition:all 0.3s ease;
		-o-transition:all 0.3s ease;
		transition: all 0.3s ease;
		&:hover {
			opacity: .8;
		}
	}
	.social-footer {
		li {
			display: inline-block;
			padding: 10px 12px;
			a {
				color: $secondary-bg;
				font-size: 24px;
				-webkit-transition:all 0.3s ease;
				-moz-transition:all 0.3s ease;
				-o-transition:all 0.3s ease;
				transition: all 0.3s ease;
				&:hover {
					color: $color;
				}
			}
		}
	}
}

@media screen and (max-width: 530px) {
	/*
	  Footer
	-------------------------------------*/
	footer {
		padding: 30px 0 15px;
		.logo-footer {
			float: none;
			display: block;
			margin: 0 auto;
		}
		.social-footer {
			float: none;
			margin: 20px 0 0px;
		}
	}
}