#js-countdown{position:relative;top:-126px;left:48px;width:300px;margin-bottom:52px;text-align:center}.countdown__item{display:inline-block;width:42px;margin-bottom:1rem;color:#FFF}.countdown__item--large{flex:auto;width:100%;font-size:2.75em}.countdown__timer{font-weight:700;font-size:28px}.countdown__label{color:#FFEB3B;font-size:10px;font-weight:700}.countdown__item--large .countdown__label:before,.countdown__item--large .countdown__label:after{content:'';display:block;height:1px;background-image:linear-gradient(left, transparent, rgba(0,0,0,0.4), transparent)}
