<!-- Tabs -->
<div class="tabs">
	<ul>
		<li><a data-id="feeds"><i class="fa fa-newspaper-o" aria-hidden="true"></i>Feeds</a></li>
		<li><a data-id="popular"><i class="fa fa-th" aria-hidden="true"></i>Popular</a></li>
		<li><a data-id="category"><i class="fa fa-users" aria-hidden="true"></i>Category</a></li>
		<li class="active"><a data-id="about"><i class="fa fa-cog" aria-hidden="true"></i>About</a></li>
	</ul>
</div>
<section class="about">
	<div class="logo-info">
		<img src="assets/images/favicon-96x96.png" alt="">
	</div>
	<span class="product-info">Sindonews.com</span>
	<span class="product-version">1.0.0</span>
	<div class="options">
		<ul>
			<li><a href="#"><i class="fa fa-plus-circle" aria-hidden="true"></i>Support</a></li>
			<li><a href="#"><i class="fa fa-volume-control-phone" aria-hidden="true"></i>Contact Us</a></li>
			<li><a href="#"><i class="fa fa-users" aria-hidden="true"></i>Team</a></li>
			<li><a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i>Like</a></li>
		</ul>
	</div>
	<div class="copyright">
		<span>Media Nusantara Citra</span>
		<small>Privacy and legal</small>
	</div>
</section>
<script src="assets/js/tab-switch.js"></script>