<!-- Tabs -->
<div class="tabs">
	<ul>
		<li><a data-id="feeds"><i class="fa fa-newspaper-o" aria-hidden="true"></i>Feeds</a></li>
		<li><a data-id="popular"><i class="fa fa-th" aria-hidden="true"></i>Popular</a></li>
		<li class="active"><a data-id="category"><i class="fa fa-users" aria-hidden="true"></i>Category</a></li>
		<li><a data-id="about"><i class="fa fa-cog" aria-hidden="true"></i>About</a></li>
	</ul>
</div>
<section class="listcategory">
	<ul>
		<li>
			<a href="#"><img src="assets/images/grey.jpg" alt=""></a>
			<a href="#"><span>Nasional</span></a>
		</li>
		<li>
			<a href="#"><img src="assets/images/grey.jpg" alt=""></a>
			<a href="#"><span>Metro</span></a>
		</li>
		<li>
			<a href="#"><img src="assets/images/grey.jpg" alt=""></a>
			<a href="#"><span>Daerah</span></a>
		</li>
		<li>
			<a href="#"><img src="assets/images/grey.jpg" alt=""></a>
			<a href="#"><span>Ekbis</span></a>
		</li>
		<li>
			<a href="#"><img src="assets/images/grey.jpg" alt=""></a>
			<a href="#"><span>Internasional</span></a>
		</li>
		<li>
			<a href="#"><img src="assets/images/grey.jpg" alt=""></a>
			<a href="#"><span>Sports</span></a>
		</li>
		<li>
			<a href="#"><img src="assets/images/grey.jpg" alt=""></a>
			<a href="#"><span>Soccer</span></a>
		</li>
		<li>
			<a href="#"><img src="assets/images/grey.jpg" alt=""></a>
			<a href="#"><span>Autotekno</span></a>
		</li>
		<li>
			<a href="#"><img src="assets/images/grey.jpg" alt=""></a>
			<a href="#"><span>Lifestyle</span></a>
		</li>
		<li>
			<a href="#"><img src="assets/images/grey.jpg" alt=""></a>
			<a href="#"><span>Photo</span></a>
		</li>
		<li>
			<a href="#"><img src="assets/images/grey.jpg" alt=""></a>
			<a href="#"><span>Video</span></a>
		</li>
	</ul>
</section>
<script src="assets/js/tab-switch.js"></script>