<!-- Slider -->
<section class="slider">
	<ul class="bxslider">
	  <li><img src="assets/images/slider1.jpg" /></li>
	  <li><img src="assets/images/slider2.jpg" /></li>
	</ul>
	<div class="img-gradient"></div>
</section>
<!-- Tabs -->
<div class="tabs">
	<ul>
		<li class="active"><a data-id="feeds"><i class="fa fa-newspaper-o" aria-hidden="true"></i>Feeds</a></li>
		<li><a data-id="popular"><i class="fa fa-th" aria-hidden="true"></i>Popular</a></li>
		<li><a data-id="category"><i class="fa fa-users" aria-hidden="true"></i>Category</a></li>
		<li><a data-id="about"><i class="fa fa-cog" aria-hidden="true"></i>About</a></li>
	</ul>
</div>
<!-- Kurs -->
<section class="kurs">
	<div class="inner">
		<div class="kurs-profile clearfix">
			<div class="greetings pull-left">
				Good afternoon, Arif
			</div>
			<div class="elements pull-right clearfix">
				<i class="caret large up pull-left"></i>
				<div class="exchange">
					<span class="dollar">IDR<i id="open" class="caret small rotate"></i></span>
					<span class="rupiah">13,302.00</span>
				</div>
			</div>
		</div>
		<div class="financial">
			<ul>
				<li>
					<span>USD</span>
					<span>13,302.00</span>
					<span>103.00<i class="caret up small"></i></span>
				</li>
				<li>
					<span>IHSG</span>
					<span>5,717.98</span>
					<span>14.55<i class="caret down small"></i></span>
				</li>
				<li>
					<span>Emas</span>
					<span>539,639.92</span>
					<span>19.25<i class="caret down small"></i></span>
				</li>
				<li>
					<span>LQ45</span>
					<span>955.97</span>
					<span>2.73<i class="caret up small"></i></span>
				</li>
			</ul>
		</div>
	</div>
</section>
<!-- Headline -->
<section class="headline">
	<div class="title-line clearfix">
		<div class="left pull-left">
			Headline
			<span>Berita terpopuler hari ini</span>
			<hr>
		</div>
		<div class="right pull-right">
			<a class="icon -plus">
		      <span></span>
		      <span></span>
		    </a> 
		</div>
	</div>
	<div class="list">
		<div class="news clearfix">
			<div class="caption pull-left">
				<span class="title">1. Trum's new hire Scaramucci makes concialiatori debut with media</span>
				<div class="category clearfix">
					<img src="assets/images/category.jpg" class="pull-left">
					<div class="cat-kanal pull-left">
						<span>The New York Times</span>
						<time>1 hour ago</time>
					</div>
				</div>
				<span class="subcaption">Top news</span>
			</div>
			<div class="image pull-right">
				<img src="assets/images/r_side2.jpeg" class="lazy" alt="">
				<ul class="option">
					<li><a href="#"><i class="sprite bookmark"></i></a></li>
					<li><a href="#"><i class="sprite share"></i></a></li>
					<li><a href="#"><i class="sprite more"></i></a></li>
				</ul>
			</div>
		</div>
		<div class="news clearfix">
			<div class="caption pull-left">
				<span class="title">2. Trum's new hire Scaramucci makes concialiatori debut with media</span>
				<div class="category clearfix">
					<img src="assets/images/category.jpg" class="pull-left">
					<div class="cat-kanal pull-left">
						<span>The New York Times</span>
						<time>1 hour ago</time>
					</div>
				</div>
				<span class="subcaption">Top news</span>
			</div>
			<div class="image pull-right">
				<img src="assets/images/r_side2.jpeg" class="lazy" alt="">
				<ul class="option">
					<li><a href="#"><i class="sprite bookmark"></i></a></li>
					<li><a href="#"><i class="sprite share"></i></a></li>
					<li><a href="#"><i class="sprite more"></i></a></li>
				</ul>
			</div>
		</div>
		<div class="news clearfix">
			<div class="caption pull-left">
				<span class="title">3. Trum's new hire Scaramucci makes concialiatori debut with media</span>
				<div class="category clearfix">
					<img src="assets/images/category.jpg" class="pull-left">
					<div class="cat-kanal pull-left">
						<span>The New York Times</span>
						<time>1 hour ago</time>
					</div>
				</div>
				<span class="subcaption">Top news</span>
			</div>
			<div class="image pull-right">
				<img src="assets/images/r_side2.jpeg" class="lazy" alt="">
				<ul class="option">
					<li><a href="#"><i class="sprite bookmark"></i></a></li>
					<li><a href="#"><i class="sprite share"></i></a></li>
					<li><a href="#"><i class="sprite more"></i></a></li>
				</ul>
			</div>
		</div>
		<div class="news clearfix">
			<div class="caption pull-left">
				<span class="title">4. Trum's new hire Scaramucci makes concialiatori debut with media</span>
				<div class="category clearfix">
					<img src="assets/images/category.jpg" class="pull-left">
					<div class="cat-kanal pull-left">
						<span>The New York Times</span>
						<time>1 hour ago</time>
					</div>
				</div>
				<span class="subcaption">Top news</span>
			</div>
			<div class="image pull-right">
				<img src="assets/images/r_side2.jpeg" class="lazy" alt="">
				<ul class="option">
					<li><a href="#"><i class="sprite bookmark"></i></a></li>
					<li><a href="#"><i class="sprite share"></i></a></li>
					<li><a href="#"><i class="sprite more"></i></a></li>
				</ul>
			</div>
		</div>
		<div class="news clearfix">
			<div class="caption pull-left">
				<span class="title">5. Trum's new hire Scaramucci makes concialiatori debut with media</span>
				<div class="category clearfix">
					<img src="assets/images/category.jpg" class="pull-left">
					<div class="cat-kanal pull-left">
						<span>The New York Times</span>
						<time>1 hour ago</time>
					</div>
				</div>
				<span class="subcaption">Top news</span>
			</div>
			<div class="image pull-right">
				<img src="assets/images/r_side2.jpeg" class="lazy" alt="">
				<ul class="option">
					<li><a href="#"><i class="sprite bookmark"></i></a></li>
					<li><a href="#"><i class="sprite share"></i></a></li>
					<li><a href="#"><i class="sprite more"></i></a></li>
				</ul>
			</div>
		</div>
	</div>
</section>
<!-- Card News -->
<section class="card">
	<div class="title-line">
		Berita Terkini
		<span>Berita paling update</span>
		<hr>
	</div>
	<div class="news">
		<img src="assets/images/news.jpg" class="img-news">
		<div class="caption">
			<span class="title">Oxygen therapy brings 'remarkable' turnaround for toddler who fell in pool</span>
			<div class="category clearfix">
				<img src="assets/images/category.jpg" class="pull-left">
				<div class="cat-kanal pull-left">
					<span>The New York Times</span>
					<time>1 hour ago</time>
				</div>
				<ul class="option pull-right">
					<li><a href="#"><i class="sprite bookmark"></i></a></li>
					<li><a href="#"><i class="sprite share"></i></a></li>
					<li><a href="#"><i class="sprite more"></i></a></li>
				</ul>
			</div>
		</div>
		<span class="subcaption">Top news</span>
	</div>
	<div class="news">
		<img src="assets/images/news.jpg" class="img-news">
		<div class="caption">
			<span class="title">Drones will have to be registered in UK safety clampdown</span>
			<div class="category clearfix">
				<img src="assets/images/category.jpg" class="pull-left">
				<div class="cat-kanal pull-left">
					<span>The New York Times</span>
					<time>1 hour ago</time>
				</div>
				<ul class="option pull-right">
					<li><a href="#"><i class="sprite bookmark"></i></a></li>
					<li><a href="#"><i class="sprite share"></i></a></li>
					<li><a href="#"><i class="sprite more"></i></a></li>
				</ul>
			</div>
		</div>
		<span class="subcaption">Top news</span>
	</div>
	<div class="news">
		<img src="assets/images/news.jpg" class="img-news">
		<div class="caption">
			<span class="title">Oxygen therapy brings 'remarkable' turnaround for toddler who fell in pool</span>
			<div class="category clearfix">
				<img src="assets/images/category.jpg" class="pull-left">
				<div class="cat-kanal pull-left">
					<span>The New York Times</span>
					<time>1 hour ago</time>
				</div>
				<ul class="option pull-right">
					<li><a href="#"><i class="sprite bookmark"></i></a></li>
					<li><a href="#"><i class="sprite share"></i></a></li>
					<li><a href="#"><i class="sprite more"></i></a></li>
				</ul>
			</div>
		</div>
		<span class="subcaption">Top news</span>
	</div>
	<div class="news">
		<img src="assets/images/news.jpg" class="img-news">
		<div class="caption">
			<span class="title">Oxygen therapy brings 'remarkable' turnaround for toddler who fell in pool</span>
			<div class="category clearfix">
				<img src="assets/images/category.jpg" class="pull-left">
				<div class="cat-kanal pull-left">
					<span>The New York Times</span>
					<time>1 hour ago</time>
				</div>
				<ul class="option pull-right">
					<li><a href="#"><i class="sprite bookmark"></i></a></li>
					<li><a href="#"><i class="sprite share"></i></a></li>
					<li><a href="#"><i class="sprite more"></i></a></li>
				</ul>
			</div>
		</div>
		<span class="subcaption">Top news</span>
	</div>
	<div class="news">
		<img src="assets/images/news.jpg" class="img-news">
		<div class="caption">
			<span class="title">Drones will have to be registered in UK safety clampdown</span>
			<div class="category clearfix">
				<img src="assets/images/category.jpg" class="pull-left">
				<div class="cat-kanal pull-left">
					<span>The New York Times</span>
					<time>1 hour ago</time>
				</div>
				<ul class="option pull-right">
					<li><a href="#"><i class="sprite bookmark"></i></a></li>
					<li><a href="#"><i class="sprite share"></i></a></li>
					<li><a href="#"><i class="sprite more"></i></a></li>
				</ul>
			</div>
		</div>
		<span class="subcaption">Top news</span>
	</div>
	<div class="news">
		<img src="assets/images/news.jpg" class="img-news">
		<div class="caption">
			<span class="title">Oxygen therapy brings 'remarkable' turnaround for toddler who fell in pool</span>
			<div class="category clearfix">
				<img src="assets/images/category.jpg" class="pull-left">
				<div class="cat-kanal pull-left">
					<span>The New York Times</span>
					<time>1 hour ago</time>
				</div>
				<ul class="option pull-right">
					<li><a href="#"><i class="sprite bookmark"></i></a></li>
					<li><a href="#"><i class="sprite share"></i></a></li>
					<li><a href="#"><i class="sprite more"></i></a></li>
				</ul>
			</div>
		</div>
		<span class="subcaption">Top news</span>
	</div>
	<div class="news">
		<img src="assets/images/news.jpg" class="img-news">
		<div class="caption">
			<span class="title">Oxygen therapy brings 'remarkable' turnaround for toddler who fell in pool</span>
			<div class="category clearfix">
				<img src="assets/images/category.jpg" class="pull-left">
				<div class="cat-kanal pull-left">
					<span>The New York Times</span>
					<time>1 hour ago</time>
				</div>
				<ul class="option pull-right">
					<li><a href="#"><i class="sprite bookmark"></i></a></li>
					<li><a href="#"><i class="sprite share"></i></a></li>
					<li><a href="#"><i class="sprite more"></i></a></li>
				</ul>
			</div>
		</div>
		<span class="subcaption">Top news</span>
	</div>
	<div class="news">
		<img src="assets/images/news.jpg" class="img-news">
		<div class="caption">
			<span class="title">Drones will have to be registered in UK safety clampdown</span>
			<div class="category clearfix">
				<img src="assets/images/category.jpg" class="pull-left">
				<div class="cat-kanal pull-left">
					<span>The New York Times</span>
					<time>1 hour ago</time>
				</div>
				<ul class="option pull-right">
					<li><a href="#"><i class="sprite bookmark"></i></a></li>
					<li><a href="#"><i class="sprite share"></i></a></li>
					<li><a href="#"><i class="sprite more"></i></a></li>
				</ul>
			</div>
		</div>
		<span class="subcaption">Top news</span>
	</div>
	<div class="news">
		<img src="assets/images/news.jpg" class="img-news">
		<div class="caption">
			<span class="title">Oxygen therapy brings 'remarkable' turnaround for toddler who fell in pool</span>
			<div class="category clearfix">
				<img src="assets/images/category.jpg" class="pull-left">
				<div class="cat-kanal pull-left">
					<span>The New York Times</span>
					<time>1 hour ago</time>
				</div>
				<ul class="option pull-right">
					<li><a href="#"><i class="sprite bookmark"></i></a></li>
					<li><a href="#"><i class="sprite share"></i></a></li>
					<li><a href="#"><i class="sprite more"></i></a></li>
				</ul>
			</div>
		</div>
		<span class="subcaption">Top news</span>
	</div>
	<div class="news">
		<img src="assets/images/news.jpg" class="img-news">
		<div class="caption">
			<span class="title">Drones will have to be registered in UK safety clampdown</span>
			<div class="category clearfix">
				<img src="assets/images/category.jpg" class="pull-left">
				<div class="cat-kanal pull-left">
					<span>The New York Times</span>
					<time>1 hour ago</time>
				</div>
				<ul class="option pull-right">
					<li><a href="#"><i class="sprite bookmark"></i></a></li>
					<li><a href="#"><i class="sprite share"></i></a></li>
					<li><a href="#"><i class="sprite more"></i></a></li>
				</ul>
			</div>
		</div>
		<span class="subcaption">Top news</span>
	</div>
	<div class="news">
		<img src="assets/images/news.jpg" class="img-news">
		<div class="caption">
			<span class="title">Oxygen therapy brings 'remarkable' turnaround for toddler who fell in pool</span>
			<div class="category clearfix">
				<img src="assets/images/category.jpg" class="pull-left">
				<div class="cat-kanal pull-left">
					<span>The New York Times</span>
					<time>1 hour ago</time>
				</div>
				<ul class="option pull-right">
					<li><a href="#"><i class="sprite bookmark"></i></a></li>
					<li><a href="#"><i class="sprite share"></i></a></li>
					<li><a href="#"><i class="sprite more"></i></a></li>
				</ul>
			</div>
		</div>
		<span class="subcaption">Top news</span>
	</div>
	<div class="news">
		<img src="assets/images/news.jpg" class="img-news">
		<div class="caption">
			<span class="title">Drones will have to be registered in UK safety clampdown</span>
			<div class="category clearfix">
				<img src="assets/images/category.jpg" class="pull-left">
				<div class="cat-kanal pull-left">
					<span>The New York Times</span>
					<time>1 hour ago</time>
				</div>
				<ul class="option pull-right">
					<li><a href="#"><i class="sprite bookmark"></i></a></li>
					<li><a href="#"><i class="sprite share"></i></a></li>
					<li><a href="#"><i class="sprite more"></i></a></li>
				</ul>
			</div>
		</div>
		<span class="subcaption">Top news</span>
	</div>
	<div class="news">
		<img src="assets/images/news.jpg" class="img-news">
		<div class="caption">
			<span class="title">Oxygen therapy brings 'remarkable' turnaround for toddler who fell in pool</span>
			<div class="category clearfix">
				<img src="assets/images/category.jpg" class="pull-left">
				<div class="cat-kanal pull-left">
					<span>The New York Times</span>
					<time>1 hour ago</time>
				</div>
				<ul class="option pull-right">
					<li><a href="#"><i class="sprite bookmark"></i></a></li>
					<li><a href="#"><i class="sprite share"></i></a></li>
					<li><a href="#"><i class="sprite more"></i></a></li>
				</ul>
			</div>
		</div>
		<span class="subcaption">Top news</span>
	</div>
	<div class="news">
		<img src="assets/images/news.jpg" class="img-news">
		<div class="caption">
			<span class="title">Drones will have to be registered in UK safety clampdown</span>
			<div class="category clearfix">
				<img src="assets/images/category.jpg" class="pull-left">
				<div class="cat-kanal pull-left">
					<span>The New York Times</span>
					<time>1 hour ago</time>
				</div>
				<ul class="option pull-right">
					<li><a href="#"><i class="sprite bookmark"></i></a></li>
					<li><a href="#"><i class="sprite share"></i></a></li>
					<li><a href="#"><i class="sprite more"></i></a></li>
				</ul>
			</div>
		</div>
		<span class="subcaption">Top news</span>
	</div>
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script> <!-- jQuery -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.12/jquery.bxslider.min.js"></script> <!-- BxSlider -->
	<script>
		$(document).ready(function(){
			/* Ajax Load */
			$(".tabs li a").click(function(){
				var page = $(this).attr('data-id');
				$('#content').removeClass('feeds');
				$('header').addClass('header-full');
				$('#content').load(page + '.php');
				if (page == "feeds") {
				    $('header').addClass('feeds');
				} else if (page == "popular") {
				    $('header').addClass('no-border');
				} else if (page == "category") {
				    $('header').addClass('hsss');
				} else if (page == "about") {
				    $('header').addClass('hasasas');
				} else {
				    greeting = "Good evening";
				}
				return false;
			});

			/* Caret Animation */
			document.getElementById('open').addEventListener('click', function() {
			  [].slice.call(document.getElementsByTagName('i')).forEach(function(arrow) {
			    arrow.classList.toggle('open');
			  });
			}, false);

			var on = false;
			document.getElementById('open').addEventListener('click', function() {
			  on = !on;
			  var id = on ? 'shape-open' : 'shape-close';
			  var animate = document.getElementById(id);
			  animate.beginElement();
			});
			/* BxSlider */
			$('.bxslider').bxSlider({
		    	mode: 'fade',
		    	adaptiveHeight: true,
		    	controls: false,
		    	auto: true,
		        pager: false,
		        mode: 'fade'
		    });
			/* Slide Toggle Kurs */
			$("#open").click(function(){
				$(".financial").slideToggle();
			});
			/* Animated Header When Scroll */
			/* --- Membuat Subkanal Navigation Menjadi Fixed --- */
			$(window).scroll(function() {
				console.log($(window).scrollTop())
				if ($(this).scrollTop() > 160){  
					$("header .inner").css({"width": "100%", "border-radius": "0", "top": "0"});
				}
				else{
					$("header .inner").css({"width": "95%", "border-radius": "3px", "top": "10px"});
				}
			});
		});
	</script>
	<script src="assets/js/script.js"></script>