<!-- Tabs -->
<div class="tabs">
	<ul>
		<li><a data-id="feeds"><i class="fa fa-newspaper-o" aria-hidden="true"></i>Feeds</a></li>
		<li class="active"><a data-id="popular"><i class="fa fa-th" aria-hidden="true"></i>Popular</a></li>
		<li><a data-id="category"><i class="fa fa-users" aria-hidden="true"></i>Category</a></li>
		<li><a data-id="about"><i class="fa fa-cog" aria-hidden="true"></i>About</a></li>
	</ul>
</div>
<section class='tab-slide'>
    <div class="swipe-tabs">
      <div class="swipe-tab">Popular</div>
      <div class="swipe-tab">Hot Topic</div>
    </div>
	<div class="swipe-tabs-container">
      <div class="swipe-tab-content">Tab 1</div>
      <div class="swipe-tab-content">Tab 2</div>
    </div>
</section>
<script src="assets/js/tab-switch.js"></script>
<script src="assets/js/tab-swipe.js"></script>