@charset 'utf-8';
/* ==========================================================================
Author        :  Arif Lutfhansah
Create        :  21 Agustus 2017
Last Update   :  21 Agustus 2017

Contents  :
  1: Header Section
  
========================================================================== */

/*
  Color
-------------------------------------*/
$color : #D3A039;
$primary-bg : #D3A039;
$secondary-bg : #7D726E;

/*
  Header
-------------------------------------*/
header {
	height: 40px;
	background-color: $secondary-bg;
}

/* --- Navigation --- */
nav li {
	display: inline-block;
	&:hover {
		a {
			background-color: $primary-bg;
		}
	}
	a {
		display: block;
		padding: 9.5px 8px;
		color: #FFF;
		font-size: 14px;
		-webkit-transition:all 0.3s ease;
		-moz-transition:all 0.3s ease;
		-o-transition:all 0.3s ease;
		transition: all 0.3s ease;
	}
}

/* --- Social Media Header --- */
.sosmed-header li {
	display: inline-block;
	&:hover {
		a {
			color: $primary-bg;
		}
	}
	a {
		display: block;
		padding: 6.5px 8px;
		color: #FFF;
		font-size: 18px;
		-webkit-transition:all 0.3s ease;
		-moz-transition:all 0.3s ease;
		-o-transition:all 0.3s ease;
		transition: all 0.3s ease;
	}
}

/*
  Header Mobile
-------------------------------------*/
.header-mobile {
	.logo-mobile {
		display: none;
	}
	.navbar {
		display: none;
		.navbar-toggle {
		    position: relative;
		    float: right;
		    padding: 9px 10px;
		    margin: 15px 15px 15px 0;
		    background-color: rgba(0, 0, 0, 0);
		    background-image: none;
		    border: 1px solid rgba(0, 0, 0, 0);
		    border-radius: 4px;
		    border-color: #ddd;
		    .sr-only {
			    position: absolute;
			    width: 1px;
			    height: 1px;
			    margin: -1px;
			    padding: 0;
			    overflow: hidden;
			    clip: rect(0, 0, 0, 0);
			    border: 0;
			}
			.icon-bar {
			    display: block;
			    width: 22px;
			    height: 2px;
			    border-radius: 1px;
			    background-color: #888;
			    + .icon-bar {
				    margin-top: 4px;
				}
			}
		}
	}
}

/*
  Menu Mobile
-------------------------------------*/
.menu-mobile {
	display: none;
}


@media screen and (max-width: 768px) {
	/*
	  Header
	-------------------------------------*/
	header {
		height: 63px;
		background-color: #FFF;
		.container {
			display: none;
		}
		.header-mobile {
			.logo-mobile {
				padding: 10px 0 8px 20px;;
				zoom: .6;
			}
		}
	}
	/*
	  Header Mobile
	-------------------------------------*/
	.header-mobile {
		position: fixed;
		width: 100%;
		background-color: #FFF;
		z-index: 100;
		.logo-mobile {
			display: block;
		}
		.navbar {
			display: block;
		}
	}
	/*
	  Menu Mobile
	-------------------------------------*/
	.menu-mobile {
		position: fixed;
		width: 100%;
		top: 64px;
		z-index: 10;
		nav {
			float: none;
			width: 100%;
			background-color: #FFF;
			li {
				display: block;
				a {
					padding: 9.5px 15px;
					color: $color;
				}
			}
		}
		.sosmed-header {
			float: none;
			width: 100%;
			background-color: #FFF;
			text-align: center;
			li {
				a {
					color: $color;
				}
			}
		}
	}
}
@media screen and (max-width: 380px) {
	/*
	  Header
	-------------------------------------*/
	header {
		height: 63px;
		background-color: #FFF;
		.container {
			display: none;
		}
		.header-mobile {
			.logo-mobile {
				padding: 19px 0 16px 20px;;
				zoom: .5;
			}
		}
	}
}