header{height:115px;box-shadow:0 2px 2px -2px rgba(0,0,0,0.15)}.header-top{height:65px}.logo{padding:15px 0}.logo a{color:#212121;font-size:28px;font-weight:700;letter-spacing:.8px}nav{height:50px}nav li{display:inline-block;padding:14px 25px 14px 0}nav li.active>a{font-weight:400}nav li.active:hover>a{opacity:1}nav li:hover>a{opacity:.7}nav a{color:#9E9E9E;font-size:14px;font-weight:300;letter-spacing:.4px}
