.footer-top {
	background-color: #fff;
	border-top: 6px solid #0090bf;
}
.logo-footer {
	padding: 25px 0;
}
.copyright {
    color: #fff;
    background-color: #1D1D1D;
    border-top: 6px solid #004E8F;
    text-align: center;
}
.copyright p {
    font-size: 14px;
    padding: 18px 0;
}
.ornamen {
	position: absolute;
	right: 0;
}
/* MediaQuery */
@media screen and (max-width: 560px) {
	.logo-footer {
    	float: none;
        display: block;
        width: 292px;
        margin: 0 auto;
        text-align: center;
    }
}
@media screen and (max-width: 350px) {
    .copyright p {
        font-size: 12px;
    }
}