@import 'https://fonts.googleapis.com/css?family=Fjalla+One';

header {
  background: url(../images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom: 6px solid #004e8f;
}
/* Logo */
.logo {
  padding: 17px 0 14px;
}
/* Social Media */
.sosmed {
  padding: 28px 0 26px;
}
.sosmed li {
  display: inline-block;
  padding: 0 10px;
}
.sosmed i {
  padding: 10px;
  color: #003567;
  font-size: 28px;
  background-color: #fff;
  border-radius: 50%;
}
.sosmed .fa-facebook {
  padding: 13px 16px;
}
.sosmed .fa-twitter {
  padding: 13px 12px;
}
.sosmed .fa-google-plus {
  padding: 13px 7px;
}
/* MediaQuery */
@media screen and (max-width: 992px) {
  .tagline {
    display: none;
  }
  .logo {
    float: none !important;
    text-align: center;
  }
  /* Social Media */
  .sosmed {
    display: none;
  }
}
@media screen and (max-width: 550px) {
  .logo img {
    width: 274px;
  }
}