body {
	background-color: #eeeeee;
}
.content {
	margin: 55px 0 0;
}
.slider {
	width: 100%;
}
.inner {
	width: 300px;
	margin: 0 auto;
}
/* Slider */
.slider .bx-wrapper .bx-caption {
    background: #fff\9;
    background: rgba(255, 255, 255, 0.75);
}
.slider .bx-wrapper .bx-caption span {
    color: #212121;
    font-size: 14px;
}
.box, .ci img, .ct a {
	-webkit-transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;
	-o-transition:all 0.5s ease;
	transition: all 0.5s ease;
}
.box {
	margin-bottom: 65px;
	background-color: #fff;
	cursor: pointer;
}
.box:hover > .ct a {
	color: #0093dd;
}
.box:hover > .ci img {
	opacity: .7;
}
.ci {
	height: 200px;
	background: #000;
}
.ct, .cc {
	padding-right: 10px;
	padding-left: 10px;
}
.ct {
	height: 85px;
	padding-top: 10px;
	overflow: hidden;
}
.ct a {
	font-size: 19px;
	font-weight: bold;
	line-height: 26px;
}
.cc {
	height: 74px;
	margin: 0 0 30px;
	overflow: hidden;
}
.cc p {
	font-size: 16px;
	font-weight: 300;
}
.btn-more {
	display: block;
	padding: 7px 0;
	background: #004e8f;
	color: #fff;
	font-size: 14px;
	text-align: center;
}
/* Pagination */
.pagination ul {
	margin-bottom: 40px;
	text-align: center;
}
.pagination li {
	display: inline-block;
	padding: 0 1px;
}
.pagination li:hover > a {
	color: #0090bf;
	background: #fff;
	border: 1px solid #2687e5;
}
.pagination li.active > a {
	color: #2687e5;
	background: #fff;
	border: 1px solid #2687e5;
}
.pagination li a {
	padding: 6px 10px;
	color: #fff;
	font-size: 16px;
	background: #2687e5;
	border: 1px solid #2687e5;
}
/* R Center */
.r_center {
	margin-bottom: 40px;
	text-align: center;
}
/* Video */
.video, .radio, .images {
	padding: 40px 0 70px;
	text-align: center;
}
.video {
	background: #CCCCCC;
}
.video .container {
	width: 650px;
	margin: 0 auto;
}
.video h3 {
	padding-bottom: 15px;
	color: #212121;
	font-size: 16px;
	text-align: left;
}
.video iframe {
	width: 100%;
	height: 280px;
}
/* Radio */
.radio {
	background: #2C2C2C;
}
.radio .container {
	width: 650px;
	margin: 0 auto;
}
/* Images */
.images {
	background: #003567;
}
.images .bx-wrapper {
	max-width: 1130px !important;
    margin: 0 auto;
}
.images .bx-wrapper .bx-viewport {
    background: #003567;
}
.images .bx-wrapper .bx-controls-direction a.disabled {
    display: inherit;
}
.images .bx-wrapper img {
    border: 6px solid #fff;
}
.images .bx-wrapper .bx-prev {
    left: -50px;
}
.images .bx-wrapper .bx-next {
    right: -40px !important;
}
/* MediaQuery */
@media screen and (max-width: 1200px) {
	.images .bx-wrapper {
		max-width: 840px !important;
	}
}
@media screen and (min-width: 992px) {
	.slider .bx-wrapper .bx-caption {
		bottom: 100px;
		width: 40%;
	    background: #fff\9;
	    background: rgba(255, 255, 255, 0.75);
	}
	.slider .bx-wrapper .bx-caption span {
	    color: #212121;
	    font-size: 24px;
	}
}
@media screen and (max-width: 992px) {
	.content {
		padding-top: 20px;
		margin: 25px 0 0;
	}
	.bx-wrapper {
		margin: 0 auto 30px !important;
	}
	.inner {
		width: 100%;
	}
	.box {
		margin-bottom: 20px;
	}
	.ci {
		float: left;
		height: 80px;
	}
	.ci img {
		width: 120px;
	}
	.ct {
		height: 28px;
		padding-top: 0;
	}
	.cc {
		height: 46px;
		overflow: hidden;
	}
	.pagination {
		margin-top: 40px;
	}
	.video .container, .radio .container {
		padding: 0;
	}
	.images .bx-wrapper {
	    max-width: 100% !important;
	}
	.images .bx-controls {
		display: none;
	}
}
@media screen and (max-width: 550px) {
	.slider .bx-wrapper .bx-caption span {
	    font-size: 12px;
	}
	.ct a {
		font-size: 16px;
	}
	.cc {
		height: 52px;
		margin: 0 0 10px;
	}
	.cc p {
		font-size: 12px;
	}
	.video .container, .radio .container {
		width: 100%;
		padding: 0;
	}
	.video h3 {
		text-align: center;
	}
}