@charset 'utf-8';
/* ==========================================================================
Author        :  Arif Lutfhansah
Create        :  21 Agustus 2017
Last Update   :  21 Agustus 2017

Contents  :
  1: Body Section
  
========================================================================== */

/*
  Animation
-------------------------------------*/
@mixin animation-delay($time) {
  -webkit-animation-delay: $time;
  -moz-animation-delay: $time;
  -ms-animation-delay: $time;
  -o-animation-delay: $time;
  animation-delay: $time;
}
.effect {
  position: relative;
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 4s;
}
.fadein {
  -webkit-animation: topFadeIn 3s;
  -moz-animation:    topFadeIn 3s;
  -o-animation:      topFadeIn 3s;
  animation:         topFadeIn 3s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode:    forwards;
  -o-animation-fill-mode:      forwards;
  animation-fill-mode:         forwards;
}
.fadeout {
  font-size: 4.4rem;
  position: absolute;
  left: 2.5rem;
  top: 25%;
  opacity: 0;
  animation-name: topFadeOut;
  animation-duration: 3s;
  color: white;
}
@keyframes topFadeIn {
  0% {
    top: 0;
    opacity: 0;
  }
  100% {
    top: 40px;
    opacity: 1;
  }
}
@keyframes topFadeOut {
  0% {
    position: absolute;
    top: -3rem;
    opacity: 0;
  }
  75% {
    position: absolute;
    top: 25%;
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}
@keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}

/*
  Title
-------------------------------------*/
$title : #145665;
$text : #212121;

.title {
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  z-index: 99;
  h1 {
    margin: 25px 0 0 0;
    color: $title;
    font-size: 36px;
    font-weight: 700;
    line-height: 110%;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
  }
}

/*
  Mobil
-------------------------------------*/
.car {
  img {
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    bottom: 20px;
    left: 0;
    right: 0;
    z-index: 99;
    -webkit-transition: all .9s ease;
    -moz-transition: all .9s ease;
      -o-transition: all .9s ease;
        transition: all .9s ease;
    zoom: .5;
  }
}

/*
  Mouse Scroll Animation
-------------------------------------*/
.stopscroll {
  position: fixed;
  top: 10px;
  right: 10px;
  color: #000;
  z-index: 9999;
}
#mouse-scroll .caption {
  position: relative;
  top: -35px;
  left: -32px;
  color: #FFF;
  font-size: 14px;
  transform: rotate(90deg);
}
#mouse-scroll {
  position: fixed;
  margin: auto;
  top: -22px;
  right: 20px;
  transform: rotate(270deg);
  z-index: 9999;
}
#mouse-scroll span{
  display: block;
  width: 5px; 
  height: 5px;
  -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
       transform: rotate(45deg);
       transform: rotate(45deg);
  border-right: 2px solid #fff; 
  border-bottom: 2px solid #fff;
  margin: 0 0 3px 5px;
}
#mouse-scroll .mouse {
  height: 21px;
  width: 14px;
  border-radius: 10px;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  border: 2px solid #ffffff;
  top: 170px;
}
#mouse-scroll .down-arrow-1 {
  margin-top: 6px;
}
#mouse-scroll .down-arrow-1, #mouse-scroll .down-arrow-2, #mouse-scroll .down-arrow-3 {
  -webkit-animation: mouse-scroll 1s infinite; 
    -moz-animation: mouse-scroll 1s infinite;
}
#mouse-croll .down-arrow-1 {
   -webkit-animation-delay: .1s; 
   -moz-animation-delay: .1s;
   -webkit-animation-direction: alternate;
}
#mouse-scroll .down-arrow-2 {
  -webkit-animation-delay: .2s; 
  -moz-animation-delay: .2s;
  -webkit-animation-direction: alternate;
}
#mouse-scroll .down-arrow-3 {
   -webkit-animation-delay: .3s;
   -moz-animation-dekay: .3s;
   -webkit-animation-direction: alternate;
}
#mouse-scroll .mouse-in {
  height: 5px;
  width: 2px;
  display: block; 
  margin: 5px auto;
  background: #ffffff;
  position: relative;
}
#mouse-scroll .mouse-in {
 -webkit-animation: animated-mouse 1.2s ease infinite;
  moz-animation: mouse-animated 1.2s ease infinite;
}
@-webkit-keyframes animated-mouse {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
     opacity: 0;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
  }
}
@-webkit-keyframes mouse-scroll {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  } 
}
@keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

/*
  Timeline
-------------------------------------*/
.horizontal-scroll-area {
  height: 100vh;
  width: 100vw;
  overflow-y: hidden;
  display: flex;
  background-color: #8CD9E1;
  position: fixed;
  top: 0;
  left: 0;
  &::-webkit-scrollbar {
    display: none;
  }
  .item {
    flex-shrink: 0;
    height: 100%;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 72px;
    background-repeat: no-repeat;
    background-size: cover;
    &.one {
      background-image: url(../images/1.jpg);
    }
    &.two {
      background-image: url(../images/siang.jpg);
    }
    &.three {
      background-image: url(../images/siang.jpg);
    }
    &.four {
      background-image: url(../images/2.jpg);
    }
    &.five {
      background-image: url(../images/sore.jpg);
    }
    &.six {
      background-image: url(../images/sore.jpg);
    }
    &.seven {
      background-image: url(../images/3.jpg);
    }
    &.eight {
      background-image: url(../images/kabut.jpg);
    }
    &.nine {
      background-image: url(../images/kabut.jpg);
    }
    &.ten {
      background-image: url(../images/4.jpg);
    }
    &.eleven {
      background-image: url(../images/pagi.jpg);
    }
    &.twelve {
      background-image: url(../images/pagi.jpg);
    }
    &.thirteen {
      background-image: url(../images/5.jpg);
    }
    &.fourteen {
      background-image: url(../images/malam.jpg);
    }
    &.fifteen {
      background-image: url(../images/malam.jpg);
    }
    &.sixteen {
      background-image: url(../images/6.jpg);
    }
    &.seventeen {
      background-image: url(../images/siang.jpg);
    }
    &.eightteen {
      background-image: url(../images/siang.jpg);
    }
    &.nineteen {
      background-image: url(../images/7.jpg);
    }
    &.twenty {
      background-image: url(../images/sore.jpg);
    }
    &.twentyone {
      background-image: url(../images/sore.jpg);
    }
    &.twentytwo {
      background-image: url(../images/8.jpg);
    }
    &.twentythree {
      background-image: url(../images/kabut.jpg);
    }
    &.twentyfour {
      background-image: url(../images/kabut.jpg);
    }
    &.twentyfive {
      background-image: url(../images/9.jpg);
    }
    &.twentysix {
      background-image: url(../images/pagi.jpg);
    }
    &.twentyseven {
      background-image: url(../images/pagi.jpg);
    }
    &.twentyeight {
      background-image: url(../images/10.jpg);
    }
    &.twentynine {
      background-image: url(../images/malam.jpg);
    }
    &.thirty {
      background-image: url(../images/malam.jpg);
    }
    &.thirtyone {
      background-image: url(../images/11.jpg);
    }
    &.thirtytwo {
      background-image: url(../images/siang.jpg);
    }
    &.thirtythree {
      background-image: url(../images/siang.jpg);
    }
    &.thirtyfour {
      background-image: url(../images/12.jpg);
    }
    &.thirtyfive {
      background-image: url(../images/sore.jpg);
    }
    &.thirtysix {
      background-image: url(../images/sore.jpg);
    }
    .box {
      position: absolute;
      top: 40px;
      width: 610px;
      margin-left: -210px;
      padding: 30px 50px;
      background: rgba(0, 0, 0, .1);
      border-radius: 30px;
      opacity: 0;
      .head-title {
        color: #145665;
        font-size: 28px;
        font-weight: 700;
        padding: 0 0 8px 0;
        img {
          position: absolute;
          top: 21px;
          width: 50px;
        }
      }
      .caption {
        color: #FFF;
        font-size: 20px;
        font-family: "Comic Sans MS", cursive, sans-serif;
      }
    }
  }
}


/*
  Map
-------------------------------------*/
.map {
  img {
    width: 100%;
    margin: 40px 0;
    zoom: .2;
  }
}


/*
  Statistics
-------------------------------------*/
.statistics {
  color: #FFF;
  font-size: 14px;
  background-color: #F9F6F2;
  &.last {
    display: none;
  }
  .title-stat {
    margin: 0 0 25px 0;
    color: #333333;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1.5px;
    img {
      position: relative;
      top: -4px;
      margin-right: 15px;
      vertical-align: middle;
      zoom: .6;
    }
  }
  span {
    color: #333333;
    font-size: 14px;
  }
}
/* --- Statistic Number ---- */
.stat-number {
  margin: 0 0 30px 0;
  color: #333;
  &:last-of-type {
    .number {
      padding: 0 20px 0 0;
    }
  }
  .number {
    margin: 0 25px 0 0;
    padding: 0 30px 0 0;
    color: #64328F;
    font-size: 40px;
    text-align: center;
    border-right: 1px solid #607D8B;
    span {
      display: block;
      position: relative;
      top: -7px;
      color: #64328F;
      font-size: 20px;
    }
  }
  .caption {
    position: relative;
    top: 30px;
    font-size: 16px;
  }
}
/* --- Graph Chart ---- */
.graph-chart {
  margin: 0 0 30px 0;
  .c-bar-graph {
    text-align: center;
    color: #848380;
    font-size: .9rem;
    width: 100%;
    margin-bottom: 1rem;
    .c-bar-graph__footer {
      td {
        line-height: 1.3em;
        font-size: 1.25rem;
        vertical-align: top;
        padding: .4rem 0;
        font-weight: 700;
      }
    }
    .c-bar-graph__cell {
      height: 200px;
      vertical-align: bottom;
      padding-bottom: 0;
      color: white;
      .c-bar-graph__data {
        height: 30px;
        line-height: 30px;
        font-size: .9rem;
        display: block;
        margin: 0 10%;
        color: #FFF !important;
        background: #8EC549;
        position: relative;
        transition: height 1s ease-out;
        &.last {
          background: #EDA32C;
        }
      }
    }
  }
}

/*
  Floating Social Media
-------------------------------------*/
.floating-button {
  position: fixed;
  top: 70px;
  right: 0;
  padding: 0;
  list-style: none;
  z-index: 99;
  cursor: pointer;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  &.float-sosmed {
    right: -150px;
  }
  li {
    a {
      display: block;
      &:hover {
        img {
          background: rgba(0, 0, 0, .2);
        }
      }
      img {
        display: block;
        max-width: 30px;
        padding: 10px;
        -webkit-transition:  background .2s ease-in-out;
        -moz-transition:  background .2s ease-in-out;
        -o-transition:  background .2s ease-in-out;
        transition:  background .2s ease-in-out;
      }
    }
  }
}

@media screen and (max-width: 1440px) and (max-height: 1300px) {
  /*
    Timeline
  -------------------------------------*/
  .horizontal-scroll-area {
    .item {
      width: 162vw;
    }
  }
}
@media screen and (max-width: 1440px) {
  /*
    Timeline
  -------------------------------------*/
  .horizontal-scroll-area {
    .item {
      width: 114vw;
    }
  }
}
@media screen and (max-width: 1281px) {
  /*
    Timeline
  -------------------------------------*/
  .horizontal-scroll-area {
    .item {
      width: 107vw;
    }
  }
}
@media screen and (max-width: 1281px) and (max-height: 1300px) {
  /*
    Timeline
  -------------------------------------*/
  .horizontal-scroll-area {
    .item {
      width: 221vw;
    }
  }
}
@media screen and (max-width: 1024px) {
  /*
    Timeline
  -------------------------------------*/
  .horizontal-scroll-area {
    .item {
      width: 206vw;
    }
  }
}
@media screen and (max-width: 768px) and (max-height: 1300px) {
  /*
    Timeline
  -------------------------------------*/
  .horizontal-scroll-area {
    .item {
      width: 314vw;
    }
  }
}
@media screen and (max-width: 768px) {
  .statistics {
    &.last {
      display: block;
      .pemudik, .sosmed, .copyright {
        display: block;
      }
      .pemudik {
        top: 0px;
        margin-bottom: 100px;
      }
      .graph-chart .c-bar-graph {
        zoom: .9;
      }
    }
  }
  .statistics .container {
    padding: 25px;
  }
  .floating-button {
    zoom: .6;
  }
  .map {
    margin-bottom: 100px;
    img {
      display: block;
      width: 90%;
      margin: 40px auto;
    }
  }
  .stat-number {
    margin: 0 0 20px 0;
    .title-stat {
      margin: 0 0 15px 0;
    }
  }
  .stat-number .number {
    padding: 0 30px 0 0;
    font-size: 20px;
  }
  .stat-number .number span {
      font-size: 12px;
  }
  .stat-number:last-of-type .number {
    padding: 0 16px 0 0;
  }
  .stat-number .caption {
    top: 15px;
    font-size: 12px;
  }
  .statistics {
    /*.map {
      display: none;
    }*/
    .data {
      position: relative;
      left: 13px;
    }
    .pemudik, .sosmed, .copyright {
      display: none;
    }
  }
  .statistics .col-md-6, .sosmed, .copyright {
    position: relative;
    top: -70px;
  }
}
@media screen and (max-width: 500px) {
  /*
    Title
  -------------------------------------*/
  .title {
    h1 {
      left: 10px;
      font-size: 18px;
    }
  }
  /*
    Mobil
  -------------------------------------*/
  .car {
    img {
      zoom: .3;
    }
  }
  #mouse-scroll {
    top: -37px;
    right: 0px;
  }
  /*
    Timeline
  -------------------------------------*/
  .horizontal-scroll-area {
    .item {
      width: 310vw;
      &.statistics {
        width: 97vw;
      }
      .box {
        width: 280px;
        padding: 20px 17px;
        .head-title {
          color: #145665;
          font-size: 20px;
          font-weight: 700;
          padding: 0 0 5px 0;
          img {
            top: 8px;
          }
        }
        .caption {
          font-size: 12px;
        }
      }
    }
  }
}
@media screen and (max-width: 400px) {
  /*
    Timeline
  -------------------------------------*/
  .horizontal-scroll-area {
    .item {
      width: 375vw;
      .box {
        width: 280px;
        padding: 20px 17px;
        .head-title {
          color: #145665;
          font-size: 20px;
          font-weight: 700;
          padding: 0 0 5px 0;
          img {
            top: 8px;
          }
        }
        .caption {
          font-size: 12px;
        }
      }
    }
  }
}