@charset 'utf-8';
/* ==========================================================================
Author        :  Arif Lutfhansah
Create        :  15 May 2017
Last Update   :  22 May 2017

Contents  :
  1: Body Section
  
========================================================================== */

/*
  Content
-------------------------------------*/
html, body, .container {
  height: 100%;
}

/*
  Main Visual
-------------------------------------*/
.mainvisual {
  background-image: url(../images/background-photo.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/*
  About
-------------------------------------*/
.about {
  background-image: url(../images/about_bg.jpg);
  background-size: cover;
  padding: 100px 0;
}