@charset 'utf-8';
/* ==========================================================================
Author        :  Arif Lutfhansah
Create        :  15 May 2017
Last Update   :  23 May 2017

Contents  :
  1: Footer Section
  
========================================================================== */

/*
  Footer
-------------------------------------*/

footer {
    padding: 30px 0;
    color: #FFF;
    text-align: center;
    background-color: #002a31;
}
/* ----- Sosmed Footer ----- */
.sosmed {
    margin: 0 0 20px 0;
    li {
        display: inline-block;
        padding: 0 6px;
        i {
            display: block;
            width: 22px;
            padding: 10px;
            color: #fff;
            font-size: 20px;
            border-radius: 50%;
            &:hover {
                opacity: .7;
            }
        }
        i {
            &.fa-facebook {
              background-color: #4867AA;
            }
            &.fa-twitter {
              background-color: #00aced;
            }
            &.fa-instagram {
              background-color: #527ea6;
            }
            &.fa-youtube {
              background-color: #dc4b3e;
            }
        }
    }
}
