@charset 'utf-8';
/* ==========================================================================
Author        :  Arif Lutfhansah
Create        :  15 May 2017
Last Update   :  4 July 2017

Contents  :
  1: Header Section
  
========================================================================== */

/*
  Header
-------------------------------------*/

/* ----- Logo ----- */
.logo {
  margin: 30px 0 70px 0;
}

/* ----- Caption ----- */
.title {
  font-family: 'Arimo', sans-serif;
  width: 360px;
  color: #212121;
  font-size: 60px;
  font-weight: 700;
  line-height: 63px;
}
.title span {
  font-family: 'Arimo', sans-serif;
  color: #E53935;
  font-size: 60px;
  line-height: 63px;
}
.sub-title {
  width: 300px;
  margin: 15px 0;
  color: #212121;
  font-size: 16px;
  font-weight: 700;
  font-style: italic;
  line-height: 20px;
}

/* ----- Navigation ----- */
nav {
  width: 685px;
  margin: 80px auto 0;
  padding: 30px 40px;
  border-radius: 9px;
  background-color: rgba(255,255,255, 0.8);
  ul {
    column-count: 5;
    -webkit-column-count: 5;
    -moz-column-count: 5;
    li {
      img {
        display: block;
        margin: 0 auto 15px;
      }
      span {
        display: block;
        font-size: 16px;
        font-weight: 700;
        text-align: center;
      }
    }
  }
}