.navbar-toggle{position:relative;height:34px;padding:9px 10px;margin:15px 15px 15px 0;background-color:transparent;background-image:none}.navbar-toggle .sr-only{position:absolute;width:1px;height:1px;margin:-1px;padding:0;overflow:hidden;clip:rect(0, 0, 0, 0);border:0}.navbar-toggle .icon-bar{display:block;width:22px;height:2px;border-radius:1px;background-color:#fff}.navbar-toggle .icon-bar+.icon-bar{margin-top:4px}
