@charset 'utf-8';
/* ==========================================================================
Author        :  Arif Lutfhansah
Create        :  21 Agustus 2017
Last Update   :  21 Agustus 2017

Contents  :
  1: Body Section
  
========================================================================== */

/*
  Color
-------------------------------------*/
$color : #D3A039;
$primary : #262626;
$secondary : #1FC697;
$third : #232323;

/*
  Logo
-------------------------------------*/
.logo img {
	display: block;
	margin: 30px auto;
	-webkit-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	transition: all 0.3s ease;
	&:hover {
		opacity: .8;
	}
}

/*
  Leftbar
-------------------------------------*/
.leftbar {
	position: fixed;
	width: 225px;
	height: 100%;
	text-align: center;
	background-color: $primary;
	@media screen and (max-width: 992px) {
		display: none;
		width: 100%;
		background-color: rgba(0,0,0,0);
	}
	.btn {
		width: 185px;
		margin: 5px 0;
		padding: 6px 0;
		color: #FFF;
		font-size: 14px;
		font-weight: 700;
		border-radius: 5px;
	}
	.logo {
		img {
			@media screen and (max-width: 992px) {
				margin: 0 auto;
				padding: 20px 0 0;
			}
		}
	}
	.login {
		padding: 0 20px;
		@media screen and (max-width: 992px) {
			padding: 0 0 25px;
		}
		.login-head {
			padding: 40px 0 15px;
			@media screen and (max-width: 992px) {
				width: 200px;
    			margin: 0 auto;
    			padding: 30px 0 15px;
			}
			span {
				display: block;
				color: #FFF;
				font-size: 22px;
				font-weight: 700;
				border-bottom: 1px solid #D32F2F;
			}
		}
	}
	& .success {
		.login-head {
			padding: 40px 0 0;
			img {
				width: 60px;
				border-radius: 50%;
			}
			span {
				border-bottom: none !important;
			}
		}
		.logout-btn {
			color: #FFF;
			font-size: 14px;
		}
		.upload-btn {
			margin: 10px 0;
			background-color: #F44336;
			border: 1px solid #F44336;
			cursor: pointer;
			i {
				padding-right: 8px;
			}
		}
	}
	.form-login {
		@media screen and (max-width: 992px) {
			width: 200px;
			margin: 0 auto;
		}
		input {
			width: 167px;
			margin: 0 0 7px;
			padding: 9px 8px;
			color: $primary;
			border-radius: 5px;
			border: 1px solid #FFF;
			&[type=email] {
			}
			@media screen and (max-width: 992px) {
			    display: block;
			    margin: 0 auto 7px;
			}
		}
		.choise {
			a {
				color: #FFF;
				font-size: 10px;
			}
		}
		.login-btn {
			background-color: $secondary;
			border: 1px solid $secondary;
		}
	}
	.separator {
		color: #FFF;
		font-size: 14px;
		@media screen and (max-width: 992px) {
			display: block;
		}
	}
	.facebook-btn {
		background-color: #3D5D93;
		border: 1px solid #3D5D93;
	}
	.twitter-btn {
		background-color: #2AA3EF;
		border: 1px solid #2AA3EF;
	}
	.google-btn {
		margin: 3px 0 5px;
		background-color: #D14238;
		border: 1px solid #D14238;
	}
	.facebook-btn, .twitter-btn, .google-btn {
		font-size: 12px;
		border-radius: 4px;
		@media screen and (max-width: 992px) {
			display: block;
			margin: 3px auto 5px;
		}
		i {
			padding-right: 8px;
			font-size: 14px;
		}
	}
}

/*
  Modal
-------------------------------------*/
.modal-header {
	position: absolute;
	right: 0;
    border-bottom: none;
    .close {
    	padding: 0px 9px 3px;
    	color: #FFF;
    	font-size: 27px;
    	background-color: #F44336;
    	border: 1px solid #F44336;
    	border-radius: 50%;
    	cursor: pointer;
    }
}

#login {
	.modal-dialog {
		background-color: $primary;
		border-radius: 6px;
	    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
	    box-shadow: 0 3px 9px rgba(0,0,0,.5);
		@media screen and (max-width: 992px) {
			width: 80%;
			margin: 100px auto;
		}
		.choise {
			&:first-of-type {
				padding-left: 8px;
			}
			&:last-of-type {
				padding-right: 8px;
			}
		}
	}
}

#logout {
	.modal-dialog {
		background-color: $primary;
		border-radius: 6px;
	    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
	    box-shadow: 0 3px 9px rgba(0,0,0,.5);
		@media screen and (max-width: 992px) {
			width: 80%;
			margin: 100px auto;
		}
		.logout-btn {
			display: block;
		}
		.choise {
			&:first-of-type {
				padding-left: 8px;
			}
			&:last-of-type {
				padding-right: 8px;
			}
		}
	}
}

#regis {
	display: none;
    width: 100%;
    padding: 30px 0;
    background-color: rgba(0, 0, 0, 0);
    .modal-dialog {
		background-color: $primary;
		width: 80%;
		margin: 60px auto;
		text-align: left;
		border-radius: 6px;
	    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
	    box-shadow: 0 3px 9px rgba(0,0,0,.5);
		.caption {
			padding: 30px;
			color: #FFF;
			li {
				font-size: 14px;
    			line-height: 24px;
			}
		}
		& .persyaratan {
			padding: 0 30px 30px;
		}
		.title {
			font-size: 18px;
			font-weight: 700;
		}
		.form {
			color: #FFF;
			padding: 0 30px 30px;
			.title {
				padding-bottom: 5px;
			}
			.form-registrasi {
				width: 185px;
				margin-right: 50px;
				input {
					display: block;
					width: 167px;
					margin: 0 0 7px;
					padding: 9px 8px;
					color: $primary;
					border-radius: 5px;
					border: 1px solid #FFF;
					&[type=email] {
					}
					@media screen and (max-width: 992px) {
					    display: block;
					    margin: 0 auto 7px;
					}
				}
				
				.choise {
					a {
						color: #FFF;
						font-size: 10px;
					}
					&:first-of-type {
						padding-left: 8px;
					}
					&:last-of-type {
						padding-right: 8px;
					}
				}
				.login-btn {
					background-color: $secondary;
					border: 1px solid $secondary;
				}
			}
			.form-sosmed {
				width: 205px;
				@media screen and (max-width: 640px) {
				    margin: 20px 0 0;
				}
				.btn {
					margin: 3px 0 5px;
				}
			}
		}
	}
}

#upload {
	display: none;
    width: 100%;
    padding: 30px 0;
    background-color: rgba(0, 0, 0, 0);
    .modal-dialog {
		background-color: #FFF;
		width: 80%;
		margin: 60px auto;
		text-align: left;
		border-radius: 6px;
	    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
	    box-shadow: 0 3px 9px rgba(0,0,0,.5);
		.upload-foto {
			width: 323px;
			margin: 0 auto;
			margin-bottom: 20px;
		}
		.upload-foto a, .upload-foto i {
			color: #fff;
			font-size: 30px;
			font-weight: 300;
		}
		.upload-foto a {
			padding: 10px 30px;
			background-color: #C31F32;
			border-radius: 4px;
			text-align: center;
		}
		.upload-foto i {
			padding-right: 15px;
		}
		.upload-box {
			padding: 70px 10px;
		}
		.upload-box li ul li {
			display: inline-block;
			min-width: 100px;
			margin-bottom: 20px;
			vertical-align: middle;
		}
		.upload-box li ul li p {
			color: #757575;
			font-size: 18px;
			font-weight: bold;
		}
		/* Image Upload */
		.preview {
		  display: block;
		  width: 200px;
		  height: 200px;
		  border: 1px solid #E3E3E3;
		  overflow: hidden;
		}
		.file-upload-wrapper {
		  position: relative;
		  z-index: 5;
		  display: block;
		  width: 200px;
		  height: 30px;
		  margin: 5px 0;
		  border: 1px solid #E3E3E3;
		}
		.file-upload-native,.file-upload-text {
		  position: absolute;
		  top: 0;
		  left: 0;
		  display: block;
		  width: 100%;
		  height: 100%;
		  cursor: pointer;
		}
		input[type="file"]::-webkit-file-upload-button {
		  cursor: pointer;
		}
		.file-upload-native:focus,.file-upload-text:focus {
		  outline: none;
		}
		.file-upload-text {
		  z-index: 10;
		  overflow: hidden;
		  font-size: 14px;
		  line-height: 1.4;
		  cursor: pointer;
		  text-align: center;
		  letter-spacing: 1px;
		  text-overflow: ellipsis;
		  color: rgb(144, 162, 148);
		  border: 0;
		  background-color: transparent;
		}
		.file-upload-native {
		  z-index: 15;
		  opacity: 0;
		}
		.upload-box li ul li textarea {
			width: 100%;
			color: #212121;
			font-size: 16px;
			border: 1px solid #E3E3E3;;
		}
		.upload-box li button {
			float: right;
			position: relative;
			right: 33px;
			color: #fff;
			font-size: 16px;
			font-weight: 300;
			padding: 6px 30px;
			background-color: #FAA034;
			border: 1px solid #FAA034;
			border-radius: 4px;
		}
		.view-more {
			width: 323px;
			margin: 0 auto;
			margin-bottom: 20px;
		}
		.view-more a {
			color: #fff;
			font-size: 30px;
			font-weight: 300;
		}
		.view-more a {
			padding: 10px 90px;
			background-color: #FAA034;
			border-radius: 4px;
			text-align: center;
		}
	}
}

#forgot {
    display: none;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    .modal-dialog {
		background-color: $primary;
		width: 80%;
		margin: 100px auto;
		border-radius: 6px;
	    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
	    box-shadow: 0 3px 9px rgba(0,0,0,.5);
		.forgot-inner {
			padding: 0 20px;
			.forgot-head {
				padding: 40px 0 15px;
				span {
					display: block;
					width: 200px;
					margin: 0 auto;
				    color: #FFF;
				    font-size: 22px;
				    font-weight: 700;
				    border-bottom: 1px solid #D32F2F;
				}
			}
			.form-forgot {
				padding: 0 0 40px;
				input {
					display: block;
					width: 167px;
				    margin: 0 auto 7px;
				    padding: 9px 8px;
				    color: #262626;
				    border-radius: 5px;
				    border: 1px solid #FFF;
				}
				.forgot-btn {
					background-color: #1FC697;
    				border: 1px solid #1FC697;
				}
			}
		}
	}
}

/*
  Content
-------------------------------------*/
.content {
	position: relative;
	width: -webkit-calc(100% - 225px);
	width:    -moz-calc(100% - 225px);
	width:         calc(100% - 225px);
	left: 225px;
	@media screen and (max-width: 992px) {
		left: 0;
		width: 100%;
	}
	.search {
		color: #FFF;
		height: 75px;
		background-color: $third;
		.search-form {
			position: relative;
			width: 40%;
			margin: 0 auto;
			padding: 17px 0;
			&:before {
				position: absolute;
				top: 17px;
				right: 0;
				width: 40px;
				height: 40px;
				line-height: 40px;
				font-family: 'FontAwesome';
				content: '\f002';
				background: #F44336;
				text-align: center;
				color: #fff;
				font-size: 16px;
				border-top-right-radius: 8px;
				border-bottom-right-radius: 8px;
				-webkit-font-smoothing: subpixel-antialiased;
				font-smooth: always;
			}
		}
		.searchTerm {
			-moz-box-sizing: border-box;
			-webkit-box-sizing: border-box;
			box-sizing: border-box;
			width: 100%;
			padding: 3px 20px 5px;
			height: 40px;
			font-size: 16px;
			border: 1px solid #FFF;
			border-radius: 8px;
			outline: none;
		}
		.searchButton {
			position: absolute;
			top: 0;
			right: 0;
			width: 40px;
			height: 40px;
			opacity: 0;
			cursor: pointer;
		}
	}
	.navbar {
		display: none;
		@media screen and (max-width: 992px) {
			display: inherit;
		}
		.navbar-toggle {
		    position: relative;
		    top: -69.5px;
		    float: right;
		    padding: 9px 10px;
		    margin: 15px 15px 15px 0;
		    background-color: rgba(0, 0, 0, 0);
		    background-image: none;
		    border: 1px solid rgba(0, 0, 0, 0);
		    border-radius: 4px;
		    border-color: #FFF;
		    outline: none;
		    .sr-only {
			    position: absolute;
			    width: 1px;
			    height: 1px;
			    margin: -1px;
			    padding: 0;
			    overflow: hidden;
			    clip: rect(0, 0, 0, 0);
			    border: 0;
			}
			.icon-bar {
			    display: block;
			    width: 22px;
			    height: 2px;
			    border-radius: 1px;
			    background-color: #FFF;
			    + .icon-bar {
				    margin-top: 4px;
				}
			}
		}
	}
	.writter {
		img {
			width: 60px;
			margin-right: 15px;
			border-radius: 50%;
		}
		.writter-profile {
			padding-top: 5px;
			.writter-name {
				color: #222222;
				font-size: 20px;
				font-weight: bold;
			}
			time {
				color: #bfbfbf;
			}
		}
	}
	.img-artikel {
		padding: 15px 0;
		-webkit-transition:all 0.3s ease;
		-moz-transition:all 0.3s ease;
		-o-transition:all 0.3s ease;
		transition: all 0.3s ease;
		&:hover {
			opacity: .7;
		}
	}
	.artikel {
		font-size: 16px;
		-webkit-transition:all 0.3s ease;
		-moz-transition:all 0.3s ease;
		-o-transition:all 0.3s ease;
		transition: all 0.3s ease;
		& :hover {
			font-weight: 700;
		}
		a {
			display: block;
			color: #ac499c;
			font-size: 16px;
		}
	}
	.sosmed-share {
		margin: 25px 0 0;
	    padding: 20px 0 0;
	    border-top: 1px solid #eee;
		text-align: center;
		.share {
			padding-bottom: 10px;
			color: #9E9E9E;
			font-size: 14px;
			text-align: center;
		}
		.fb-comment {
			padding-top: 20px;
		}
		ul {
			-webkit-column-count: 3;
		    -moz-column-count: 3;
		    column-count: 3;
		    li {
				padding: 0 9px;
				-webkit-transition:all 0.3s ease;
				-moz-transition:all 0.3s ease;
				-o-transition:all 0.3s ease;
				transition: all 0.3s ease;
				a {
					color: #9E9E9E;
					font-size: 14px;
					font-weight: 300;
					i {
						padding-right: 10px;
						color: #9E9E9E;
						font-size: 16px;
					}
					& .fa-comment {
						position: relative;
						top: -1px;
					}
					& .fa-share-alt {
						position: relative;
						top: 1px;
					}
				}
			}
		}
		& .active {
			> a {
				color: #F44336;
				> i {
					color: #F44336;
				}
			}
		}
	}
	.more {
		display: block;
	    width: 245px;
	    margin: 5px auto 30px;
	    padding: 15px 0px;
	    color: #FFF;
	    font-size: 18px;
		font-weight: 700;
		text-align: center;
		border-radius: 5px;
		background-color: #F99F33;
		border: 1px solid #F99F33;
		clear: both;
	}
}
.wall{
	display:block;
	position:relative;
	padding: 25px;
	&-column{
		display:block;
		position:relative;
		width:50%;
		float:left;
		padding: 0;
		box-sizing:border-box;
		&:first-child{
			padding-right:12px;
		}
		& ~.wall-column{
			padding-left:12px;
			padding-right:12px;
		}
		&:last-of-type{
			padding-right:0;
		}
		@media (max-width:640px){
			width:50%;
		}
		@media (max-width:480px){
			width:auto;
			float:none;
			padding:0;
		}
	}
}
.article{
	display:block;
	margin: 0 0 30px 0;
	padding: 20px;
	background:white;
	border-radius: 3px;
	box-shadow: 0px 1px 2px 0px rgba(black,0.05);
	transition:all 220ms;
	&:hover{
		box-shadow: 0px 2px 3px 1px rgba(black,0.1);
		transform : translateY(-5px);
		transition:all 220ms;
	}
	>img{
		display:block;
		width:100%;
	}
	h2{
		text-align:center;
		font-size:14px;
		text-transform:uppercase;
		margin: 0 0 12px 0;
	}
}

.detail {
	width: 40%;
	margin: 20px auto;
	.article {
		&:hover{
			transform : none;
			box-shadow: none;
		}
	}
}

/*
  Hover
-------------------------------------*/
.search:hover {
	cursor: pointer;
}
.btn {
	cursor: pointer;
}
.btn:hover {
	opacity: .9;
}
.sosmed-share ul li:hover > a {
	color: #F44336;
}
.sosmed-share ul li:hover > a i {
	color: #F44336;
}
