@charset 'utf-8';
/* ==========================================================================
Author        :  Arif Lutfhansah
Create        :  21 Agustus 2017
Last Update   :  21 Agustus 2017

Contents  :
  1: Body Section
  
========================================================================== */

/*
  Animation
-------------------------------------*/
@mixin animation-delay($time) {
  -webkit-animation-delay: $time;
     -moz-animation-delay: $time;
      -ms-animation-delay: $time;
       -o-animation-delay: $time;
          animation-delay: $time;
}

/*
  Kereta
-------------------------------------*/
$title : #145665;
$text : #212121;

main {
	width: 100%;
	overflow: hidden;
}

/* --- Title ---- */
.title {
	margin: 40px auto 0;
}
.title h1 {
	margin: 0 0 5px 0;
	color: $title;
	font-size: 36px;
	font-weight: 700;
	line-height: 110%;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-align: center;
}

/*
  Timeline
-------------------------------------*/
.timeline {
	padding: 0 0 30px 0;
	background-color: #EACB42;
}
.mobile {
	display: none;
}
/* --- KRL ---- */
.krl {
	position: relative;
	top: 539px;
	left: 1300px;
	zoom: .88;
	-webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: 3; /* Safari 4.0 - 8.0 */
    -webkit-animation-direction: reverse; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 10s;
    animation-iteration-count: 1;
    -webkit-animation-delay: 2s; /* Safari 4.0 - 8.0 */
    animation-delay: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
    0%   {left:-200px;}
    100% {left:1900px;}
}

/* Standard syntax */
@keyframes example {
   0%   {left:-200px;}
    100% {left:1900px;}
}
/* --- Station ---- */
.station {
	background-color: #0C5B68;
}
.title-station {
	padding: 5px 0;
	color: #FFF;
	font-size: 26px;
	font-weight: 700;
	letter-spacing: 1.5px;
	background-color: #107989;
}
.title-station span {
	padding: 9px 15px 10px;
	margin: 0 15px 0 0;
	font-size: 26px;
	background-color: #0C5B68;
}
.station img {
	padding: 20px 0 10px 20px;
}
.station p {
	padding: 0 20px 15px;
	color: #9FDAE0;
	font-size: 16px;
}
.station.one {
	margin: 35px 0 0 0;
}
.station.two {
	margin: 255px 0 0 0;
}
.station {
	margin: 215px 0 0 0;
}
/* --- Railway ---- */
.station-bg {
    background-image: url(../images/background2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 768px;
}
/* --- Column ---- */
.column {
	float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/* --- Station Left ---- */
.station-left {
	width: 519.5px;
}
/* --- Railway ---- */
.railway {
	width: 221px;
}
/* --- Station Right ---- */
.station-right {
	width: 519.5px;
}

/*
  Statistics
-------------------------------------*/
.statistics {
	color: #FFF;
	font-size: 14px;
	padding: 40px 0;
	background-color: #212121;
}
.title-stat {
	margin: 0 0 15px 0;
	color: #FFF;
	font-size: 18px;
	font-weight: 700;
	letter-spacing: 1.5px;
}
.title-stat img {
	position: relative;
	top: -4px;
	margin-right: 15px;
	vertical-align: middle;
	zoom: .9;
}
/* --- Graph Bar ---- */
.graph-bar {
	margin: 10px 0 15px;
}
.style-1 {
  list-style-type: none;
  padding: 0;
}
.style-1 li {
  font-weight: bold;
  color: white;
  width: 300px;
  background: #FFF;
  margin-bottom: 4px;
  border-radius: 2px;
}
.style-1 em {
  font-style: normal;
  display: inline-block;
  background: #981E24;
  width: 140px;
  padding: 8px;
  border-radius: 2px;
  animation: grow-padding-right 1s;
  background: #981E24; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#981E24, #621519); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#981E24, #621519); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#981E24, #621519); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#981E24, #621519); /* Standard syntax */
}
.style-1 span {
  float: right;
  padding: 8px;
  color: #212121;
}
.sumatera .style-1 li {
  width: 180px;
}
.sumatera .style-1 em {
  width: 80px;
}
/* --- Graph Pie ---- */
.graph-pie { 
	margin: 30px 0 0 0;
}
.graph-pie .donut li { 
	margin: 0 0 25px;
	vertical-align: middle;
}
.graph-pie .donut li:nth-child(2) > .count { 
	top: 52px;
}
.graph-pie .donut li:nth-child(2) > img { 
	zoom: .7;
}

/* --- Fakta Kereta ---- */
.fakta-kereta .inner {
	padding-left: 50px;
}
/* --- Graph Chart ---- */
.graph-chart {
	margin: 0 0 30px 0;
}
.c-bar-graph {
  text-align: center;
  color: gray;
  font-size: .9rem;
  width: 100%;
  margin-bottom: 1rem;
}
.c-bar-graph__footer td {
  line-height: 1.3em;
  font-size: 1.25rem;
  vertical-align: top;
  padding: .4rem 0;
  font-weight: 700;
}
.c-bar-graph__cell {
  height: 200px;
  vertical-align: bottom;
  padding-bottom: 0;
  color: white;
}
.c-bar-graph__data {
  height: 30px;
  line-height: 30px;
  font-size: .9rem;
  display: block;
  margin: 0 10%;
  background: #09578C linear-gradient(#09578C 10px, #1074B8 100%);
  position: relative;
  transition: height 1s ease-out;
}
.c-bar-graph__helper {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  clear: both;
  display: block;
}
/* --- Donut Graph ---- */
.donut li  {
	display: inline-block;
	min-width: 145px;
	margin: 30px 0 0 0;
}
.donut img {
	display: block;
	width: 112px;
	margin: 0 auto;
}
.donut span {
	display: block;
	text-align: center;
}
.donut .count {
	position: relative;
	top: 70px;
	font-size: 16px;
	z-index: 99;
}
.donut .year {
	padding: 10px 0 0 0;
	color: #808080;
	font-size: 14px;
}
/* --- Laba ---- */
.laba .donut li:nth-child(1) > img {
	position: relative;
	top: -50px;
	zoom: .5;
}
.laba .donut li:nth-child(1) > .count { 
    top: 14px;
    font-size: 14px;
}
.laba .donut li:nth-child(2) > img { 
	position: relative;
	top: -30px;
	zoom: .6;
}
.laba .donut li:nth-child(2) > .count { 
    top: 26px;
    font-size: 14px;
}
.laba .donut li:nth-child(4) > img {
	position: relative;
	top: -10px;
	zoom: .8;
}
.laba .donut li:nth-child(4) > .count { 
    top: 50px;
}

/*
  Floating Social Media
-------------------------------------*/
.floating-button {
  position: fixed;
  top: 70px;
  right: 0;
  padding: 0;
  list-style: none;
  z-index: 99;
  cursor: pointer;
  -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
            -o-transition: all .3s ease;
                transition: all .3s ease;
}
.floating-button li a {
	display: block;
}
.floating-button li a img {
  display: block;
  max-width: 30px;
  padding: 10px;
  -webkit-transition:  background .2s ease-in-out;
  -moz-transition:  background .2s ease-in-out;
  -o-transition:  background .2s ease-in-out;
  transition:  background .2s ease-in-out;
}
.floating-button li a:hover img {
	background: rgba(0, 0, 0, .2);
}
.float-sosmed {
	right: -150px;
}

@media screen and (min-width: 1082px) and (max-width: 1291px) {
	/*
	  Timeline
	-------------------------------------*/
	/* --- Station ---- */
	.station img {
	    width: 380px;
	}
	/* --- Station Left ---- */
	.station-left {
		width: 419.5px;
	}
	/* --- Railway ---- */
	.railway {
		width: 221px;
	}
	/* --- Station Right ---- */
	.station-right {
		width: 419.5px;
	}
	/* --- Graph Pie ---- */
	.jawa .small-data {
	    top: 13px;
	    left: 28px;
	}
	.jawa .big-data {
	    top: 28px;
	    left: 52px;
	}
	.total .small-data {
		left: 26px;
	}
	.total .big-data {
	    left: 51px;
	}
	/* --- Laba ---- */
	.laba li  {
		min-width: 120px;
	}
}
@media screen and (min-width: 993px) and (max-width: 1081px) {
	/*
	  Timeline
	-------------------------------------*/
	/* --- Station ---- */
	.station img {
	    width: 270px;
	}
	/* --- Station Left ---- */
	.station-left {
		width: 309.5px;
	}
	/* --- Railway ---- */
	.railway {
		width: 221px;
	}
	/* --- Station Right ---- */
	.station-right {
		width: 309.5px;
	}
	.title-station span {
		padding: 8px 15px 10px;
	    font-size: 20px;
	}
	.title-station {
	    font-size: 20px;
	}
	/* --- Animation ---- */
	@-webkit-keyframes example {
	    0%   {left:-200px;}
	    100% {left:1400px;}
	}
	@keyframes example {
	   0%   {left:-200px;}
	    100% {left:1400px;}
	}
	/* --- Graph Pie ---- */
	.graph-pie .col-md-2 {
		width: 25%;
	}
	.jawa .small-data {
	    top: 11px;
	    left: 34px;
	}
	.jawa .big-data {
	    top: 27px;
	    left: 61px;
	}
	.total .small-data {
		left: 31px;
	}
	.total .big-data {
	    left: 61px;
	}
	/* --- Laba ---- */
	.laba li  {
		min-width: 92px;
	}
	.laba img  {
		width: 80px;
	}
	.laba .count {
	    top: 52px;
	    font-size: 14px;	}
}

@media screen and (min-width: 993px) {
	.statistics .one, .fakta-kereta .one {
	  @include animation-delay(.5s);
	}
	.statistics .two, .fakta-kereta .two {
	  @include animation-delay(1s);
	}
	.statistics .three, .fakta-kereta .three {
	  @include animation-delay(1.5s);
	}
	.statistics .four, .fakta-kereta .four {
	  @include animation-delay(2s);
	}
	.statistics .five, .fakta-kereta .five {
	  @include animation-delay(2.5s);
	}
	.statistics .six, .fakta-kereta .six {
	  @include animation-delay(3s);
	}
	.statistics .seven, .fakta-kereta .seven {
	  @include animation-delay(3.5s);
	}
	.statistics .eight, .fakta-kereta .eight {
	  @include animation-delay(4s);
	}
	.statistics .nine, .fakta-kereta .nine {
	  @include animation-delay(4.5s);
	}
	.statistics .ten, .fakta-kereta .ten {
	  @include animation-delay(5s);
	}
	.statistics .eleven, .fakta-kereta .eleven {
	  @include animation-delay(5.5s);
	}
	.statistics .twelve, .fakta-kereta .twelve {
	  @include animation-delay(6s);
	}
	.statistics .thirteen, .fakta-kereta .thirteen {
	  @include animation-delay(6.5s);
	}
}

@media screen and (max-width: 992px) {
	.timeline {
		background-image: url(../images/railway2.png);
		background-repeat: repeat-y;
		background-position: center; 
	}
	.mobile {
		display: block;
	}
	.railway, .station-right {
		display: none;
	}
	.station {
		margin: 55px 0 0 0 !important;
	}
	.station-bg {
	    height: 400px;
	    background-image: url(../images/background.jpg);
	    background-repeat: repeat;
	}
	.krl {
	    top: 515px;
	    zoom: .48;
	}
	.station-left {
		width: 100%;
	}
	.station img {
		margin: 0 auto;
	    padding: 20px 0 10px 0;
	}
	/* --- Animation ---- */
	@-webkit-keyframes example {
	    0%   {left:-200px;}
	    100% {left:1900px;}
	}
	@keyframes example {
	   0%   {left:-200px;}
	    100% {left:1900px;}
	}
	/*
	  Statistics
	-------------------------------------*/
	.statistics .container {
		padding: 0 15px;
	}
	.statistics span {
		text-align: center;
	}
	.title-stat, .jalur-kereta span {
		display: block;
		text-align: center;
	}
	.statistics .graph-pie .col-md-6 {
		margin: 0 0 15px 0;
	}
	.style-1 li {
	    margin: 0 auto;
	}
	.graph-pie { 
		text-align: center;
	}
	.graph-pie #pie1, .graph-pie #pie2 { 
		display: block;
		margin: 0 auto 30px;
	}
	.graph-pie #pie1 div, .graph-pie #pie2 div { 
		display: block;
		margin: 0 auto;
	}
	/* --- Fakta Kereta ---- */
	.fakta-kereta {
		margin: 60px 0 0 0;
		text-align: center;
	}
	.fakta-kereta .inner {
		padding: 0;
	}
	/*
	  Floating Social Media
	-------------------------------------*/
	#social_side_links {
	  position: absolute;
	  top: 0;
	  right: 0;
	}
	#social_side_links li {
	  display: inline-block;
	}
	#social_side_links li a img {
	  max-width: 20px;
	}
}

@media screen and (max-width: 450px) {
	.title h1 {
	    font-size: 30px;
	}
	/* --- Station Background ---- */
	.station p {
	    font-size: 14px;
	}
	.title-station {
	    font-size: 20px;
	}
	.title-station span {
	    font-size: 20px;
	}
	/* --- Animation ---- */
	@-webkit-keyframes example {
	    0%   {left:-200px;}
	    100% {left:1000px;}
	}
	@keyframes example {
	   0%   {left:-200px;}
	    100% {left:1000px;}
	}
}