@charset 'utf-8';
/* ==========================================================================
Author        :  Arif Lutfhansah
Create        :  21 Agustus 2017
Last Update   :  21 Agustus 2017

Contents  :
  1: Footer Section
  
========================================================================== */

footer {
	padding: 18px 0;
	color: #FFF;
	text-align: center;
	background-color: #303030;
}

/*
  Sosmed
-------------------------------------*/
.sosmed li {
	display: inline-block;
	padding: 0 2px 12px;
}
.sosmed i {
	position: relative;
    width: 46px;
    height: 41px;
    zoom: .7;
}
.sosmed i:hover {
    opacity: .7;
}
.facebook {
	background-position: -6px -3px;
}
.twitter {
	background-position: -54px -3px;
}
.instagram {
	background-position: -104px -3px;
}
.youtube {
	background-position: -155px -3px;
}

@media screen and (max-width: 1082px) {
  
}