@charset 'utf-8';
/* ==========================================================================
Author        :  Arif Lutfhansah
Create        :  21 Agustus 2017
Last Update   :  21 Agustus 2017

Contents  :
  1: Body Section
  
========================================================================== */

/*
  Animation
-------------------------------------*/
@mixin animation-delay($time) {
  -webkit-animation-delay: $time;
     -moz-animation-delay: $time;
      -ms-animation-delay: $time;
       -o-animation-delay: $time;
          animation-delay: $time;
}

/*
  Kereta
-------------------------------------*/
$title : #145665;
$text : #212121;

/*
  Slider
-------------------------------------*/
body,html {
  height: 100%;
}
.mobile {
  display: none;
}
.owl-carousel {
  position: relative;
  height: 100%;
}
.owl-carousel div:not(.owl-controls) {
  height: 100%;
}
.owl-carousel .owl-slide:nth-child(1) {
  background-image: url(../images/background.jpg);
}
.owl-carousel .owl-slide {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.owl-carousel div.owl--text {
  position: absolute;
  bottom: 4em;
  left: 2em;
  width: 20em;
  height: 8em;
  padding: 1em;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 4px;
}
.owl-carousel .owl-controls {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
}
.owl-carousel .owl-controls .owl-buttons div {
  position: absolute;
  top: 0;
  bottom: 0;
  display: inline-block;
  zoom: 1;
  margin: 0;
  width: 50px;
  height: 30px;
  line-height: 25px;
  text-align: center;
  font-size: .9em;
  border-radius: 3px;
  color: #FFF;
  background: #000;
  opacity: .6;
  text-transform: capitalize;
}
.owl-carousel .owl-controls .owl-buttons .owl-prev {
  left: 5px;
}
.owl-carousel .owl-controls .owl-buttons .owl-next {
  right: 5px;
}
.owl-pagination {
  position: relative;
  top: 270px;
}
.owl-theme .owl-controls .owl-page {
    padding: 0 5px;
}
.owl-theme .owl-controls .owl-page.active > span {
  color: #CE1723;
}
.owl-theme .owl-controls .owl-page span {
    color: #004A8F;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    background: rgba(0,0,0,0);
}
/* --- Content --- */
.owl-slide {
  position: relative;
}
.owl-slide .container {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* --- Timeline --- */
.year {
  font-family: 'Pinyon Script', cursive;
  color: #0A4D8D;
  font-size: 32px;
  font-weight: 700;
}
.year.hidden {
  visibility: hidden;
}
.year.custom {
  display: block;
  position: relative;
  top: -51px;
  margin-bottom: -51px;
}
.imginside {
  width: 220px;
  margin-bottom: 15px !important;
}
.timeline img {
  display: block;
  margin: 0 auto;
}
.timeline p {
  font-size: 16px;
}
.timeline .caption {
  display: block;
  padding: 10px 50px 0;
  font-size: 14px;
  text-align: center;
}

/*
  Floating Social Media
-------------------------------------*/
.floating-button {
  position: fixed;
  top: 70px;
  right: 0;
  padding: 0;
  list-style: none;
  z-index: 99;
  cursor: pointer;
  -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
            -o-transition: all .3s ease;
                transition: all .3s ease;
}
.floating-button li a {
  display: block;
}
.floating-button li a img {
  display: block;
  max-width: 30px;
  padding: 10px;
  -webkit-transition:  background .2s ease-in-out;
  -moz-transition:  background .2s ease-in-out;
  -o-transition:  background .2s ease-in-out;
  transition:  background .2s ease-in-out;
}
.floating-button li a:hover img {
  background: rgba(0, 0, 0, .2);
}
.float-sosmed {
  right: -150px;
}


/*
  Media Query
-------------------------------------*/
@media (max-width: 1082px) {
  .mobile {
    display: block;
  }
  #owl-example {
    display: none !important;
  }
  .container {
    padding: 0 15px;
  }
  .mobile {
    position: relative;
    top: 190px;
    text-align: center;
  }
  .mobile .col-md-3 {
    margin-bottom: 20px;
  }
  .history {
    margin-bottom: 50px;
  }
  .year.custom {
    top: 0px;
    margin-bottom: 0px;
  }
  .timeline {
    margin-top: 10px;
  }
  .timeline p {
    margin-bottom: 30px;
    font-size: 14px;
  }
  .timeline .caption {
    font-size: 12px;
  }
  .mb-50 {
    margin-bottom: 50px !important;
  }
}
@media screen and (min-width: 993px) {
  .owl-slide .three {
    @include animation-delay(1s);
  }
  .owl-slide .four {
    @include animation-delay(2s);
  }
  .owl-slide .five {
    @include animation-delay(3s);
  }
  .owl-slide .six {
    @include animation-delay(4s);
  }
  .owl-slide .seven {
    @include animation-delay(5s);
  }
  .owl-slide .eight {
    @include animation-delay(11s);
  }
  .owl-slide .nine {
    @include animation-delay(12s);
  }
  .owl-slide .ten {
    @include animation-delay(13s);
  }
  .owl-slide .eleven {
    @include animation-delay(14s);
  }
  .owl-slide .twelve {
    @include animation-delay(15s);
  }
  .owl-slide .thirteen {
    @include animation-delay(21s);
  }
  .owl-slide .fourteen {
    @include animation-delay(22s);
  }
  .owl-slide .fiveteen {
    @include animation-delay(23s);
  }
  .owl-slide .sixteen {
    @include animation-delay(24s);
  }
  .owl-slide .seventeen {
    @include animation-delay(25s);
  }
  .owl-slide .eightteen {
    @include animation-delay(31s);
  }
  .owl-slide .nineteen {
    @include animation-delay(32s);
  }
  .owl-slide .twenty {
    @include animation-delay(33s);
  }
  .owl-slide .twentyone {
    @include animation-delay(34s);
  }
  .owl-slide .twentytwo {
    @include animation-delay(35s);
  }
  .owl-slide .twentythree {
    @include animation-delay(41s);
  }
  .owl-slide .twentyfour {
    @include animation-delay(42s);
  }
  .owl-slide .twentyfive {
    @include animation-delay(43s);
  }
  .owl-slide .twentysix {
    @include animation-delay(44s);
  }
  .owl-slide .twentyseven {
    @include animation-delay(45s);
  }
  .owl-slide .twentyeight {
    @include animation-delay(51s);
  }
  .owl-slide .twentynine {
    @include animation-delay(52s);
  }
  .owl-slide .thirty {
    @include animation-delay(53s);
  }
  .owl-slide .thirtyone {
    @include animation-delay(54s);
  }
  .owl-slide .thirtytwo {
    @include animation-delay(61s);
  }
  .owl-slide .thirtythree {
    @include animation-delay(62s);
  }
  .owl-slide .thirtyfour {
    @include animation-delay(63s);
  }
  .owl-slide .thirtyfive {
    @include animation-delay(64s);
  }
  .owl-slide .thirtysix {
    @include animation-delay(71s);
  }
  .owl-slide .thirtyseven {
    @include animation-delay(72s);
  }
  .owl-slide .thirtyeight {
    @include animation-delay(73s);
  }
  .owl-slide .thirtynine {
    @include animation-delay(74s);
  }
  .owl-slide .fourty {
    @include animation-delay(75s);
  }
  .owl-slide .fourtyone {
    @include animation-delay(81s);
  }
  .owl-slide .fourtytwo {
    @include animation-delay(82s);
  }
  .owl-slide .fourtythree {
    @include animation-delay(83s);
  }
  .owl-slide .fourtyfour {
    @include animation-delay(84s);
  }
  .owl-slide .fourtyfive {
    @include animation-delay(85s);
  }
  .owl-slide .fourtysix {
    @include animation-delay(91s);
  }
  .owl-slide .fourtyseven {
    @include animation-delay(92s);
  }
  .owl-slide .fourtyeight {
    @include animation-delay(93s);
  }
  .owl-slide .fourtynine {
    @include animation-delay(94s);
  }
  .owl-slide .fivety {
    @include animation-delay(95s);
  }
}
@media (max-width: 500px) {
  .mobile {
    top: 150px;
  }
}