@charset 'utf-8';
/* ==========================================================================
Author        :  Arif Lutfhansah
Create        :  21 Agustus 2017
Last Update   :  21 Agustus 2017

Contents  :
  1: Header Section
  
========================================================================== */

.sprite {
	background-image: url(../images/spritesheet.png);
	background-repeat: no-repeat;
	display: block;
}

header {
	position: absolute;
	top: 30px;
	display: block;
	width: 100%;
	text-align: center;
	background:rgba(0,0,0,0);
	z-index: 99;
}

@media (max-width: 500px) {
  header img {
    width: 290px
  }
}