@charset 'utf-8';
/* ==========================================================================
Author        :  Arif Lutfhansah
Create        :  15 May 2017
Last Update   :  22 May 2017

Contents  :
  1: Body Section
  
========================================================================== */

/*
  Animation
-------------------------------------*/
@mixin animation-delay($time) {
  -webkit-animation-delay: $time;
     -moz-animation-delay: $time;
      -ms-animation-delay: $time;
       -o-animation-delay: $time;
          animation-delay: $time;
}

/*
  Bandara
-------------------------------------*/
$title : #C1272D;
$text : #212121;

/* --- Title ---- */
.title {
	width: 590px;
	margin: 30px auto;
}
.title h1 {
	margin: 0 0 5px 0;
	color: $title;
	font-size: 40px;
	font-weight: 200;
	line-height: 110%;
	text-transform: uppercase;
	text-align: center;
}
.title p {
	color: $text;
	font-size: 14px;
	text-align: center;
}

/* --- Subtitle ---- */
.subtitle {
	display: block;
	padding: 0 0 8px 0;
	color: $title;
	font-weight: 700;
	line-height: 140%;
	text-transform: uppercase;
}

/* --- Caption ---- */
.caption {
	color: $text;
	line-height: 140%;
}

/* --- Category ---- */
.category {
	margin: 0 0 15px 0;
	color: $text;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
}
.category img {
	position: relative;
	top: 4px;
	margin: 0 15px 0 0;
	zoom: .6;
}
.category span {
	display: block;
	padding: 0 0 0 24px;
	font-size: 10px;
	line-height: 110%;
	text-transform: none;
}

/* ---List Airport ---- */
.list-airport ul {
	-webkit-column-count: 10;
  	-moz-column-count: 10;
  	column-count: 10;
}
.list-airport li {
	height: 590px;
	padding-right: 12px;
}
.list-airport .img-dot {
	position: relative;
	top: 6px;
	height: 59px;
	overflow: hidden;
	z-index: 99;
}
.list-airport .dot {
	position: relative;
	top: 0;
	left: 53px;
	width: 12px;
	z-index: 99;
}
.list-airport .airport {
	width: 120px;
}
.block-airport {
	position: relative;
	top: 10px;
}
.block-airport.two {
	top: 124px;
}
.block-airport.three {
	top: 157px;
}
.block-airport.four {
	top: 135px;
}
.block-airport.five {
	top: 69px;
}
.block-airport.six {
	top: 150px;
}
.block-airport.seven {
	top: 22px;
}
.block-airport.eight {
	top: 76px;
}
.block-airport.nine {
	top: 59px;
}
.block-airport.ten {
	top: 42px;
}

/* --- Big Airport ---- */
.big-airport  {
	position: relative;
	top: -80px;
}
.box-white {
	position: absolute;
	right: 3px;
    width: 200px;
    margin: 140px 0 0 0;
    padding: 15px;
    background: rgba(255,255,255, 0.8);
    z-index: 99;
}

/* --- Large Airport ---- */
.data .col-md-7 {
	padding-right: 15px;
}
.list-image {
	margin: 0 0 15px 0;
}
.text-left {
	width: 555px;
	padding-right: 25px;
}
.list-image img {
	width: 140px;
}

/* --- Busy Airport ---- */
.busy {
	margin: 0 0 20px 0;
}
.busy-stat {
	zoom: .239;
}
.highcharts-background {
	filter:0 !important;
}

/* --- List Plane ---- */
.price ul {
	-webkit-column-count: 3;
  	-moz-column-count: 3;
  	column-count: 3;
}
.price li {
	display: inline-block;
	margin: 0 0 30px 0;
}
.list-plane th {
	text-align: left;
}
.list-plane td {
	padding-right: 10px;
}
.list-plane img {
	zoom: .3;
}

@media screen and (min-width: 1082px) and (max-width: 1291px) {
	.list-airport li {
	    height: 702px;
	}
	.list-airport .airport {
	    width: 108px;
	}
	.list-airport .dot {
	    left: 47px;
	}
	/* --- Large Airport ---- */
	.text-left {
	    width: 435px;
	}
	/* --- Busy Airport ---- */
	.busy-stat {
	    zoom: .198;
	}
	/* --- Block Airport---- */
	.block-airport {
		position: relative;
		top: 10px;
	}
	.block-airport.two {
		top: 152px;
	}
	.block-airport.three {
		top: 209px;
	}
	.block-airport.four {
		top: 191px;
	}
	.block-airport.five {
		top: 109px;
	}
	.block-airport.six {
		top: 221px;
	}
	.block-airport.seven {
		top: 110px;
	}
	.block-airport.eight {
		top: 129px;
	}
	.block-airport.nine {
		top: 55px;
	}
	.block-airport.ten {
		top: 58px;
	}
	.big-img {
		zoom: .84;
	}
	/* --- List Plane ---- */
	.list-plane img {
		zoom: .2;
	}
}
@media screen and (min-width: 993px) and (max-width: 1081px) {
	.title h1 {
	    font-size: 29px;	
	}
	.title p {
	    font-size: 12px;	
	}
	.subtitle {
	    font-size: 9px;
	}
	.caption {
	    font-size: 8px;
	}
	.list-airport li {
	    height: 502px;
	}
	.list-airport .airport {
	    width: 73px;
	}
	.list-airport .dot {
	    left: 30px;
	}
	/* --- Big Airport ---- */
	.big-airport .box-white {
	    right: 12px;
	}
	.big-img {
		zoom: .65;
	}
	/* --- Block Airport---- */
	.block-airport {
		position: relative;
		top: 10px;
	}
	.block-airport.two {
		top: 117px;
	}
	.block-airport.three {
		top: 140px;
	}
	.block-airport.four {
		top: 124px;
	}
	.block-airport.five {
		top: 89px;
	}
	.block-airport.six {
		top: 145px;
	}
	.block-airport.seven {
		top: 67px;
	}
	.block-airport.eight {
		top: 109px;
	}
	.block-airport.nine {
		top: 85px;
	}
	.block-airport.ten {
		top: 56px;
	}
	/* --- Large Airport ---- */
	.text-left {
		width: 340px;
	}
	.list-image img {
		width: 110px;
	}
	/* --- List Plane ---- */
	.list-plane img {
		zoom: .19;
	}
}

@media screen and (min-width: 992px) {
	/*
	  Animation
	-------------------------------------*/

	/* --- Title ---- */
	.title h1 {
	  @include animation-delay(.5s);
	}
	.title p {
	  @include animation-delay(1.2s);
	}

	/* --- List Airport ---- */
	.list-airport .one .subtitle {
		@include animation-delay(3s);
	}
	.list-airport .one .caption {
		@include animation-delay(3s);
	}
	.list-airport .one .img-dot {
		@include animation-delay(4s);
	}
	.list-airport .one .airport {
		@include animation-delay(4s);
	}

	.list-airport .two .subtitle {
		@include animation-delay(5s);
	}
	.list-airport .two .caption {
		@include animation-delay(5s);
	}
	.list-airport .two .img-dot {
		@include animation-delay(6s);
	}
	.list-airport .two .airport {
		@include animation-delay(6s);
	}

	.list-airport .three .subtitle {
		@include animation-delay(7s);
	}
	.list-airport .three .caption {
		@include animation-delay(7s);
	}
	.list-airport .three .img-dot {
		@include animation-delay(8s);
	}
	.list-airport .three .airport {
		@include animation-delay(8s);
	}


	.list-airport .four .subtitle {
		@include animation-delay(9s);
	}
	.list-airport .four .caption {
		@include animation-delay(9s);
	}
	.list-airport .four .img-dot {
		@include animation-delay(10s);
	}
	.list-airport .four .airport {
		@include animation-delay(10s);
	}

	.list-airport .five .subtitle {
		@include animation-delay(11s);
	}
	.list-airport .five .caption {
		@include animation-delay(11s);
	}
	.list-airport .five .img-dot {
		@include animation-delay(12s);
	}
	.list-airport .five .airport {
		@include animation-delay(12s);
	}

	.list-airport .six .subtitle {
		@include animation-delay(13s);
	}
	.list-airport .six .caption {
		@include animation-delay(13s);
	}
	.list-airport .six .img-dot {
		@include animation-delay(14s);
	}
	.list-airport .six .airport {
		@include animation-delay(14s);
	}

	.list-airport .seven .subtitle {
		@include animation-delay(15s);
	}
	.list-airport .seven .caption {
		@include animation-delay(15s);
	}
	.list-airport .seven .img-dot {
		@include animation-delay(16s);
	}
	.list-airport .seven .airport {
		@include animation-delay(16s);
	}

	.list-airport .eight .subtitle {
		@include animation-delay(17s);
	}
	.list-airport .eight .caption {
		@include animation-delay(17s);
	}
	.list-airport .eight .img-dot {
		@include animation-delay(18s);
	}
	.list-airport .eight .airport {
		@include animation-delay(18s);
	}

	.list-airport .nine .subtitle {
		@include animation-delay(19s);
	}
	.list-airport .nine .caption {
		@include animation-delay(19s);
	}
	.list-airport .nine .img-dot {
		@include animation-delay(20s);
	}
	.list-airport .nine .airport {
		@include animation-delay(20s);
	}

	.list-airport .ten .subtitle {
		@include animation-delay(21s);
	}
	.list-airport .ten .caption {
		@include animation-delay(21s);
	}
	.list-airport .ten .img-dot {
		@include animation-delay(22s);
	}
	.list-airport .ten .airport {
		@include animation-delay(22s);
	}

	/* --- Big Airport ---- */
	.big-airport .big-img {
		@include animation-delay(2.5s);
	}
	.big-airport .box-white {
		@include animation-delay(23s);
	}

	/* --- Large Airport ---- */
	.data .category {
		@include animation-delay(1s);
	}
	.list-image.one {
		@include animation-delay(2s);
	}
	.list-image.two {
		@include animation-delay(3s);
	}
	.list-image.three {
		@include animation-delay(4s);
	}
	.list-image.four {
		@include animation-delay(5s);
	}
	.list-image.five {
		@include animation-delay(6s);
	}

	/* --- Busy Airport ---- */
	.busy .category {
		@include animation-delay(7.5s);
	}
	.busy .busy-stat {
		@include animation-delay(8.5s);
	}

	/* --- Income Airport ---- */
	.income .category {
		@include animation-delay(9.5s);
	}
	.income .graph {
		@include animation-delay(10.5s);
	}

	/* --- Price Airport ---- */
	.price .one .list-plane {
		@include animation-delay(1.5s);
	}
	.price .two .list-plane {
		@include animation-delay(2.5s);
	}
	.price .three .list-plane {
		@include animation-delay(3.5s);
	}
	.price .four .list-plane {
		@include animation-delay(4.5s);
	}
	.price .five .list-plane {
		@include animation-delay(5.5s);
	}
}

@media screen and (max-width: 992px) {
	.container {
		padding: 0 15px;
	}
	section {
		margin: 0 0 15px 0;
	}
	/* ---List Airport ---- */
	.data .col-md-7 {
	    padding-right: 0;
	}
	.list-airport ul {
		-webkit-column-count: 1;
	  	-moz-column-count: 1;
	  	column-count: 1;
	}
	.list-airport li {
	    height: auto;
	    margin: 0 0 50px 0;
	}
	.list-airport .img-dot {
		display: none;
	}
	.list-airport .airport {
		display: block;
	    width: 210px;
	    margin: 0 auto;
	}
	/* --- Block Airport---- */
	.block-airport {
		top: 0 !important;
	}
	/* --- Title ---- */
	.title {
		width: 100%;
	}
	.title h1 {
		font-size: 20px;
		font-weight: 700;
		line-height: 140%;
	}
	.title p {
		color: $text;
		font-size: 14px;
		line-height: 140%;
	}
	/* --- Caption ---- */
	.caption {
		margin: 0 0 15px 0;
	}
	.box-white {
		padding: 0;
		background: none;
	}

	/* --- Big Airport ---- */
	.big-airport  {
		position: relative;
		top: -80px;
	}
	.big-airport .box-white {
		position: relative;
	    width: 100%;
	    right: 0;
	    margin: 82px 0 0 0;
	}
	.big-img {
	    display: block;
	    width: 100%;
	    margin: 30px auto 0;
	}
	/* --- Large Airport ---- */
	.text-left {
		width: 100%;
		padding-right: 0;
	}
	.list-image {
		margin: 0 0 25px 0;
	}
	.list-image img {
		width: 100%;
	}
	/* --- Busy Airport ---- */
	.busy-stat {
		width: 100%;
	}
	/* --- List Plane ---- */
	.price ul {
		-webkit-column-count: 1;
	  	-moz-column-count: 1;
	  	column-count: 1;
	}
	.price li {
		width: 100%;
	}
	.list-plane img {
		width: 100%;
	}
}