@charset 'utf-8';
/* ==========================================================================
Author        :  Arif Lutfhansah
Create        :  15 May 2017
Last Update   :  4 July 2017

Contents  :
  1: Header Section
  
========================================================================== */

.sprite {
	background-image: url(../images/spritesheet.png);
	background-repeat: no-repeat;
	display: block;
}
/*
  Kanal Nasional
-------------------------------------*/
$primary-nasional : #D32F2F;
$secondary-nasional : #E57373;
/* --- Primary ---- */


@media screen and (max-width: 1082px) {
  
}