footer{padding:18px 0;color:#FFF;text-align:center;background-color:#303030}.sosmed li{display:inline-block;padding:0 2px 12px}.sosmed i{position:relative;width:46px;height:41px;zoom:.7}.sosmed i:hover{opacity:.7}.facebook{background-position:-6px -3px}.twitter{background-position:-54px -3px}.instagram{background-position:-104px -3px}.youtube{background-position:-155px -3px}
