/*
Error: Inconsistent indentation: "\t    " was used for indentation, but the rest of the document was indented using 1 tab.
        on line 5 of /Applications/XAMPP/xamppfiles/htdocs/sindonews/project/infografis/honda/assets/js/auto-scroll.js

1: $(document).ready(function() {
2: 	/* Start Scroll *\/
3: 	var oneSecond = 20000;
4: 	$('.smoothScroll').on('click', function() {
5: 	    $("html, body").animate({ 
6: 	    	scrollTop: $(document).height() 
7: 	    }, 30 * oneSecond, 'linear');
8: 	    $("html, body").bind("mousewheel", function() {
9: 		    return false;
10: 		});

Backtrace:
/Applications/XAMPP/xamppfiles/htdocs/sindonews/project/infografis/honda/assets/js/auto-scroll.js:5
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.3/lib/sass/engine.rb:494:in `block in tabulate'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.3/lib/sass/engine.rb:452:in `each'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.3/lib/sass/engine.rb:452:in `each_with_index'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.3/lib/sass/engine.rb:452:in `tabulate'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.3/lib/sass/engine.rb:417:in `_to_tree'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.3/lib/sass/engine.rb:290:in `render'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.3/lib/sass/plugin/compiler.rb:464:in `update_stylesheet'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.3/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.3/lib/sass/plugin/compiler.rb:209:in `each'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.3/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.3/lib/sass/plugin.rb:82:in `update_stylesheets'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.3/lib/sass/exec/sass_scss.rb:340:in `watch_or_update'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.3/lib/sass/exec/sass_scss.rb:51:in `process_result'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.3/lib/sass/exec/base.rb:52:in `parse'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.3/lib/sass/exec/base.rb:19:in `parse!'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.3/bin/sass:13:in `<top (required)>'
/usr/local/bin/sass:22:in `load'
/usr/local/bin/sass:22:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Inconsistent indentation: \"\t    \" was used for indentation, but the rest of the document was indented using 1 tab.\A         on line 5 of /Applications/XAMPP/xamppfiles/htdocs/sindonews/project/infografis/honda/assets/js/auto-scroll.js\A \A 1: $(document).ready(function() {\A 2: 	/* Start Scroll */\A 3: 	var oneSecond = 20000;\A 4: 	$('.smoothScroll').on('click', function() {\A 5: 	    $(\"html, body\").animate({ \A 6: 	    	scrollTop: $(document).height() \A 7: 	    }, 30 * oneSecond, 'linear');\A 8: 	    $(\"html, body\").bind(\"mousewheel\", function() {\A 9: 		    return false;\A 10: 		});"; }
