/*
Error: Invalid variable: "$('body').css({'height': '71040px'});".
        on line 3 of /Applications/XAMPP/xamppfiles/htdocs/sindonews/project/infografis/tol/assets/js/scroll.js

1: //set body height to the width of the horizontal scroll area
2: //$('body').css('height', $('.horizontal-scroll-area')[0].clientWidth * $('.item').length + 'px'); DEFAULT
3: $('body').css({'height': '71040px'});
4: //translate vertical scrolling into horizontal scrolling
5: var prevTop = 0;
6: $(window).on('scroll', function(){
7:   //get current vertical scroll value
8:   var currentTop = $(this).scrollTop();

Backtrace:
/Applications/XAMPP/xamppfiles/htdocs/sindonews/project/infografis/tol/assets/js/scroll.js:3
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.3/lib/sass/engine.rb:771:in `parse_variable'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.3/lib/sass/engine.rb:651:in `parse_line'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.3/lib/sass/engine.rb:540:in `build_tree'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.3/lib/sass/engine.rb:559:in `block in append_children'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.3/lib/sass/engine.rb:558:in `each'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.3/lib/sass/engine.rb:558:in `append_children'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.3/lib/sass/engine.rb:417:in `_to_tree'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.3/lib/sass/engine.rb:290:in `render'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.3/lib/sass/plugin/compiler.rb:464:in `update_stylesheet'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.3/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.3/lib/sass/plugin/compiler.rb:209:in `each'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.3/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.3/lib/sass/plugin.rb:82:in `update_stylesheets'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.3/lib/sass/exec/sass_scss.rb:340:in `watch_or_update'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.3/lib/sass/exec/sass_scss.rb:51:in `process_result'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.3/lib/sass/exec/base.rb:52:in `parse'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.3/lib/sass/exec/base.rb:19:in `parse!'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.3/bin/sass:13:in `<top (required)>'
/usr/local/bin/sass:22:in `load'
/usr/local/bin/sass:22:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid variable: \"$('body').css({'height': '71040px'});\".\A         on line 3 of /Applications/XAMPP/xamppfiles/htdocs/sindonews/project/infografis/tol/assets/js/scroll.js\A \A 1: //set body height to the width of the horizontal scroll area\A 2: //$('body').css('height', $('.horizontal-scroll-area')[0].clientWidth * $('.item').length + 'px'); DEFAULT\A 3: $('body').css({'height': '71040px'});\A 4: //translate vertical scrolling into horizontal scrolling\A 5: var prevTop = 0;\A 6: $(window).on('scroll', function(){\A 7:   //get current vertical scroll value\A 8:   var currentTop = $(this).scrollTop();"; }
