@import url(https://fonts.googleapis.com/css?family=Bitter:400,400italic|Open+Sans:400);
body {
  font-family: open sans, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #ee1d25;
  background: radial-gradient(ellipse at center, #ef3037 0%, #ee1d25 100%);
}
h1 {
  font-family: bitter, serif;
  font-weight: normal;
  font-size: 15vw;
  line-height: .8;
  letter-spacing: -0.045em;
  color: white;
}
h1 em {
  display: block;
  font-size: 9vw;
  letter-spacing: -0.035em;
}
h2 {
  margin: 0;
  line-height: 1;
}
#pop-up {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 25vh;
  left: 12.5vw;
  width: 75vw;
  height: 50vh;
  background: white;
  border: solid .125em lightgrey;
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-animation: pop-up 0.2s 2s;
          animation: pop-up 0.2s 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(1, 0.3, 0.5, 1.3);
          animation-timing-function: cubic-bezier(1, 0.3, 0.5, 1.3);
}
#pop-up:target {
  -webkit-animation: pop-down 0.075s;
          animation: pop-down 0.075s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
a[href="#pop-up"] {
  text-decoration: none;
  display: inline-block;
  box-sizing: border-box;
  padding: .75em 1.5em;
  font-size: 2em;
  color: white;
  background: #ee1d25;
  border-radius: 5px;
  transition: background .35s;
}
a[href="#pop-up"]:hover,
a[href="#pop-up"]:focus {
  background: #f0353c;
}
a[href="#pop-up"]:active {
  transition: background .075s;
  background: #c90f16;
}
a[href="#pop-up"]:after {
  content: '×';
  position: absolute;
  top: .125em;
  right: .125em;
  font-size: 2em;
  line-height: .45;
  color: #231a16;
  transition: color .35s;
}
@-webkit-keyframes pop-up {
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes pop-up {
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes pop-down {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}
@keyframes pop-down {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}
