.sprite{background-image:url(../images/spritesheet.png);background-repeat:no-repeat;display:block}header{position:absolute;top:30px;display:block;width:100%;text-align:center;background:transparent;z-index:99}@media (max-width: 500px){header img{width:290px}}
