footer{position:relative;top:112px;padding:18px 0;color:#FFF;text-align:center;background-color:#002A31}.sosmed{padding:10px 0}.sosmed li{display:inline-block;padding:0 5px 12px}.sosmed i{position:relative;width:128px;height:128px;zoom:.4}.sosmed i:hover{opacity:.7}.sosmed .facebook{background-position:-7px 0px}.sosmed .twitter{background-position:-144px 0px}.sosmed .instagram{background-position:-283px 0px}.sosmed .youtube{background-position:-556px 0px}.copyright{font-weight:700}
