/*
Error: Inconsistent indentation: previous line was indented by 3 spaces, but this line was indented by 2 spaces.
        on line 1025 of /Applications/XAMPP/xamppfiles/htdocs/sindonews/project/microsite/cms/public/css/admin/style.css

1020:   background-size: cover !important;
1021:   padding: 5.5% 4.5%; }
1022: 
1023: /*===================================
1024:    Topbar,Left-sidebar,Right-sidebar
1025:   ===================================*\/
1026: .topbar {
1027:   left: 0;
1028:   position: fixed;
1029:   right: 0;
1030:   top: 0;

Backtrace:
/Applications/XAMPP/xamppfiles/htdocs/sindonews/project/microsite/cms/public/css/admin/style.css:1025
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.3/lib/sass/engine.rb:509:in `try_comment'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.3/lib/sass/engine.rb:482:in `block in tabulate'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.3/lib/sass/engine.rb:452:in `each'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.3/lib/sass/engine.rb:452:in `each_with_index'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.3/lib/sass/engine.rb:452:in `tabulate'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.3/lib/sass/engine.rb:417:in `_to_tree'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.3/lib/sass/engine.rb:290:in `render'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.3/lib/sass/plugin/compiler.rb:464:in `update_stylesheet'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.3/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.3/lib/sass/plugin/compiler.rb:209:in `each'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.3/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.3/lib/sass/plugin.rb:82:in `update_stylesheets'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.3/lib/sass/exec/sass_scss.rb:340:in `watch_or_update'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.3/lib/sass/exec/sass_scss.rb:51:in `process_result'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.3/lib/sass/exec/base.rb:52:in `parse'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.3/lib/sass/exec/base.rb:19:in `parse!'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.3/bin/sass:13:in `<top (required)>'
/usr/local/bin/sass:22:in `load'
/usr/local/bin/sass:22:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Inconsistent indentation: previous line was indented by 3 spaces, but this line was indented by 2 spaces.\A         on line 1025 of /Applications/XAMPP/xamppfiles/htdocs/sindonews/project/microsite/cms/public/css/admin/style.css\A \A 1020:   background-size: cover !important;\A 1021:   padding: 5.5% 4.5%; }\A 1022: \A 1023: /*===================================\A 1024:    Topbar,Left-sidebar,Right-sidebar\A 1025:   ===================================*/\A 1026: .topbar {\A 1027:   left: 0;\A 1028:   position: fixed;\A 1029:   right: 0;\A 1030:   top: 0;"; }
